@import "../../../../variables.scss";
.profile-body {
  margin-top: 24px;
  padding: 24px;
  background-color: $white-color;
  width: 100%;
  height: calc(100vh - 237px);
  overflow-y: auto;

  & .mat-form-field {
    width: 100%;
  }

  & .profile-row-1 {
    margin-top: 24px;
  }

  & .user {
    &-container {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
    }

    &-name, &-pic {
      display: block;
    }

    &-label {
      width: 82px;
      height: 82px;
      border-radius: 100%;
      background-color: $primary-color;
      border: 1px solid $gray-v2-color;
      overflow: hidden;
      vertical-align: middle;
      display: flex;
      align-items: center;
      justify-content:center;

      & img {
        height: 100%;
        width: auto;
      }

      h1 {
        margin: 0;
        line-height: 82px;
        width: 100%;
      }
    }

    &-pic {
      margin-top: 16px;

      & .custom-upload-btn {
        height: 32px;
        min-width: 142px;
        background-color: $white-color;
        border: $gray-v8-color solid 1px;
        border-radius: 16px;
        font-size: 14px;
        font-weight: 600;
        font-family: 'Poppins', "Helvetica Neue", sans-serif;
      }
    }

    &-details {
      display: inline-block;
      width: 100%;
      margin-top: 32px;

      & .last-row {
        margin-top: 16px;
      }
    }
  }
}
