<mat-tab-group>
  <mat-tab label="Profile">
    <div class="profile-body">
      <h5>My Profile</h5>
      <div class="profile-row-1">
        <form [formGroup]="myaccountform">
        <div class="elem-p">
          <div class="elem-c">
             <div class="user-container">
               <div class="user-name">
                 <div class="user-label" [ngClass]="{'profile-pic': profilePic}">
                   <h1 *ngIf="!profilePic">{{nameAcronym}}</h1>
                   <img [src]="profilePic"  alt="profile pic" *ngIf="profilePic" />
                 </div>
               </div>
               <div class="user-pic">
                 <button md-raised-button class="custom-upload-btn" (click)="fileInput.click()">Change Picture</button>
                 <input hidden type="file" formControlName="profileImgFile" #fileInput accept="image/*" (change)="uploadProfilePic($event)">
               </div>
             </div>
          </div>
        </div>

        <div class="user-details">
          
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="full-width">
                  <input matInput (input)="onlyChars($event,'fn')" placeholder="First Name" formControlName="firstName" value="{{userData.firstname}}" required>
                  <mat-error *ngIf="firstName.touched && firstName.invalid">
                    <div *ngIf="firstName.errors.required">First Name is required.</div>
                    <div *ngIf="firstName.errors.pattern">Allow only Spaces and Letters</div>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="full-width">
                  <input matInput (input)="onlyChars($event,'ln')" placeholder="Last Name" formControlName="lastName" value="{{userData.lastname}}" required>
                  <mat-error *ngIf="lastName.touched && lastName.invalid">
                    <div *ngIf="lastName.errors.required">Last Name is required.</div>
                    <div *ngIf="lastName.errors.pattern">Allow only Spaces and Letters</div>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="full-width">
                  <input matInput (input)="handlePhone($event,'cell')" maxlength="14" placeholder="Cell Phone" formControlName="cellPhone" value="{{userData.cellphonenumber}}" required>
                  <mat-error *ngIf="cellPhone.touched && cellPhone.invalid">
                    <div *ngIf="cellPhone.errors.required">Cell Phone is required.</div>
                    <div *ngIf="cellPhone.errors.pattern">Allow only Numbers</div>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="full-width">
                  <input matInput (input)="handlePhone($event,'business')" maxlength="14" placeholder="Business Phone" formControlName="businessPhone" value="{{userData.businessphoneNumber}}" required>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="full-width">
                  <input matInput (input)="aplphaNumericInput($event)" placeholder="Member License No" formControlName="memberLicenseNo" value="{{userData.licenseno}}" required>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button mat-raised-button class="secondary-btn float-right last-row" color="primary" (click)="saveProfileDetails()">Save Changes</button>
              </div>
            </div>
          
        </div>
      </form>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Change Password">
    <div class="profile-body">
      <form [formGroup]="changePasswordForm" (ngSubmit)="onFormSubmit()">
        <div class="row">
          <div class="col-md-12">
            <mat-form-field>
              <!--<mat-icon matPrefix class="icon-password_ic"></mat-icon>-->
              <input matInput type="password" placeholder="Old Password" formControlName="oldPassword" required>
              <mat-error *ngIf="oldPassword.touched && oldPassword.invalid">
                <div *ngIf="oldPassword.errors">
                  <!-- <div *ngIf="f.password.errors.required">Password is required</div> -->
                  <div *ngIf="oldPassword.errors.minlength">Password must be at least 8 characters</div>
                </div>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field>
              <!--<mat-icon matPrefix class="icon-password_ic"></mat-icon>-->
              <input matInput type="password" placeholder="New Password" formControlName="newPassword" required>
              <mat-error *ngIf="newPassword.touched && newPassword.invalid">
                <div *ngIf="newPassword.errors">
                  <!-- <div *ngIf="f.password.errors.required">Password is required</div> -->
                  <div *ngIf="newPassword.errors.minlength">Password must be at least 8 characters</div>
                </div>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field>
              <!--<mat-icon matPrefix class="icon-password_ic"></mat-icon>-->
              <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword" required>
              <mat-error *ngIf="confirmPassword.touched && confirmPassword.invalid">
                <div *ngIf="confirmPassword.errors">
                  <!-- <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div> -->
                  <div *ngIf="confirmPassword.errors.mustMatch">Passwords must match</div>
                </div>

              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <button mat-raised-button [disabled]="changePasswordForm.invalid" class="secondary-btn float-right" color="primary">Change Password</button>

      </form>

    </div>
  </mat-tab>
</mat-tab-group>


