<div class="container-fluid welcome-screen login-container">
  <div class="row">
    <div class="col-md-12 ">
      <div class="elem-p welcome-screen-branding-container">
        <div class="float-left backto-home">
          <a class="" href="javascript:void(0)" routerLink="/login" routerLinkActive="active">
            <span><i class="material-icons">keyboard_arrow_left</i></span>
            <span>Back to home</span>
          </a>
        </div>

        <div class="elem-c">
          <div class="branding "><span class="icon-adinovis"></span></div>
          <p>Adapt. Improve. Grow</p>
        </div>
      </div>
    </div>
  </div>
  <div class="elem-p">
    <div class="elem-c">
     <!-- Rest Password -->
      <ng-container *ngIf="!isToken">
        <div class="forgot">
          <div class="row forgot-content">
            <div class="col-md-12 r-one">
              <div class="elem-p">
                <div class="elem-c">
                  <div class="ico-bg-circle-48">
                    <span class="icon-forgot-password"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 r-two">
              <h5>Forgot Your Password?</h5>
            </div>
            <form [formGroup]="resetform" (ngSubmit)="onFormSubmit()" class="resetForm">
              <div class="col-md-12 r-two">
                <mat-form-field>
                  <mat-icon matPrefix class="icon-password_ic"></mat-icon>
                  <input matInput type="password" placeholder="New password" formControlName="newPassword" required>
                  <mat-error *ngIf="newPassword.touched && newPassword.invalid">
                    <div *ngIf="newPassword.errors">
                      <div *ngIf="newPassword.errors.minlength">Password must be at least 8 characters</div>
                    </div>
                  </mat-error>
                </mat-form-field>

              </div>
              <div class="col-md-12 r-two">
                <mat-form-field>
                  <mat-icon matPrefix class="icon-password_ic"></mat-icon>
                  <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword" required>
                  <mat-error *ngIf="confirmPassword.touched && confirmPassword.invalid">
                    <div *ngIf="confirmPassword.errors">
                      <div *ngIf="confirmPassword.errors.mustMatch">Passwords must match</div>
                    </div>

                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-12 last-row">
                <button mat-raised-button class="secondary-btn" color="primary">Set Password</button>
              </div>
            </form>
          </div>
        </div>
      </ng-container>
      
      <!-- Reset Email Sent  -->

      <!--Password reset successful! -->
      <ng-container *ngIf="isToken">
        <div class="dailog-box">
          <div class="row dailog-box-content">
            <div class="col-md-12 r-one ico-header">
              <div class="elem-p">
                <div class="elem-c">
                  <div class="ico-bg-circle-48">
                    <span class="icon-tick"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 r-two">
              <h5>Password reset successful!</h5>
            </div>
            <div class="col-md-12 r-three">
              <p>Your password has been reset successfully, you may now use the new password to login to your account!</p>
            </div>
            <div class="col-md-12 last-row">
              <button mat-raised-button class="secondary-btn" color="primary" routerLink="/login">Done</button>
            </div>
          </div>
        </div>
      </ng-container>

      <div class="row">
        <div class="col-md-12 dark forgot-footer">
          <a class="" href="javascript:void(0)">EULA</a>
          <span class="devider">I</span>
          <a href="javascript:void(0)">Privacy Policy</a>
        </div>
      </div>
    </div>
  </div>
</div>
