<div class="reports">

  <div class="col-md-12 ng-star-inserted">
    <div class="row full-row">
      <div class="tBalance-left">
        <h5 class="ntr-title">Reports</h5>
      </div>
      <div class="tBalance-right">
        <div class="tBalanceitems">
          <button class="secondary-btn float-left mat-raised-button mat-secondary" color="secondary" type="button" ng-reflect-color="secondary">
            <span class="mat-button-wrapper"><i class="material-icons">arrow_upward</i>Export </span>
          </button>
        </div>
        <div class="tBalanceitems">
          <button class="secondary-btn float-left mat-raised-button mat-secondary" color="secondary" type="button" ng-reflect-color="secondary">
            <span class="mat-button-wrapper"><i class="material-icons">print</i>Print </span>
          </button>
        </div>
      </div>

    </div>
  </div>

  <div class="cp-container">
    <div class="cp-view">
      <mat-tab-group>
        <mat-tab label="Financial Statements">
          Financial Statements
        </mat-tab>
        <mat-tab label="Final Adjusting Entries">
          Final Adjusting Entries
        </mat-tab>
        <mat-tab label="Final Trial Balance">
          Final Trial Balance
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>



