<div class="col-md-12">
  <div class="row full-row">
    <div class="ClBalance-left">
      <div class="clientListFilter">
        <mat-form-field>
          <mat-label>Filter</mat-label>
          <mat-select [(ngModel)]="clientFilter" (selectionChange)="clinetListFilter($event)">
            <mat-option *ngFor="let filter of ClienttListFilter" [value]="filter.value">
              {{filter.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>

<div class="tbl-grid-container">
  <!-- <mat-progress-spinner *ngIf="isLoader"
      class="example-margin"
      [color]="color"
      [mode]="mode"
      [value]="value" style="margin:0 auto;">
  </mat-progress-spinner> -->
  <!-- <ngx-spinner bdColor="rgba(51,51,51,0.8)"
                size="medium" color="#fec54f"  type="ball-spin-clockwise">
  </ngx-spinner> -->



  <table class="customized-sort" mat-table [dataSource]="gridData" matSort matSortActive="name" matSortDirection="asc" matSortDisableClear>

    <!-- Client Name Column -->
    <ng-container matColumnDef="businessname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="clientname-col">
        <span>Client Name</span>
      </th>
      <td mat-cell *matCellDef="let element" class="clientname-coltd" title="{{element.businessname}}"> <strong>{{element.businessname}}</strong> </td>
    </ng-container>

    <!-- Engagements Column -->
    <ng-container matColumnDef="engagements">
      <th mat-header-cell *matHeaderCellDef class="col-engagement"> <span>Engagements</span> </th>
      <td mat-cell *matCellDef="let element" class="engagements-field"> <a href="javascript:void(0)" (click)="element.engagement ? showClientEngagements(element): null">{{element.engagement}} </a></td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef class="col-status">
        <span class="status-lbl">Status</span>
        <span>
          <button mat-icon-button [matMenuTriggerFor]="statusFilter">
            <mat-icon>filter_list</mat-icon>
          </button>
          <mat-menu #statusFilter="matMenu" class="filterContent status-lbl"
                    #beforeMenu="matMenu" xPosition="before">
            <div (click)="$event.stopPropagation()">
              <ng-container *ngFor="let status of clientStatusDetails">
                <mat-checkbox ([ngModel])="status.statusname" (change)="clientStatusFilter(status)">{{status.statusname}}</mat-checkbox> <!--[(ngModel)]=""-->
              </ng-container>
            </div>

          </mat-menu>
        </span>
      </th>
      <td mat-cell *matCellDef="let element">
        <p class="status-block" [ngClass]="{'active': element.statusname == active, 'invited': element.statusname == invited, 'rejected': element.statusname == rejected}">
          {{element.statusname}}
        </p>
      </td>
    </ng-container>

    <!-- Accounting Software Column -->
    <ng-container matColumnDef="accountingSoftware">
      <th mat-header-cell *matHeaderCellDef class="col-accountingSoftware">
        <div class="large-screen cols">Accounting Software</div>
        <!--<div class="small-screen cols accountingSoftware-lbl">
          <p>Accounting</p>
          <p>Software</p>
        </div>-->
        <span>
          <button mat-icon-button [matMenuTriggerFor]="statusFilter">
            <mat-icon>filter_list</mat-icon>
          </button>
          <mat-menu #statusFilter="matMenu" class="filterContent"
                    #beforeMenu="matMenu" xPosition="before">
            <div (click)="$event.stopPropagation()">
              <mat-checkbox [(ngModel)]="showQuickbooks" (change)="filterAccSoftware($event, 'qb')">Quickbooks</mat-checkbox>
              <mat-checkbox [(ngModel)]="showXero" (change)="filterAccSoftware($event, 'xero')">Xero</mat-checkbox>
            </div>
          </mat-menu>
        </span>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.sourcelink}} </td>
    </ng-container>
    <!-- Contact Person Column -->
    <ng-container matColumnDef="contactPerson">
      <th mat-header-cell *matHeaderCellDef>
        <span>Contact Person</span>
      </th>
      <td mat-cell *matCellDef="let element">
        <p class="contact-preson">{{element.contactperson}}</p>
      </td>
    </ng-container>
    <!-- Type Of Entity Column -->
    <ng-container matColumnDef="typeOfEntity">
      <th mat-header-cell *matHeaderCellDef>
        <span>Type Of Entity</span>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.typeofentityname}} </td>
    </ng-container>
    <!-- Date On boarded Column -->
    <ng-container matColumnDef="clientonboarding">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="col-clientonboarding">
        <div class="large-screen cols">Date Onboarded</div>
        <!--<div class="small-screen cols">
          Date Onboarded
          <p>Date</p>
          <p>Onboarded</p>
        </div>-->
      </th>
      <td mat-cell *matCellDef="let element"> {{element.clientonboarding | date:'MM/dd/yyyy'}} </td>
    </ng-container>
    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="col-actions">
        <span>Actions</span>
      </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="secondary" [matMenuTriggerFor]="actionMenu"><span>Actions</span> <span class="material-icons">arrow_drop_down</span></button>
        <mat-menu #actionMenu="matMenu" class="filterContent action-content"
                  #beforeMenu="matMenu" xPosition="before">
          <!--<div (click)="$event.stopPropagation()">-->
          <button mat-menu-item *ngIf="element.statusid==5" (click)="engagementForClient(element)">Create New Engagement</button>
          <button mat-menu-item (click)="editClient(element)">Edit</button>
          <button mat-menu-item (click)="deleteClient(element.businessname,element.clientfirmid,element.engagement)">Delete</button>
          <button *ngIf="element.statusid==4 ||element.statusid==6 " mat-menu-item (click)="resendLinkToClient(element.emailaddress,element.businessname)">Re-Invite</button>
          <!--</div>-->
        </mat-menu>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <!-- <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons [hidden]="hidePagination"></mat-paginator> -->

</div>

<ng-template #deleteClientDialog>
  <div mat-dialog-content class="dialogBox">
    <!-- <button class="transparent-btn float-right close-btn" [mat-dialog-close]><i class="material-icons" >close</i></button> -->
    <div class="elem-p">
      <div class="elem-c">
        <span class="icon-warning warning"></span>
        <h5>Delete Client</h5>
        <p class="mar-t-20">Are you sure you want to delete client <b>{{clientName}}</b></p>
      </div>
    </div>



  </div>
  <div mat-dialog-actions class="dialogBoxActions">
    <button mat-raised-button class="secondary-btn l30 float-left" color="secondary" [mat-dialog-close]>Cancel</button>
    <button mat-raised-button class="secondary-btn l30 float-right" color="primary" [mat-dialog-close] (click)="confirmDeleteClient()">OK</button>
  </div>
</ng-template>
<!-- ensure engagement must be deleted before deleting client -->
<ng-template #alertdeleteClientDialog>
  <div mat-dialog-content class="dialogBox">
    <!-- <button class="transparent-btn float-right close-btn" [mat-dialog-close]><i class="material-icons" >close</i></button> -->
    <div class="elem-p">
      <div class="elem-c">
        <span class="icon-warning warning"></span>
        <h5>Delete Client</h5>
      </div>
    </div>
    <p class="mar-t-20"> Client <b>{{clientName}}</b> have <b>{{engagementCount}}</b> engagements;</p>
    <p>Delete respective engagements to delete client.</p>

  </div>
  <div mat-dialog-actions class="dialogBoxActions">
    <button mat-raised-button class="secondary-btn l30 float-right" color="primary" [mat-dialog-close]>Ok</button>
    <!-- <button mat-raised-button class="secondary-btn l30 float-right" color="primary" [mat-dialog-close] (click)="confirmDeleteClient()">Ok</button> -->
  </div>
</ng-template>

<!-- New client has been added successfully! -->
<ng-template #inviteClientDialosdsg>
  <div mat-dialog-content class="dialogBox">
    <button class="transparent-btn float-right close-btn" [mat-dialog-close] routerLink="/dashboard">
      <i class="material-icons">close</i>
    </button>
    <div class="elem-p">
      <div class="elem-c" *ngIf="router.url === '/dashboard/addclient'">
        <div class="elem-p">
          <div class="elem-c">
            <div class="ico-bg-circle-48">
              <span class="icon-tick"></span>
            </div>
          </div>
        </div>
        <h5 style="color:black">client  has been invited successfully!</h5>
        <p>Email invitation is shared to</p>
      </div>
      <div class="elem-c" *ngIf="router.url === '/dashboard/editclient'">
        <div class="elem-p">
          <div class="elem-c">
            <div class="ico-bg-circle-48">
              <span class="icon-tick"></span>
            </div>
          </div>
        </div>
        <h5>Client has been updated successfully!</h5>
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="dialogBoxActions">
    <button mat-raised-button class="secondary-btn float-right" [mat-dialog-close] routerLink="/dashboard" color="secondary">Back to Clients</button>
  </div>

</ng-template>


<ng-template #inviteClientDialog>
  <div mat-dialog-content class="dialogBox">
    <!-- <button class="transparent-btn float-right close-btn" [mat-dialog-close]><i class="material-icons" >close</i></button> -->
    <div class="elem-p">
      <!-- <div class="elem-c">
        <h5>Delete Client</h5>
      </div> -->


      <h5 style="color:black">Client <b>{{resendBuisnessName}}</b> has been invited successfully!</h5>
      <p class="mar-t-20">Email invitation is shared to  <b>{{resendEmail}}</b></p>
    </div>

  </div>
  <div mat-dialog-actions class="dialogBoxActions">
    <button mat-raised-button class="secondary-btn l30 float-left" color="secondary" [mat-dialog-close]>Cancel</button>
    <button mat-raised-button class="secondary-btn l30 float-right" color="primary" [mat-dialog-close] (click)="confirmDeleteClient()">Ok</button>
  </div>
</ng-template>
