<div class="clear-bodySpace-top">
  <div [@.disabled]="true">
    <mat-tab-group (selectedTabChange)="showFinancestatement()">
      <mat-tab label="Trial Balance">
        <trailbalance-details></trailbalance-details>
      </mat-tab>
      <mat-tab label="Compilation Procedures">
        <compilation-procedures></compilation-procedures>
      </mat-tab>
      <mat-tab label="Financial Statements" >
        <ng-container *ngIf="isFinanceStatement">
            <app-financial-statement></app-financial-statement>
        </ng-container>
        
      </mat-tab>
      <mat-tab label="Reports">
        <app-reports></app-reports>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
