<div class="elem-p">
  <div class="elem-c">
      <div class="adinovis_badge">
        <img src="../../../../assets/images/adinovis_logo.png" alt="" />
      </div>
      <div class="adinovis_dev_status">
        <h1>Development in Progress</h1>
        <h6>Client Acceptance</h6>
      </div>
  </div>
</div>
