<div class="Cover-Page" id="after1">
  <h5 class="ntr-title" *ngIf="router.url !== '/dashboard/financialstatementexport'">Cover Page</h5>
  <button *ngIf="router.url !== '/dashboard/financialstatementexport'" class="secondary-btn float-right mat-raised-button mat-secondary" color="secondary" ng-reflect-color="secondary">
    <span class="mat-button-wrapper"><i class="material-icons">arrow_upward</i>Settings</span>
  </button>
  <button (click)="showStatementPreview()" *ngIf="router.url !== '/dashboard/financialstatementexport'" class="secondary-btn float-right mat-raised-button mat-secondary" color="secondary" ng-reflect-color="secondary">
    <span class="mat-button-wrapper"><i class="material-icons">arrow_upward</i>Export</span>
  </button>
  <div class="report-sheet-wrapper-container" >
    <div class="report-sheet" [ngStyle]="{'border':router.url === '/dashboard/financialstatementexport' ? 'none' : 'default' }">
      <div class="report-sheet-header">
        <div *ngIf="router.url !== '/dashboard/financialstatementexport' && !coverImage" class="report-sheet-header-defaultlogo" >
          <img class="default-img" src="../../../../assets/images/upload.svg" alt="quickbooks" />
          <p>Upload Logo</p>
        </div>
        <div class="report-sheet-header-primarylogo" *ngIf="coverImage">
          <img class="default-img" [src]="coverImage" alt="cover-image" />
        </div>
        <input hidden type="file" #fileInput accept="image/*" (change)="uploadCoverImage($event)">
      </div>
      <div class="report-sheet-body">
        <div class="report-sheet-body-content field-with-noborder">
          <div class="mrgBtm" (click)="openEditor('businessName')" [ngClass]="{'dashed-border': router.url !== '/dashboard/financialstatementexport' }">
            <div [innerHtml]="businessName | safeHtml"></div>
            <div *ngIf="router.url !== '/dashboard/financialstatementexport'" class="edit"><i class="material-icons">create</i></div>
          </div>
          <div (click)="openEditor('financialYear')" [ngClass]="{'dashed-border': router.url !== '/dashboard/financialstatementexport' }">
            <div [innerHtml]="financialYear | safeHtml"></div>
            <div *ngIf="router.url !== '/dashboard/financialstatementexport'" class="edit"><a href="#"><i class="material-icons">create</i></a></div>
          </div>
          <!-- <h5 [innerHtml]="financialYear | safeHtml">FY 18-19</h5> -->
          <!-- <mat-form-field>
            <input matInput [matDatepicker]="dp" placeholder=""  [(ngModel)]="documentDate" [formControl]="date">
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp></mat-datepicker>
          </mat-form-field> -->
          <mat-form-field class="customDatePicker">
              <input style="display:none" matInput [matDatepicker]="dp" placeholder=""  [(ngModel)]="documentDate" (dateChange)="dateChange()">
              <mat-datepicker #dp></mat-datepicker>
          </mat-form-field>
          <div (click)="dp.open()" [ngClass]="{'dashed-border': router.url !== '/dashboard/financialstatementexport' }">
            {{documentDate | date:'MMMM d, y'}}
            <div *ngIf="router.url !== '/dashboard/financialstatementexport'" class="edit"><i class="material-icons">create</i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- inorder to avoid dialog flickr issue loading the editor earlier in background-->
<div [hidden]="true">
  <tinymce [(ngModel)]="editorContent" [config]="config"></tinymce>
</div>

<!--editor dialog-->
<ng-template #textEditor>
  <div class="dialogBox">
    <button class="transparent-btn float-right close-btn" (click)="closeDialog()"><i class="material-icons">close</i></button>
    <div class="elem-p">
      <div class="elem-c">
        
        <div class="col-md-12" style="min-height: 300px">
         
          <tinymce [(ngModel)]="editorContent" [config]="config"></tinymce>
        </div>

      </div>
    </div>
  </div>
  <div mat-dialog-actions class="dialogBoxActions">
    <div class="elem-p">
      <div class="elem-c">
        <button mat-raised-button class="secondary-btn" color="primary" (click)="doneEditing()">DONE</button>
      </div>
    </div>
  </div>
</ng-template>
