@import "../../../../variables.scss";
.Cover-Page {
  h6 {
    font-size: 19px;
  }

  button.secondary-btn {
    margin:0px 23px 32px 23px;

    .mat-button-wrapper {
      /*padding: 0 16px;*/

      .material-icons {
        vertical-align: middle;
      }
    }
  }


  .report {
    &-sheet {
      max-width: 926px;
      min-height: 768px;
      border-radius: 5px;
      border: 1px solid $gray-v2-color;
      margin: 24px auto;
      background: $white-color;
      padding: 40px;
      position: relative;

      &-header {
        margin-bottom: 120px;

        &-defaultlogo {
          width: 125px;
          height: 125px;
          border: 1px solid $secondary-color;
          text-align: center;
          padding-top: 25px;

          & img {
            /*width: 192px;*/
            width: 58px;
          }
        }

        &-primarylogo {
          /*width: 196px;
          height: 152px;
          overflow: hidden;
          vertical-align: middle;
          display: flex;
          align-items: center;
          justify-content: center;*/
          width: auto;
          height: auto;
          overflow: hidden;
          vertical-align: middle;
          display: inline-block;
          align-items: center;
          max-height: 190px;
          justify-content: center;
          /* overflow: hidden; */
          max-width: 190px;


          & img {
            width: 100%;
            height: 100%;
          }
        }
      }

      &-body {
        &-content {
          h4 {
            font-size: 52px;

            span {
              display: block;
            }
          }

          h5 {
            font-size: 40px;
          }

          & mat-form-field {
            width: 120px;
            /*& .mat-form-field-suffix {
              display: none;

              &:active {
                display: block;
              }
            }*/
          }
        }
      }
    }
  }

  .dashed-border {
    border: 1px dashed $white-color;
    position: relative;

    &:hover {
      border: 1px dashed $secondary-color;

      .edit {
        display: block;
      }
    }

    .edit {
      padding-top: 1px;
      padding-right: 7px;
      position: absolute;
      right: 0;
      top: 0;
      display: none;
      cursor: pointer;

      .material-icons {
        font-size: 20px;
        color:$black-color;
      }

    }
  }




  .mrgBtm {
    margin-bottom: 10px;
  }

  .customDatePicker > * {
    padding: 0 !important;
  }
}
