<div class="previewSheet">
  <div [@.disabled]="true">
    <mat-tab-group>
      <mat-tab label="Balance sheet">
        <balance-sheet-preview></balance-sheet-preview>
      </mat-tab>
      <mat-tab label="Income statement">
        <income-sheet-preview></income-sheet-preview>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
