<div class="tbl-gridv2">
  <table mat-table [dataSource]="assetsCashData">
    <!-- Acc No. -->
    <ng-container matColumnDef="accNumCP">
      <th mat-header-cell *matHeaderCellDef> Acc No. </th>
      <td mat-cell *matCellDef="let element"> {{element.accNumCP}} </td>
    </ng-container>

    <!-- Description -->
    <ng-container matColumnDef="descriptionCP">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.descriptionCP}} </td>
    </ng-container>

    <!-- Prelim -->
    <ng-container matColumnDef="prelimCP">
      <th mat-header-cell *matHeaderCellDef> Prelim </th>
      <td mat-cell *matCellDef="let element"> {{element.prelimCP}} </td>
    </ng-container>

    <!-- Adj. -->
    <ng-container matColumnDef="adjusmentCP">
      <th mat-header-cell *matHeaderCellDef> Adj. </th>
      <td mat-cell *matCellDef="let element">
        <button class="transparent-btn" (click)="assetsAdjuEntry()">
          <span class="float-left">{{element.adjusmentCP}}</span>
          <span class="material-icons float-right">arrow_drop_down</span>
        </button>
      </td>
    </ng-container>
    <!-- Final -->
    <ng-container matColumnDef="finalCP">
      <th mat-header-cell *matHeaderCellDef> Final </th>
      <td mat-cell *matCellDef="let element"> {{element.finalCP}} </td>
    </ng-container>
    <!-- Ref. Doc -->
    <ng-container matColumnDef="refDocCP">
      <th mat-header-cell *matHeaderCellDef> Ref. Doc </th>
      <td mat-cell *matCellDef="let element"> {{element.refDocCP}} </td>
    </ng-container>
    <!-- Annotations. -->
    <ng-container matColumnDef="annotationsCP">
      <th mat-header-cell *matHeaderCellDef> Annotations </th>
      <td mat-cell *matCellDef="let element"> {{element.annotationsCP}} </td>
    </ng-container>
    <!-- PY1 -->
    <ng-container matColumnDef="py1CP">
      <th mat-header-cell *matHeaderCellDef> PY1 </th>
      <td mat-cell *matCellDef="let element"> {{element.py1CP}} </td>
    </ng-container>
    <!-- Change ($) -->
    <ng-container matColumnDef="changeCP">
      <th mat-header-cell *matHeaderCellDef> Change ($) </th>
      <td mat-cell *matCellDef="let element"> {{element.changeCP}} </td>
    </ng-container>
    <!-- PY2 -->
    <ng-container matColumnDef="py2CP">
      <th mat-header-cell *matHeaderCellDef> PY2 </th>
      <td mat-cell *matCellDef="let element"> {{element.py2CP}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>


<!-- Assets Cash Adjustment Entry Flyout -->
<ng-container *ngIf="assetsCassAdjFlyOut">
  <div class="flyOut">
    <div class="flyOut-header">
      <div class="float-left">
        <h5>Adjusting Entry</h5>
      </div>
      <div class="float-right">
        <button class="transparent-btn" (click)="closeAdjustment()"><i class="material-icons">close</i></button>
      </div>
    </div>
    <div class="flyOut-body">
      <table mat-table [dataSource]="AsstesCashGridData">

        <!-- ACC.NO -->
        <ng-container matColumnDef="accNum">
          <th mat-header-cell *matHeaderCellDef class="acc-num-col">ACC.NO </th>
          <td mat-cell *matCellDef="let element"> {{element.accNum}} </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- DESCRIPTION Column-->
        <ng-container matColumnDef="decription">
          <th mat-header-cell *matHeaderCellDef class="desc-col">DESCRIPTION </th>
          <td mat-cell *matCellDef="let element"> {{element.decription}} </td>
          <td mat-footer-cell *matFooterCellDef>Total</td>
        </ng-container>

        <!-- FINAL Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef class="type-col"> TYPE </th>
          <td mat-cell *matCellDef="let element" class="field-with-noborder">
            <button class="transparent-btn">
              <mat-form-field class="field-with-textwidth">
                <!--<mat-label>Type</mat-label>-->
                <mat-select [(value)]="selected">
                  <mat-option value="option1">Normal</mat-option>
                  <mat-option value="option2">Recurring</mat-option>
                  <mat-option value="option3">Eliminating</mat-option>
                </mat-select>
              </mat-form-field>
            </button>
          </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <!-- ORIGINAL Column -->
        <ng-container matColumnDef="debit">
          <th mat-header-cell *matHeaderCellDef class="debit-col">DEBIT</th>
          <td mat-cell *matCellDef="let element"> <input type="text" value="{{element.debit}}"></td>
          <td mat-footer-cell *matFooterCellDef>2,500.00 </td>
        </ng-container>

        <!-- ADJUSTING Column -->
        <ng-container matColumnDef="credit">
          <th mat-header-cell *matHeaderCellDef class="credit-col"> CREDIT </th>
          <td mat-cell *matCellDef="let element">
            <input type="text" value="{{element.credit}}">
          </td>
          <td mat-footer-cell *matFooterCellDef>2,500.00 </td>
        </ng-container>


        <!-- PY1 Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="actions-col"> </th>
          <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="!isSaved">
              <div class="savebtn-postentry">
                <button class="transparent-btn" (click)="saveAsstesAdjEntry()">Save</button>
              </div>
            </ng-container>
            <ng-container *ngIf="isSaved">
              <div class="postbtnicons">
                <button mat-icon-button class="transparent-btn"><i class="material-icons">message</i></button>
                <button mat-icon-button class="transparent-btn"><i class="material-icons">outlined_flag</i></button>
                <button mat-icon-button class="transparent-btn"><i class="material-icons">border_color</i></button>
                <button mat-icon-button class="transparent-btn"><i class="roundedtext">ab</i></button>
                <!--<button class="transparent-btn"><i class="material-icons">arrow_drop_down</i></button>-->
                <button mat-icon-button [matMenuTriggerFor]="menu"><i class="material-icons">more_vert</i></button>
                <mat-menu #menu="matMenu" class="postentry-list">
                  <button mat-menu-item>Add New Below </button>
                  <button mat-menu-item>Edit Entry</button>
                  <button mat-menu-item>Add Note</button>
                  <button mat-menu-item>Raise Issue</button>
                  <button mat-menu-item>Sign off</button>
                  <button mat-menu-item>Delete Entry</button>
                </mat-menu>
              </div>
            </ng-container>
          </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="AsstesCashAdjColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: AsstesCashAdjColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="AdjustmentColumns"></tr>
      </table>
      <div class="col-md-12">
        <div class="row full-row Post-Adjustment">
          <div class="tBalance-left Post-Adjustment-leftentry">
            <div class="tBalanceitems">
              <button mat-raised-button class="primary-btn secondary-btn" color="secondary" disabled>Prev Entry</button>
            </div>
            <div class="tBalanceitems post-nextentry">
              <button mat-raised-button class="primary-btn secondary-btn" color="secondary">Next Entry(4)</button>
            </div>
            <div class="tBalanceitems">
              <button mat-raised-button class="primary-btn secondary-btn" color="secondary">View All</button>
            </div>

          </div>
          <div class="tBalance-right Post-Adjustment-rightentry">
            <div class="tBalanceitems">
              <button mat-raised-button class="primary-btn secondary-btn" color="primary">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

