@import "../../../../variables.scss";
.add-client-container {
  background-color: $white-color;
  padding: 24px 0;
  display: inline-block;
  width: 100%;

  .page {
    &-header {
      padding: 0 8% 24px 3%;
      border-bottom: 1px solid $gray-v2-color;

      @media (max-width:1366px) {
        padding-right: 90px;
      }

      & .sequence-navigation {
        ul {
          margin: 0px;
          padding: 0px;
          list-style: none;
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;

          li {
            flex: 1 0 0;
            position: relative;
            z-index: 2;

            p {
              margin: 5px 0 0 0;
              clear: both;
              display: inline-block;
            }

            &.active {
              & .pointer {
                background-color: $primary-color;
                border: 1px solid $primary-v5-color;
                color: $black-v1-color;
              }

              &.middle {
                & .pointer {
                  top: 0;
                }
              }
            }

            &:nth-child(2) {
              flex-grow: 2;
              text-align: center;
            }

            &.first {

              &:after {
                position: absolute;
                content: '';
                width: 100%;
                height: 1px;
                background-color: $gray-v2-color;
                top: 13px;
                left: 2px;
                z-index: -1;
              }
            }

            &.middle {

              & .pointer {
                position: relative;
                top: -4px;
              }

              &:after, &:before {
                position: absolute;
                content: '';
                width: 100%;
                height: 1px;
                background-color: $gray-v2-color;
                top: 13px;
                left: 2px;
                z-index: -1;
              }

              p {
                position: relative;
                left: -26px;
                top: 31px;
              }
            }

            &.last {
              position: relative;

              &:before {
                position: absolute;
                content: '';
                width: 100%;
                height: 1px;
                background-color: $gray-v2-color;
                top: 13px;
                left: 0px;
                z-index: -1;
              }

              p {
                position: absolute;
                left: calc(100% - 26px);
                width: auto;
                display: inline-block;
                white-space: nowrap;
                top: 31px;
              }
            }

            & .pointer {
              width: 26px;
              height: 26px;
              background-color: $white-v2-color;
              border: 1px solid $gray-v2-color;
              font-weight: 500;
              color: $gray-v9-color;
              font-size: 14px;
              text-align: center;
              border-radius: 100%;
              display: inline-block;
            }
          }
        }
      }
    }

    &-body {
      display: inline-block;
      width: 100%;
      padding: 24px;

      h6 {
        font-size: 18px;
        font-weight: 500;
        color: $black-v1-color;
      }

      form {
        display: inline-block;
        width: 100%;
        margin-top: 0px;
      }

      .mat-form-field {
        width: 100%;
        display: block;
      }

      & .mat-icon {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.54);
        width: 22px !important;
      }

      & .mat-raised-button {
        &.secondary-btn {
          width: auto;
          min-width: 150px;
          padding: 0 24px;
          margin-top: 24px;
          box-shadow: none;

          &.mat-secondary {
            background-color: $white-v1-color;
            border: 1px solid $gray-v2-color;
            box-shadow: none;
          }
        }
      }

      .mat-placeholder-required {
        color: red;
      }

      .mat-checkbox-inner-container {
        margin-top: 5px;
      }

      & .preview-client-details {
        h6 {
          color: $black-v1-color;
          font-weight: 400;
          font-size: 18px;
          margin: 0 0 0 0;
        }

        & .preview-sheet {
          margin-top: 24px;
          width: 100%;
          display: flex;
          flex-flow: row nowrap;
          align-items: stretch;


          & .item {
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: calc(50% - 12px);
            border: 1px solid $gray-v2-color;
            border-radius: 6px;
            padding: 24px;

            &.left {
              margin-right: 12px;
            }

            &.right {
              margin-left: 12px;
            }

            & .preview-header {
              h6 {
                font-weight: 500;
                font-size: 18px;
              }

              & .mat-raised-button {
                &.secondary-btn {
                  margin: 0;
                }
              }
            }

            & .preview-body {
              display: inline-block;
              width: 100%;

              p {
                color: $gray-v4-color;
                font-size: 14px;
                margin-bottom: 0px;
                margin-top: 16px;
              }

              h6 {
                color: $secondary-color;
                font-size: 16px;
                font-weight: 500;
              }
            }
          }
        }
      }
    }
  }
}

.dialogBox {
  position:relative;
  width:512px;

  & .ioc{
    font-size:72px;
    color:$primary-color;
  }
  & .close-btn{
    color:$gray-color;
    font-size:16px;
    position:absolute;
    right:13px;
    top:0;
    outline:none;
  }
  h5{
    margin-top:24px;
    font-size:18px;
  }
  p{
    margin-top:20px;
    font-size:14px;
  }

  .mat-form-field{
    width:100%;
    display:inline-block;
  }

  textarea.mat-input-element{
    height:50px;
  }
  
}
.dialogBoxActions{
  &.mat-dialog-actions{
    padding:30px 0 20px 0;
    display: inline-block;
    width: 100%;

    & .secondary-btn{
      box-shadow:none;
      &.mat-secondary{
        border:1px solid $gray-v2-color;
      }
      &.mat-primary{

      }
    }


  }

}
.my-select-panel-class{

}
