<div class="add-client-container">
  <!-- Content -->
  <div class="page-body">
    <!-- 1st Step -->
    <ng-container *ngIf="clientDetails">
      <form [formGroup]="clientDetailsForm" autoComplete="off">
        <h6>Client Details</h6>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <input matInput placeholder="Client Business Name" formControlName="businessName" required>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input matInput placeholder="Contact Person" formControlName="contactPersonName" required>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <mat-form-field>
              <input (input)="handlePhone($event,'business')" matInput placeholder="Business Phone" maxlength="14" formControlName="businessPhone" required>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <input (input)="handlePhone($event,'cell')" maxlength="14" matInput placeholder="Cell Number" formControlName="cellPhone" required>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <input matInput placeholder="Email Address" formControlName="clientEmail" required>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <mat-form-field>
              <mat-label>Jurisdiction</mat-label>
              <mat-select disableOptionCentering panelClass="my-select-panel-class" formControlName="jurisdiction" required >
                <mat-option *ngFor="let jurisdiction of jurisdictionDetails" [value]="jurisdiction.jurisdictionid">
                  {{jurisdiction.provincesname}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <mat-label>Type of Entity</mat-label>
              <mat-select disableOptionCentering panelClass="my-select-panel-class" formControlName="typeOfEntity" required (selectionChange)="onEntityChange()">
                <mat-option *ngFor="let typeOfEntity of typeOfEntityDetails" [value]="typeOfEntity.typeofentityid">
                  {{typeOfEntity.typeofentityname}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="{{customDateTitle}}" [max]="maxIncorpDate" formControlName="incorporationDate" required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button type="button" *ngIf="saveBtnText == 'Update Client'" routerLink="/dashboard/client" mat-raised-button class="secondary-btn float-left" color="secondary">Cancel</button>
            <button mat-raised-button class="secondary-btn float-right" (click)="validateClientDetails()" color="primary">{{saveBtnText}}</button>
          </div>
        </div>
      </form>
    </ng-container>
   
  </div>
</div>

<!-- Dailog Box-->
<!-- New client has been added successfully! -->
<ng-template #addClientDialog>
  <div mat-dialog-content class="dialogBox">
    <!-- <button class="transparent-btn float-right close-btn" [mat-dialog-close] routerLink="/dashboard">
      <i class="material-icons">close</i>
    </button> -->
    <div class="elem-p">
      <div class="elem-c" *ngIf="router.url === '/dashboard/addclient'">
        <div class="elem-p">
          <div class="elem-c">
            <div class="ico-bg-circle-48">
              <span class="icon-new-business"></span>
            </div>
          </div>
        </div>
        <h5>New client <b>{{clientDetailsObj.businessName}}</b> has been added successfully!</h5>
        <p class="mar-t-20">Email invitation is shared to <b>{{clientDetailsObj.clientEmail}}</b></p>
      </div>
      <div class="elem-c" *ngIf="router.url === '/dashboard/editclient'">
        <div class="elem-p">
          <div class="elem-c">
            <div class="ico-bg-circle-48">
              <span class="icon-tick"></span>
            </div>
          </div>
        </div>
        <h5>Client has been updated successfully!</h5>
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="dialogBoxActions">
    <button mat-raised-button class="secondary-btn float-right" [mat-dialog-close] routerLink="/dashboard" color="primary">Go to Clients</button>
  </div>

</ng-template>

<!-- Invite Client -->
<ng-template #inviteClientDialog>
  <div mat-dialog-content class="dialogBox">
    <button class="transparent-btn float-right close-btn"><i class="material-icons">close</i></button>
    <div class="elem-p">
      <div class="elem-c">
        <h5>Invite Client</h5>
      </div>
    </div>
    <mat-form-field>
      <input matInput placeholder="Client Name" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Contact Person" required>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Message" required>Hi Tonia, your auditor Atin Gupta is inviting you to join Adinovis. Follow the insturctions provided in this email</textarea>
    </mat-form-field>

  </div>
  <div mat-dialog-actions class="dialogBoxActions">
    <button mat-raised-button class="secondary-btn float-left" color="secondary">Cancel</button>
    <button mat-raised-button class="secondary-btn float-right" color="primary">Send Invite</button>
  </div>

</ng-template>

<!-- Watch out for Response -->
<ng-template #WatchoutforResponseDialog>
  <div mat-dialog-content class="dialogBox">
    <button class="transparent-btn float-right close-btn"><i class="material-icons">close</i></button>
    <div class="elem-p">
      <div class="elem-c">
        <span class="icon-lock ioc"></span>
        <div class="col-md-12">
          <p><strong>Osinski Group</strong> has been Invited to join the platform as your client. Watch out for their response :)</p>
        </div>

      </div>
    </div>
  </div>
  <div mat-dialog-actions class="dialogBoxActions">
    <div class="elem-p">
      <div class="elem-c">
        <button mat-raised-button class="secondary-btn" color="primary">Close</button>
      </div>
    </div>
  </div>
</ng-template>
