<p>
  S3 UPLOADS TEST SCENARIOS
</p>
1
<div class="col-md-3"><img [src]="profilePic" height="auto" width="100%" alt="profile pic" *ngIf="profilePic" /></div>

<button md-raised-button class="custom-upload-btn" (click)="fileInput.click()">Upload Image</button>
<input hidden type="file"  #fileInput accept="image/*" (change)="uploadProfilePic($event)">
----------------------------------------------
<br />
<br />
<br />
<br />
2
Create Folder
<input type="text" placeholder="folder name" [(ngModel)]="folderName"/>

<button md-raised-button class="custom-upload-btn" (click)="createFolder()">Create Folder</button>


<br>
<br>
<div id="text">sample"'""'"</div>
<button (click)="createTextFile()">Create Text File</button>