@font-face {
  font-family: 'icomoon';
  src:  url('./assets/fonts/icomoon.eot?qunfnr');
  src:  url('./assets/fonts/icomoon.eot?qunfnr#iefix') format('embedded-opentype'),
    url('./assets/fonts/icomoon.ttf?qunfnr') format('truetype'),
    url('./assets/fonts/icomoon.woff?qunfnr') format('woff'),
    url('./assets/fonts/icomoon.svg?qunfnr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
//   speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-adinovis:before {
  content: "\e900";
}

.icon-auditor:before {
  content: "\e901";
}

.icon-client1:before {
  content: "\e902";
}

.icon-email:before {
  content: "\e982";
}

.icon-password_ic:before {
  content: "\e913";
}

.icon-zoom_ic:before {
  content: "\e984";
  color: #2c2c2c;
}

.icon-refresh_trial_balance_ic:before {
  content: "\e985";
}

.icon-save_mapping_ic:before {
  content: "\e986";
}

.icon-settings_ic:before {
  content: "\e903";
}

.icon-testing_factor_ic:before {
  content: "\e904";
}

.icon-unselected_ic:before {
  content: "\e905";
}

.icon-upload_box_ic:before {
  content: "\e906";
}

.icon-upload_ic:before {
  content: "\e907";
}

.icon-field_work_ic:before {
  content: "\e909";
}

.icon-licence_ic:before {
  content: "\e90c";
}

.icon-materiality_ic:before {
  content: "\e90e";
}

.icon-minus_circle_ic:before {
  content: "\e90f";
}

.icon-notification_inactive_ic:before {
  content: "\e910";
}

.icon-open_btn:before {
  content: "\e911";
}

.icon-plus_circle_ic:before {
  content: "\e914";
}

.icon-preview_ic:before {
  content: "\e915";
}

.icon-print_ic:before {
  content: "\e916";
}

.icon-dashboard_ic:before {
  content: "\e919";
}

.icon-deminimis_ic:before {
  content: "\e91a";
}

.icon-edit_ic:before {
  content: "\e91b";
}

.icon-error_ic:before {
  content: "\e91c";
}

.icon-expand_ic:before {
  content: "\e91d";
}

.icon-export_ic:before {
  content: "\e91e";
}

.icon-accounting_software_ic:before {
  content: "\e91f";
}

.icon-add_amount_ic:before {
  content: "\e920";
}

.icon-add_note_ic:before {
  content: "\e921";
}

.icon-archives_ic:before {
  content: "\e922";
}

.icon-attach_ic:before {
  content: "\e923";
}

.icon-camera_ic:before {
  content: "\e925";
}

.icon-check-circle-o:before {
  content: "\e927";
}

.icon-client:before {
  content: "\e928";
}

.icon-collapse_btn:before {
  content: "\e975";
}

.icon-my_account_ic:before {
  content: "\e977";
}

.icon-history_ic:before {
  content: "\e978";
}

.icon-open_engagement_ic:before {
  content: "\e979";
}

.icon-all_clients_ic:before {
  content: "\e97a";
}

.icon-add_clients:before {
  content: "\e97b";
}

.icon-business_address_ic:before {
  content: "\e97e";
}

.icon-business_ic:before {
  content: "\e97f";
}

.icon-cell_phone_ic:before {
  content: "\e980";
}

.icon-name_ic:before {
  content: "\e981";
}

.icon-lock:before {
  content: "\e908";
}

.icon-complete:before {
  content: "\e90a";
}

.icon-tick:before {
  content: "\e90b";
}

.icon-forgot-password:before {
  content: "\e90d";
}

.icon-new-business:before {
  content: "\e912";
}

.icon-invite-sent:before {
  content: "\e917";
}

.icon-engagement:before {
  content: "\e918";
}
.icon-comp-procd .path1:before {
  content: "\e924";
  color: rgb(26, 24, 24);
}

.icon-comp-procd .path2:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.icon-comp-procd .path3:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.icon-financial-statmnt .path1:before {
  content: "\e926";
  color: rgb(26, 24, 24);
}

.icon-financial-statmnt .path2:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.icon-financial-statmnt .path3:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.icon-reports .path1:before {
  content: "\e929";
  color: rgb(26, 24, 24);
}

.icon-reports .path2:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.icon-reports .path3:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.icon-onboarding .path1:before {
  content: "\e92a";
  color: rgb(26, 24, 24);
}

.icon-onboarding .path2:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.icon-onboarding .path3:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.icon-tax .path1:before {
  content: "\e92b";
  color: rgb(26, 24, 24);
}

.icon-tax .path2:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.icon-tax .path3:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.icon-trial-balance .path1:before {
  content: "\e92c";
  color: rgb(26, 24, 24);
}

.icon-trial-balance .path2:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.icon-trial-balance .path3:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
