@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
/*font-family: 'Poppins', "Helvetica Neue", sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700,700i,900,900i&display=swap');
/*font-family: 'Roboto', sans-serif;*/
@import "./icons.scss";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "./theme.scss";
@import "./variables.scss";
@import "~@ng-select/ng-select/themes/material.theme.css";

// Mixins
@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

//Variables
/*$white-color: #ffffff;
$primary-color: #fccf5d;
*/
//
%full-width {
  display: inline-block;
  width: 100%;
}

%priview-right-col-content {
  width:auto;
  display: inline-block;
  float: right;
  text-align: right;
}

%year-cols {
  display: inline-block;
  float: left;
  width: 150px;
  text-align: right;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: normal;
  height: 100%;
  width: 100%;
}

h1, h2, h3, h4, h5, h6, p, button, a, input, select, textarea, label, ng-select {
  font-family: 'Roboto', sans-serif !important;
}

a {
  color: $primary-v3-color;

  &:hover {
    color: $primary-v3-color;
  }
}

.no-pad {
  padding: 0px !important;
}

.transparent-btn {
  background-color: transparent;
  border: none;
}

.dark {
  color: $white-color;
}

.btn-trans-bord-radius {
  background-color: transparent;
  border: solid $white-color 1px !important;
  min-width: 150px;
  padding: 6px 0;
  text-align: center;
  color: $primary-color;
  @include border-radius(38px !important);
}

//center element
.elem-p {
  text-align: center !important;
  justify-content: center;
}

.elem-c {
  display: inline-block !important;
}

.mat-raised-button {

  &.secondary-btn, &.rounded-btn {
    @include border-radius(38px !important);
    box-shadow: none;
    font-size: 14px;
    line-height: 29px;
    color: $secondary-color;
    font-weight: 600;
  }

  &.mat-secondary {
    border: 1px solid $gray-v2-color;
  }
}

.drawer-full {

  nav {
    ul {
      li {
        a {
          .lable {
            display: block;
            width: 195px;
            transition: width 0.5s ease-in-out, display 0.5s ease-in-out;
          }
        }
      }
    }
  }
}

.drawer-small {

  nav {
    ul {
      li {
        a {
          .lable {
            display: none;
            width: 0px;
            transition: width 0.5s ease-in-out;
          }
        }
      }
    }
  }
}

.tb-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.ico-bg-circle-48 {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  background-color: $primary-color;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  > span.icon-tick {
    font-size: 22px;
  }

  > span.icon-forgot-password {
    font-size: 28px;
  }

  > span.icon-new-business {
    font-size: 24px;
  }
}

strong {
  font-weight: 500;
}

.dialogBoxActions {
  min-width: 360px;

  &.mat-dialog-actions {
    padding: 30px 0 20px 0;
    @extend %full-width;

    & .secondary-btn {
      box-shadow: none;

      &.l30 {
        line-height: 30px;
      }

      &.mat-secondary {
        border: 1px solid $gray-v2-color;
        line-height: 28px;
        min-width: 90px;
        background-color: $white-v1-color;

        &:hover {
          background-color: $gray-v6-color;
        }
      }

      &.mat-primary {
        min-width: 90px;
      }
    }
  }
}

.mar-t-20 {
  margin-top: 20px;
}

.ico-header {
  margin-top: 25px !important;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 1.28em !important;
}

.full-width {
  width: 100%;
}

.mat-placeholder-required {
  color: $red-v1-color;
}

.clear-bodySpace-top {
  margin-top: -24px;
}

.ntr-title {
  font-size: 19px;
  font-weight: 500;
  margin-top: 24px;
  margin-bottom: 16px;
}

.mat-tab-label-active {
  opacity: 1 !important;
}

.flyOut {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 115px;
  z-index: 9999;
  width: 825px;
  background-color: $white-color;
  -webkit-box-shadow: -5px 0px 3px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: -5px 0px 3px 0px rgba(0,0,0,0.1);
  box-shadow: -5px 0px 3px 0px rgba(0,0,0,0.1);

  &-header {
    width: 100%;
  }
}

.previewSheet {
  position: fixed;
  z-index: 9999;
  background-color: $white-v2-color;
  padding: 32px;
  top: 0;
  width: 100%;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: auto;
}

.report {
  &-sheet {
    max-width: 1024px;
    min-height: 768px;
    @extend %full-width;
    border-radius: 5px;
    border: 1px solid $gray-v2-color;
    margin: 24px auto;
    background: $white-color;
    padding: 40px;
    position: relative;

    & > .left-border {
      position: absolute;
      width: 1px;
      top: 217px;
      bottom: 0px;
      left: 100px;
      border-left: 1px dotted $gray-v4-color;
    }

    & > .right-border {
      position: absolute;
      width: 1px;
      top: 217px;
      bottom: 0px;
      right: 190px;
      border-left: 1px dotted $gray-v1-color;
    }

    &-actions {
      @extend %full-width;
      max-width: 1024px;
      margin: 24px auto 0px auto;

      & .action-items {
        display: inline-block;
        float: left;
        margin-right: 16px;
        position: relative;

        &:last-child {
          margin-right: 0px;
        }

        & .actions-dropdown {
          position: absolute;
          background-color: $white-color;
          top: 100%;
          left: 0;
          display: inline-block;
          padding: 8px 0;
          margin: 0;
          list-style: none;
          z-index: 2;
          width: 100%;
          min-width: 112px;
          max-width: 280px;
          overflow: auto;
          -webkit-overflow-scrolling: touch;
          max-height: calc(100vh - 48px);
          border-radius: 4px;
          outline: 0;
          box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);

          & a {
            background: transparent;
            color: rgba(0, 0, 0, 0.87);
            font-size: 14px;
            font-weight: 400;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            cursor: pointer;
            outline: 0;
            border: none;
            -webkit-tap-highlight-color: transparent;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            line-height: 48px;
            height: 48px;
            padding: 0 16px;
            text-align: left;
            text-decoration: none;
            max-width: 100%;
            position: relative;

            &:hover, &:focus {
              background: rgba(0, 0, 0, 0.04);
            }
          }
        }
      }
    }

    &-wrapper {
      @extend %full-width;

      &-container {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        width: 100%;
      }
    }

    &-header {
      @extend %full-width;

      &-title {
        @extend %full-width;
        margin-top: 10px;

        h4 {
          margin: 0px;
          /*text-align: center;*/
        }
      }

      &-subtitle {
        @extend %full-width;
        margin-top: 5px;

        h6 {
          font-size: 16px;
          margin: 0px;
          /*text-align: center;*/
        }

        & .statement-year {
          margin: 5px 0 0 0;
          color: $secondary-v2-color;
          font-size: 14px;
          /*text-align: center;*/
        }
      }
    }

    &-body {
      @extend %full-width;
      /*old preview statement css not in use*/
      & .sheet-content {
        @extend %full-width;

        & .heading {
          margin: 8px 0 0px 0;
          font-size: 20px;
          font-weight: 700;
          color: $brown-coco-color;
        }

        & .subheading {
          margin: 10px 0 8px 0;
          font-size: 14px;
          font-weight: 700;
          color: $black-color;
        }

        & .child-label {
          margin: 0px;
          font-size: 14px;
          font-weight: normal;
          color: $black-color;
        }

        & .mat-nested-tree-node ul {
          padding-left: 0;

          & .heading {
            margin: 0;
            font-size: 14px;
            font-weight: 700;
            color: $black-color;
          }

          ul {
            padding-left: 16px;
          }
        }


        & .sheet-right {
          @extend %priview-right-col-content;

          h6 {
            margin: 0px;
            font-weight: 500;
            font-size: 18px;
          }

          & .year-cols {
            @extend %year-cols;

            &.corrent-year {
              color: #212;

              & h6 {
                color: $secondary-v2-color;
              }
            }

            &.prev-year {
              color: #808;

              & h6 {
                color: $gray-v5-color;
              }
            }
          }
        }

        &-header {
          @extend %full-width;
          margin-top: 16px;
          /*height: 50px;*/
          border-top: 1px solid $gray-v4-color;
          border-bottom: 1px solid $gray-v4-color;
          padding: 12px 0;



          h6 {
            margin: 0px;
            font-size: 12px;
            color: $secondary-color;
            /*line-height: 50px;*/
          }

          & .sheet-left {
            width: 60px;
            display: inline-block;
            padding-left: 10px;
          }

          & .sheet-middle {
            width: calc(100% - 150px);
            display: inline-block;
            /*padding-left: 10px;
            border-left: dotted 1px $gray-color;
            border-right: dotted 1px $gray-color;*/
          }
          /*& .sheet-right {
            width: 150px;
            display: inline-block;
            padding-right: 10px;

            h6 {
              text-align: right;
            }
          }*/
        }

        &-body {
          @extend %full-width;

          & .sheet-right {
            & h6 {
              font-size: 14px;
            }
          }

          & > .sheet-tree {
            & > .mat-nested-tree-node {
              & > li.loop-elements {
                & > ul {
                  position: relative;
                }
              }
            }
          }

          & .loop-elements {
            border-bottom: 3px solid $gray-v4-color;
            padding-bottom: 0px;

            & .sheet-right {
              & h6 {
                font-size: 14px;
              }
            }

            & .loop-elements {
              border-bottom: none !important;

              & .sheet-assets {
                &.rtl-flow {
                  width: 100%;
                  margin-left: 0px;
                }
              }

              & .sheet-right {
                padding-right: 0px;
              }
            }
          }

          & .mat-icon-button[disabled] {
            min-height: 0px;
            height: 0px;
            width: 0px;
          }

          & li ul .sheet-assets {
            width: 100%;

            & .sheet-middle {
              padding-left: 0px;
            }
          }

          & .mat-tree-node {
            min-height: 32px;
          }

          h6, p {
            margin: 0px;
            font-size: 14px;
            color: $secondary-color;
          }

          & .sheet-left {
            width: 60px;
            display: inline-block;
            padding-left: 0px;

            &.no-left-content {
              width: 0px;
            }
          }

          & .sheet-assets {
            /*width: calc(100% - 60px);*/
            display: flex;
            height: auto;
            overflow: hidden;

            &.rtl-flow {
              display: flex;
              flex-flow: row nowrap;
              justify-content: flex-end;
              margin-left: 0px;

              & .sheet-right {
              }


              &:after {
                content: '';
                width: 100%;
                height: 34px;
                /*border-bottom: 1px dotted $gray-v2-color;*/
                position: absolute;
                left: 0px;
                right: 0px;
                margin-top: 0px;
                border-top: 1px solid $gray-v4-color;
              }

              > div {
                float: none;
              }

              & .sheet-left, & .sheet-right {
                padding: 8px 0;
              }

              & .sheet-middle {
                width: calc(100% - 150px);
                /*padding: 8px 0;*/
              }
            }

            & > div {
              float: left;
            }

            & .mat-icon-button {
              width: 24px;
              height: 24px;
              line-height: 24px;

              & .mat-icon {
                font-size: 18px;
                color: $gray-color;
              }
            }

            & .mat-tree-node {
              min-height: 24px;
            }

            & .sheet-middle {
              width: calc(100% - 150px);
              display: inline-block;
              /*padding-left: 10px;*/
            }
            /*& .sheet-right {
              width: 150px;
              display: inline-block;
              padding-right: 10px;
              vertical-align: top;
              text-align: right;

              & h6, & p {
                text-align: right;
              }
            }*/
          }
        }

        &-footer {
          @extend %full-width;
        }
      }
      /*preview statement*/
      & .statement {
        &-content {
          @extend %full-width;
          margin-top: 16px;

          & .year-cols {
            @extend %year-cols;

            h6 {
              margin: 0px;
              font-weight: 500;
              font-size: 18px;
            }
          }

          &-header {
            @extend %full-width;
            padding: 12px 0;
            border-top: 1px solid $gray-v4-color;
            border-bottom: 1px solid $gray-v4-color;

            & .right-section {
              @extend %priview-right-col-content;

              h6 {
                margin: 0px;
                font-weight: 500;
                font-size: 18px;
              }

              & .year-cols {
                @extend %year-cols;

                &.corrent-year {
                  color: #212;

                  & h6 {
                    color: $secondary-v2-color;
                  }
                }

                &.prev-year {
                  color: #808;

                  & h6 {
                    color: $gray-v5-color;
                  }
                }
              }
            }
          }

          &-body {
            display: inline-block;
            width: 100%;

            & .heading {
              margin: 8px 0 0px 0;
              font-size: 20px;
              font-weight: 700;
              color: $brown-coco-color;
            }

            & .subheading {
              margin: 10px 0 8px 0;
              font-size: 14px;
              font-weight: 700;
              color: $black-color;
            }

            & .child-label {
              margin: 0px;
              font-size: 14px;
              font-weight: normal;
              color: $black-color;
            }

            & ul {
              margin: 0;
              padding: 0;
              display: inline-block;
              width: 100%;
              list-style: none;

              &.equity-ul {
                & h5.heading {
                  margin-bottom: 16px;
                }
              }

              &.null-ul {
                padding: 8px 0;

                & li.null-child {
                  height: 16px;
                  padding-top: 0;

                  & h6.subheading {
                    margin: 0;
                  }

                  & .full-section {
                    padding: 0px;
                  }
                }
              }

              &.main-ul > li > ul {
                padding-left: 0px;
              }

              & li {
                display: inline-block;
                width: 100%;
                margin: 0;
                padding: 6px 0;

                &.no-child {
                  & .subheading {
                    margin-bottom: 0px;
                    display: inline-block;
                  }
                }

                &.has-child {
                  padding-bottom: 0px;
                }

                &.null-child {
                  /*border-top: 1px dotted $gray-v4-color;
                  border-bottom: 1px dotted $gray-v4-color;*/
                  & ul {
                    padding: 0px;
                    margin: 0px;
                    width: 0px;
                    height: 0px;
                    display: none;
                    float: left;
                  }

                  & h6.subheading {
                    display: inline-block;
                    float: left;
                  }

                  & .full-section {
                    width: 300px;
                    float: right;
                    clear: none;
                    border: none;
                  }
                }

                & ul {
                  padding-left: 10px;

                  & li {
                  }
                }
              }

              &.main-ul {
                & > li {
                  padding: 0px;
                }
              }
            }

            & .full-section {
              @extend %full-width;
              padding: 9px 0 8px 0;
              border-top: 1px dotted $gray-v4-color;
              /*border-bottom: 1px dotted $gray-v4-color;*/
              float: left;
              clear: both;
              /*margin-bottom: 16px;*/
              &.section-total {
                border-top: 1px solid $gray-v4-color !important;
                border-bottom: 4px solid $gray-v4-color !important;
                margin-bottom: 5px;

                &.liability-equity-wrapper {
                  position: relative;
                  top: -6px;
                  z-index: 1;

                  & h6.subheading {
                    margin: 0px;
                  }
                }

                &.liability-wrapper{
                  border-top: 1px dotted $gray-v4-color;
                  border-bottom: 1px dotted $gray-v4-color;
                }

                &.equity-wrapper {
                  border-top: 1px solid $gray-v4-color !important;
                  border-bottom: 1px solid $gray-v4-color !important;
                }

                & .year-cols {
                  & h6 {
                    font-weight: 900;
                  }
                }
              }
            }

            & .left-section {
              display: inline-block;
              float: left;
              width: calc(100% - 300px);
            }

            & .right-section {
              @extend %priview-right-col-content;

              & .year-cols {
                @extend %year-cols;

                h6 {
                  font-size: 14px;
                }

                &.corrent-year {
                  color: #212;

                  & h6 {
                    color: $secondary-v2-color;
                  }
                }

                &.prev-year {
                  color: #808;

                  & h6 {
                    color: $gray-v5-color;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.no-child {
  & .subheading {
    margin-bottom: 0px !important;
    display: inline-block !important;
  }
}

.has-child {
  padding-bottom: 0px !important;
}

.mat-nested-tree-node {
  ul, li {
    list-style: none;
  }

  ul {
    margin: 0px;
  }
}

.mat-tree-node {
  & .sheet-assets {
    width: 100%;
  }
}

.field-with-noborder {
  .mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 0px !important;
  }

  .field-with-textwidth {
    width: 100px;
  }
}

button {
  outline: none !important;
}

.mat-option {
  &.mat-active {
    color: $secondary-v2-color !important;
  }
}


.tbl-gridv2 {
  & .mat-table {

    & tbody tr td {
      border-right: 1px dotted $gray-v2-color;
      padding-left: 8px;
      padding-right: 8px;
    }
  }
}

th.col-actions.mat-header-cell.mat-column-actions {
  max-width: 140px;
  width: 140px;
}

.mat-table thead tr th, .mat-sort-header-button {
  text-transform: uppercase;
}

.bold-label {
  font-weight: bold;
}

.group-total {
  color: green !important;
}
.customized-sort .mat-sort-header-arrow{
  opacity:1 !important;
  transform: translateY(0) !important;
}

//
.dailog-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*background-color: $black-color;
  opacity: .75;*/
  z-index:1;
}
