// theme
@import '~@angular/material/theming';

//Theme Colors Setting

$dark-primary-text: rgba(black, 0.87);

$mat-adinovis-theme: (
  50: #fffde7,
  100: #fff9c4,
  200: #fff59d,
  300: #fff176,
  400: #ffee58,
  500: #ffeb3b,
  600: #fccf5d,
  700: #fbc02d,
  800: #f9a825,
  900: #f57f17,
  A100: #ffff8d,
  A200: #ffff00,
  A400: #ffea00,
  A700: #ffd600,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
);

@include mat-core();

//Define custome theme
$primary: mat-palette($mat-adinovis-theme, 600);
$accent : mat-palette($mat-amber);
$warn   : mat-palette($mat-red);
$app-theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($app-theme);

//Define custome Typography
$app-typography: mat-typography-config(
    $font-family:'"Roboto", sans-serif',

);

@include angular-material-typography($app-typography);
