//Variables
$black-color: #000000;
$black-v1-color: #141414;
$black-v2-color: #0C0C0C;
$black-v3-color: #212121;


$white-color: #FFFFFF;
$white-v1-color: #F9F9F9;
$white-v2-color: #f2f3f2;
$white-v3-color: #FAFAFA;
$white-v4-color: #fdfdfd;

$primary-color: #FCCF5C;
$primary-v1-color: #fccf5d;
$primary-v2-color: #8E6600;
$primary-v3-color: #FFD500;
$primary-v4-color: #DEA922;
$primary-v5-color: #f1c148;
$primary-v6-color: #FBC02D;

$hyper-link-color: #00508E;

$secondary-color: #0F0F0F;
$secondary-v2-color: #424242;

$gray-v13-color: #707070;
$gray-v12-color: #717171;
$gray-v11-color: #E0E0E0;
$gray-v10-color: #f1f2f3;
$gray-v9-color: #9d9d9d;
$gray-v8-color: #ACABAB;
$gray-v7-color: #9b9b9b;
$gray-v6-color: #E6E6E6;
$gray-v5-color: #808080;
$gray-v4-color: #595959;
$gray-v3-color: #F2F2F2;
$gray-v2-color: #D9D9D9;
$gray-v1-color: #737373;
$gray-color: #9A9A9A;

$red-v1-color: #f44336;

$light-pink-color: #EB7070 ;
$light-pink-v1-color: #F8A9A9;
$light-pink-v2-color: #ffc1c1;

$brown-coco-color: #BC8E60;

$teal-color: #69DED6;
$teal-v1-color: #BBF1BA;
$teal-v2-color: #A4DEC5;

$green-color: #00874E;

$sky-blue-color: #519FE6;
$sky-blue-v1-color: #B9D5F0;
$sky-blue-v2-color: #A3CAF0;

$violet-color:#8C5ECF;
$violet-v1-color: #C2A3F0;

$beige-color: #F8D7B7;




