@import "../../../../variables.scss";
.Compilation-Report {
  h6 {
    font-size: 19px;
  }

  button.secondary-btn {
    margin: 0px 23px 32px 23px;

    .mat-button-wrapper {
      /*padding: 0 16px;*/

      .material-icons {
        vertical-align: middle;
      }
    }
  }

  .report {
    &-sheet {
      max-width: 926px;
      min-height: 768px;
      border-radius: 5px;
      border: 1px solid $gray-v2-color;
      margin: 24px auto;
      background: $white-color;
      padding: 40px 100px;
      position: relative;

      &-header {
        &-defaultlogo {
          width: 125px;
          height: 125px;
          border: 1px solid $secondary-color;
          text-align: center;
          padding-top: 25px;
          margin: 0 auto;
          display: block;
          margin-bottom: 20px;

          & img {
            /*width: 192px;*/
            width: 58px;
          }
        }

        &-primarylogo {
          width: auto;
          height: auto;
          overflow: hidden;
          vertical-align: middle;
          display: inline-block;
          align-items: center;
          max-height: 190px;
          justify-content: center;
          /* overflow: hidden; */
          max-width: 190px;
          margin: 0 auto;
          display: block;
          margin-bottom: 20px;


          & img {
            width: 100%;
            height: 100%;
          }
        }

        &-text {
          text-align: center;
          font-size: 19px;
          color: $secondary-color;
          font-weight: 500;
        }
      }

      &-body {
        &-toaddress {
          margin-top: 55px;
          margin-bottom: 30px;

          p {
            color: $secondary-v2-color;
            font-size: 14px;
          }
        }

        &-bodycontent {
          p {
            margin-bottom: 20px;
          }
        }

        &-signature {
          margin-top: 40px;

          &-defaultlogo {
            width: 125px;
            height: 125px;
            border: 1px solid $secondary-color;
            text-align: center;
            padding-top: 25px;
            margin-bottom: 20px;

            & img {
              /*width: 192px;*/
              width: 58px;
            }
          }

          &-primarylogo {
            width: auto;
            height: auto;
            overflow: hidden;
            vertical-align: middle;
            display: inline-block;
            align-items: center;
            max-height: 190px;
            justify-content: center;
            /* overflow: hidden; */
            max-width: 190px;
            margin-bottom: 20px;


            & img {
              width: 100%;
              height: 100%;
            }
          }
        }

        &-fromaddress {
          p {
            color: $secondary-v2-color;
            font-size: 14px;
          }
        }
      }
    }
  }

  .dashed-border {
    border: 1px dashed $white-color;
    position: relative;

    &:hover {
      border: 1px dashed $secondary-color;

      .edit {
        display: block;
      }
    }

    .edit {
      padding-top: 1px;
      padding-right: 7px;
      position: absolute;
      right: 0;
      top: 0;
      display: none;
      cursor: pointer;

      .material-icons {
        font-size: 20px;
        color: $black-color;
      }
    }
  }
}
.imgSelected {
  border: 5px solid $black-color;
}
