<div class="Compilation-Report" id="after3">
  <h5 class="ntr-title" *ngIf="router.url !== '/dashboard/financialstatementexport'">Compilation Report</h5>
  <button *ngIf="router.url !== '/dashboard/financialstatementexport'" class="secondary-btn float-right mat-raised-button mat-secondary" color="secondary" ng-reflect-color="secondary">
    <span class="mat-button-wrapper"><i class="material-icons">arrow_upward</i>Settings</span>
  </button>
  <div class="report-sheet-wrapper-container">
    <div class="report-sheet" [ngStyle]="{'border':router.url === '/dashboard/financialstatementexport' ? 'none' : 'default' }">
      <div class="report-sheet-header">
            <div class="report-sheet-header-defaultlogo" *ngIf="router.url !== '/dashboard/financialstatementexport' && !coverImage" >
              <img class="default-img" src="../../../../assets/images/upload.svg" alt="quickbooks" />
              <p>Upload Logo</p>
            </div>
            <div class="report-sheet-header-primarylogo"  *ngIf="coverImage">
              <img class="default-img" [src]="coverImage" alt="cover-image" />
            </div>
            <input hidden type="file" #fileInput1 accept="image/*" (change)="uploadletterImage($event)">
        <!--<div class="report-sheet-header-logo">
          <img src="../../../../assets/images/accounting.PNG" alt="quickbooks" />
        </div>-->
          <div class="report-sheet-header-text" (click)="openEditor('reportHeader')" [ngClass]="{'dashed-border': router.url !== '/dashboard/financialstatementexport' }" >
            <div [innerHtml]="reportHeader | safeHtml"></div>
            <div *ngIf="router.url !== '/dashboard/financialstatementexport'" class="edit"><i class="material-icons">create</i></div>
          </div>

      </div>
      <div class="report-sheet-body">
        <div class="report-sheet-body-toaddress" (click)="openEditor('reportTopLeftContent')" [ngClass]="{'dashed-border': router.url !== '/dashboard/financialstatementexport' }">
          <div [innerHtml]="topLeftContent | safeHtml"></div>
          <div *ngIf="router.url !== '/dashboard/financialstatementexport'" class="edit"><i class="material-icons">create</i></div>
        </div>
        <div class="report-sheet-body-bodycontent" (click)="openEditor('letterBody')" [ngClass]="{'dashed-border': router.url !== '/dashboard/financialstatementexport' }" >
          <div [innerHtml]="letterBody | safeHtml"></div>
          <div *ngIf="router.url !== '/dashboard/financialstatementexport'" class="edit"><i class="material-icons">create</i></div>
        </div>
          <div class="report-sheet-body-signature">
              <!--<img src="../../../../assets/images/accounting.PNG" alt="quickbooks" />-->
              <div class="report-sheet-body-signature-defaultlogo" *ngIf="router.url !== '/dashboard/financialstatementexport' && !signatureImage" (click)="fileInput2.click()">
                  <img class="default-img" src="../../../../assets/images/upload.svg" alt="quickbooks" />
                  <p>Upload signature</p>
              </div>
              <div class="report-sheet-body-signature-primarylogo" *ngIf="signatureImage">
                  <img class="default-img" [src]="signatureImage" alt="cover-image" />
              </div>
              <input hidden type="file" #fileInput2 accept="image/*" (change)="uploadsignatureImage($event)">
          </div>
          <div class="report-sheet-body-fromaddress" (click)="openEditor('reportBottomRightContent')" [ngClass]="{'dashed-border': router.url !== '/dashboard/financialstatementexport' }" >
            <div [innerHtml]="bottomRightContent | safeHtml"></div>
            <div *ngIf="router.url !== '/dashboard/financialstatementexport'" class="edit"><i class="material-icons">create</i></div>
          </div>
      </div>

      </div>
      </div>
    </div>
    <div [hidden]="true">
        <tinymce [(ngModel)]="editorContent" [config]="config"></tinymce>
      </div>
    <ng-template #textEditor>
        <div class="dialogBox">
          <button class="transparent-btn float-right close-btn" (click)="closeDialog()"><i class="material-icons">close</i></button>
          <div class="elem-p">
            <div class="elem-c">
              <!-- <span class="icon-lock ioc"></span> -->
              <div class="col-md-12">
                <div id="editor"></div>
                <!-- <quill-editor class="ql-editor" [(ngModel)]="editorContent" #editorcontainer></quill-editor> -->
                <tinymce [(ngModel)]="editorContent" [config]="config"></tinymce>
              </div>
      
            </div>
          </div>
        </div>
        <div mat-dialog-actions class="dialogBoxActions">
          <div class="elem-p">
            <div class="elem-c">
              <button mat-raised-button class="secondary-btn" color="primary" (click)="doneEditing()">DONE</button>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template #SampleImages>
        <div class="dialogBox">
          <button class="transparent-btn float-right close-btn" (click)="closeDialog()"><i class="material-icons">close</i></button>
          <div class="elem-p">
            <div class="elem-c">
              <!-- <span class="icon-lock ioc"></span> -->
              <div class="col-md-12">
                <div *ngFor="let image of images" style="display: inline-block; margin-right: 20px" [ngClass]="{'imgSelected': image.selected}" (click)="selectImage(image)">
                  <img [src]="image.name" width="150" height="150"/>
                </div>
              </div>
      
            </div>
          </div>
        </div>
        <div mat-dialog-actions class="dialogBoxActions">
          <div class="elem-p">
            <div class="elem-c">
              <button mat-raised-button class="secondary-btn" color="primary" (click)="showImage()">DONE</button>
            </div>
          </div>
        </div>
      </ng-template>
