<div class="container-fluid welcome-screen login-container">
  <div class="row">
    <div class="col-md-12 ">
      <div class="elem-p welcome-screen-branding-container">
        <div class="float-left backto-home">
          <a class="" href="javascript:void(0)" routerLink="" routerLinkActive="active">
            <span><i class="material-icons">keyboard_arrow_left</i></span>
            <span>Back to home</span>
          </a>
        </div>

        <div class="elem-c">
          <div class="branding "><span class="icon-adinovis"></span></div>
          <p>Adapt. Improve. Grow</p>
        </div>
      </div>
    </div>
  </div>
  <div class="elem-p">
    <div class="elem-c">
      <div class="dailog-box">
        <div class="row dailog-box-content">
          <div class="col-md-12 r-one ico-header">
            <!--<span class="icon-complete"></span>-->
            <div class="elem-p">
              <div class="elem-c">
                <div class="ico-bg-circle-48">
                  <span class="icon-tick"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 r-two">
            <h5>Thanks! Your account has been Successfully Activated</h5>
          </div>
          <div class="col-md-12 r-three">
            <p>Using your credentials please login</p>
          </div>
          <div class="col-md-12 last-row">
            <button mat-raised-button class="secondary-btn" color="primary" (click)="redirectToLogin()">Go to Login</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 dark login-sub-footer">
          <h5>
            Don't have an account?<a href="javascript:void(0)" routerLink="/signup"
                                     routerLinkActive="active">Signup</a>
          </h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 login-footer">
          <a class="" href="javascript:void(0)">EULA</a>
          <span class="devider">I</span>
          <a href="javascript:void(0)">Privacy Policy</a>
        </div>
      </div>
    </div>
  </div>
</div>
