@import "../../../../variables.scss";
nav {
  display: inline-block;
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 181px);
  overflow-y: auto;
  color: $gray-color;
  overflow-x: hidden;

  a {
    color: $gray-color;
    font-size: 14px;
    text-decoration: none;

    &:hover, &:focus {
      color: $white-color;
    }
  }

  ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: block;
      margin: 0;
      padding: 0;
      border-bottom: $secondary-v2-color 1px solid;

      a {
        padding: 15px 0;

        &.active, &:hover {
          position: relative;
          color: $primary-color;
          background-color: $gray-v4-color;
        }

        &:before {
          position: absolute;
          content: '';
          width: 4px;
          height: 55px;
          background-color: $primary-color;
          top: 0;
          left: 0;
        }
      }

      &.ico-label {
        white-space: nowrap;

        a {
          display: block;
          height: 55px;
          box-sizing: border-box;
          align-items: center;

          & span {
            vertical-align: middle;
          }
        }

        & .ico {
          width: 55px;
          display: inline-block;
          text-align: center;
        }

        & .lable {
          width: 195px;
          padding-right: 15px;
          box-sizing: border-box;
          display: inline-block;
          white-space: nowrap;
          word-break: keep-all;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      &.sub-menu {

        ul {
          display: none;
          padding-left: 55px;

          li {
            border: none;
          }
        }

        &.open {
          ul {
            display: block;
          }
        }
      }
    }
  }
}
