<nav>
  <ul>
    <li class="ico-label ">
      <a class="" href="javascript:void(0)" [ngClass]="{'active': activePage == 'client'}"
         routerLink="/dashboard/client" title="Clients">
        <span class="ico icon-name_ic"></span>
        <span class="lable">Clients</span>
      </a>
    </li>
    <li class="ico-label">
      <a href="javascript:void(0)" [ngClass]="{'active': activePage == 'engagement'}"
         (click)="viewPage('/dashboard/engagement')"  title="Engagements">
        <span class="ico icon-open_engagement_ic"></span>
        <span class="lable">Engagements</span>
      </a>
    </li>
    <li class="ico-label">
      <a href="javascript:void(0)" title="History">
        <span class="ico icon-history_ic"></span>
        <span class="lable">History</span>
      </a>
    </li>
    <li class="ico-label">
      <a href="javascript:void(0)" [ngClass]="{'active': activePage == 'myaccount'}"
         routerLink="/dashboard/myaccount" title="My Account">
        <span class="ico icon-my_account_ic"></span>
        <span class="lable">My Account</span>
      </a>
    </li>

  </ul>
</nav>
