@import "../../../../variables.scss";
.dasboard-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.drawer-full {

  & .side-nav {
    width: 250px;
  }

  & .dasboard-main {
    width: calc(100% - 250px);
  }
}

.drawer-small {

  & .side-nav {
    width: 55px;

    & .branding {
      padding-top: 40px;

      & .icon-adinovis {
        font-size: 42px;
      }
    }
  }

  & .dasboard-main {
    width: calc(100% - 55px);
  }
}

.side-nav {
  position: relative;
  overflow: visible;
  background-color: $black-v1-color;
  transition: width 0.5s ease-in-out;

  & .side-nav-collaps-btn {
    font-family: 'Poppins', "Helvetica Neue", sans-serif;
    display: inline-block;
    background: $black-v1-color;
    color: $white-color;
    width: 100%;
    border: none;
    margin: 0;
    padding: 15px 0;
    border-bottom: $secondary-v2-color 1px solid;
    text-align: left;
    padding-left: 17px;

    &.active {

      &:before {
        position: absolute;
        content: '';
        width: 4px;
        height: 55px;
        background-color: $primary-color;
        top: 0;
        left: 0;
      }
    }

    & .icon {
      position: relative;
      top: 5px;
    }

    & .icon-collapse_btn {
      font-size: 28px;
      position: relative;
      top: 1px;
      right: 6px;
      outline: none;
    }
  }

  .branding {
    height: 115px;
    background-color: $primary-color;
    text-align: center;
    padding-top: 20px;
    cursor: pointer;
    transition: padding 0.5s ease-in-out;

    & .icon-adinovis {
      font-size: 72px;
      color: $black-v1-color;
      transition: font-size 0.5s ease-in-out;
    }
  }
}

.dasboard {

  &-main {
    background-color: $white-v4-color;
    display: flex;
    height: 100%;
    transition: width 0.5s ease-in-out;
  }

  &-content {
    display: inline-block;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;

    &-body {
      padding: 24px 24px 0 24px;
    }
  }
}
