<div class="dasboard-container" [ngClass]="{'drawer-small': toggleMenu, 'drawer-full': !toggleMenu}">
  <!-- Left side panel -->
  <div class="side-nav" mode="side">
    <!-- Logo -->
    <div class="branding" routerLink="/dashboard"><span class="icon-adinovis"></span></div>
    <!-- Toggle button -->
    <button type="button" class="side-nav-collaps-btn" (click)="toggleDrawer()">
      <ng-container *ngIf="!toggleMenu"><i class="material-icons icon">menu</i></ng-container>
      <ng-container *ngIf="toggleMenu"><i class="material-icons icon">menu</i></ng-container>
    </button>


    <!-- Side-nav menu-->
    <app-side-menu></app-side-menu>
  </div>
  <!-- Right side panel -->
  <div class="dasboard-main">
    <div class="dasboard-content">
      <!-- Dashboard Header -->
      <div class="dasboard-content-header">
        <dashboard-header></dashboard-header>
      </div>
      <!-- Dashboard Mani Content -->
      <div class="dasboard-content-body">
        <router-outlet (activate)="onRouteChange()"></router-outlet>
      </div>
    </div>
  </div>
</div>
