<div class="report-sheet-wrapper">

  <div class="report-sheet-wrapper-container">
    <div class="report-sheet-actions">
      <div class="float-right" *ngIf="router.url !== '/dashboard/financialstatementexport'">
        <div class="action-items">
          <button mat-raised-button class="secondary-btn" color="secondary" (click)="refresh()"><i class="material-icons">cached</i></button>
        </div>
        <!-- <div class="action-items">
          <button mat-raised-button class="secondary-btn" color="secondary"
                  [useExistingCss]="true" printSectionId="income-statement-preview"
                  ngxPrint>
            <i class="material-icons">print</i>
          </button>
        </div> -->

        <!-- <div class="action-items">
          <button mat-raised-button type="button" class="secondary-btn float-left" (click)="incomeStatementExport(event)" color="secondary" [disabled]="true">
            <i class="material-icons">arrow_upward</i>Export
            <i class="material-icons">arrow_drop_down</i>
          </button>
          <ng-container *ngIf="incomeStatementExportItemMenu">
            <ul class="actions-dropdown">
              <li><a href="javascript:void(0)">Export PDF</a></li>
              <li><a href="javascript:void(0)">Export Excel</a></li>
            </ul>
            <div class="dailog-background" (click)="closeDaolog()"></div>
          </ng-container>

        </div> -->

        <!-- <div class="action-items">
    <button mat-raised-button type="button" class="secondary-btn float-left" [matMenuTriggerFor]="incSheetExportItemMenu" color="secondary">
      <i class="material-icons">arrow_upward</i>Export
      <i class="material-icons">arrow_drop_down</i>
    </button>
    <mat-menu #incSheetExportItemMenu="matMenu">
      <button type="button" mat-menu-item>Export PDF</button>
      <button type="button" mat-menu-item>Export Excel</button>
    </mat-menu>
  </div> -->
      </div>
    </div>
  </div>
  <div class="report-sheet-wrapper-container" id="income-statement-preview">
    <div class="report-sheet" [ngStyle]="{'border':router.url === '/dashboard/financialstatementexport' ? 'none' : 'default' }">
      <div class="report-sheet-header">
        <div class="report-sheet-header-title">
          <h4>{{engagementName}}</h4>
        </div>
        <div class="report-sheet-header-subtitle">
          <h6>Income Statement</h6>
          <p class="statement-year">As of {{yearEnd| date:'MMMM  d , '}}  {{year}}</p>
          <p>(Unaudited - Notice To Reader) </p>
        </div>
      </div>
      <div class="report-sheet-body">
        <div class="sheet-content">
          <div class="sheet-content-header">
            <div class="sheet-right">
              <div class="year-cols corrent-year">
                <h6>{{yearEnd| date:'MMMM  d '}} </h6>
                <h6>{{year}}</h6> 
              </div>
              <div class="year-cols prev-year" *ngIf="isIncomePrevYear">
                <h6>{{yearEnd| date:'MMMM  d '}} </h6>
                <h6>{{isIncomePrevYear?year-1:''}}</h6> 
              </div>
            </div>
          </div>        
          <div class="sheet-content-body">
            <mat-tree #tree [dataSource]="dataSource" [treeControl]="treeControl" class="sheet-tree">
              <!-- This is the tree node template for leaf nodes -->
              <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
                <ng-container *ngIf="node.name || node.subgroupname">
                  <li class="mat-tree-node"
                      [ngClass]="{'earnings': node.id == 6,
                                  'otherExpenses': node.id == 7,
                                  'deficit-year': node.id == 12,
                                  'provisionIncomeTaxes': node.id == 9}">
                    <!-- Last Child -->
                    <div class="child-label" style="display: inline-block;width:100%;padding-left:16px; max-width:calc(100% - 300px);" [ngClass]="{'no-prev-col': !isIncomePrevYear}">
                     <p  *ngIf="!node.isEditable" (click)="node.isEditable=!node.isEditable; node.oldvalue = node.name;"> {{node.name}}</p>
                      <input type="text" class="form-control" [(ngModel)]="node.name" *ngIf="node.isEditable" required>
                      <i class="material-icons col-md-1" *ngIf="node.isEditable"
                         (click)="node.isEditable=!node.isEditable;UpdateincomeSheet(node)">
                        done
                      </i>
                      <h6>{{node.subgroupname}}</h6>
                    </div>
                    <div class="sheet-right">
                      <div class="year-cols corrent-year">
                        <h6><span>{{node.Currbal}}</span></h6>
                        <h6><span>{{node.CurrTotal}}</span></h6>
                        <h6> <span>{{node.CurrmainTotal}}</span></h6>
                      </div>
                      <div class="year-cols prev-year" *ngIf="isIncomePrevYear">
                        <h6> <span>{{node.Prevbal}}</span></h6>
                        <h6> <span>{{node.PrevTotal}}</span></h6>
                        <h6> <span>{{node.PrevmainTotal}}</span></h6>

                      </div>
                    </div>
                  </li>
                </ng-container>
              </mat-tree-node>
              <!-- This is the tree node template for expandable nodes -->
              <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                <!--treeControl.isExpanded(node)-->
                <li class="loop-elements" [ngClass]="{'revenue': node.id == 5}">
                  <div class="mat-tree-node">
                    <div class="sheet-assets">
                      <div class="sheet-middle">
                        <!-- Parent -->
                        <h5 class="heading">{{node.name}}</h5>
                        <h6>{{node.subgroupname}}</h6>
                      </div>
                    </div>
                  </div>
                  <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
                    <ng-container matTreeNodeOutlet></ng-container>
                    <!--<ng-container *ngIf="node.currgrouptotal || node.Currbal || node.currbal">-->
                    <div class="sheet-assets rtl-flow">
                      <div class="sheet-right">
                        <div class="year-cols corrent-year">
                          <h6><span>{{node.Currgrouptotal}}</span></h6>
                          <h6> <span>{{node.Currbal}}</span></h6>
                          <h6> <span>{{node.CurrmainTotal}}</span></h6>
                        </div>
                        <div class="year-cols prev-year" *ngIf="isIncomePrevYear">
                          <h6><span>{{node.Prevgrouptotal}}</span></h6>
                          <h6> <span>{{node.Prevbal}}</span></h6>
                          <h6> <span>{{node.PrevmainTotal}}</span></h6>
                        </div>
                      </div>
                    </div>
                    <!--</ng-container>-->
                  </ul>
                </li>
              </mat-nested-tree-node>
            </mat-tree>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

