@import "../../../../variables.scss";
.example-tree-invisible {
  display: none !important;
}
.report-sheet-body .sheet-content-body .loop-elements.revenue {
  border-bottom: 3px solid $gray-v4-color;
}
.report-sheet-body .sheet-content-body .mat-tree-node.otherExpenses {
  border-bottom: 1px dotted $gray-v4-color;
}
.report-sheet-body .sheet-content-body .mat-tree-node.provisionIncomeTaxes {
  border-bottom: 1px dotted $gray-v4-color;
}
.report-sheet-body .sheet-content-body .mat-tree-node.deficit-year {
  border-top: 1px solid $gray-v4-color;
  border-bottom: 3px solid $gray-v4-color;
  height: 34px;
}
.report-sheet-body .sheet-content-body .mat-tree-node .no-prev-col {
  max-width:calc(100% - 150px) !important;
}

