@import "../../../variables.scss";
// Mixins
@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

.welcome-screen {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  max-height: 100vh;
  padding: 0px !important;
  margin: 0px !important;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  background: url(../../../assets/images/login_bg.png) no-repeat;
  background-size: cover;
  box-sizing: border-box;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  &-branding-container {

    & .branding {
      font-size: 110px;
      line-height: 0px;
      color: $white-color;
      margin-top: 50px;
    }

    p {
      color: $white-color;
      margin: 10px 0 0px 0;
      font-weight: 400;
    }

    .backto-home {
      margin: 60px 0 0 60px;
      position: absolute;

      a {
        color: $primary-color;
        display: inline-block;
        line-height: 24px;

        span {
          vertical-align: top;
        }
      }
    }
  }

  & .forgot {
    background-color: $white-color;
    height: auto;
    overflow: hidden;
    width: 364px;
    margin-top: 30px;
    padding: 5px 0 32px 0;
    @include border-radius(7px);

    .row {
      margin: 0px;
    }

    &-content {
      & .r-one {
        margin-top: 24px;
      }

      & .r-two {
        margin-top: 24px;
      }

      & .r-three {
        margin-top: 16px;
      }

      & .last-row {
        margin-top: 16px;

        & button {
          /*text-transform: uppercase;*/
          width: 100%;
          line-height: 40px;
        }
      }

      & .col-md-12 {
        padding-right: 20px;
        padding-left: 20px;
      }

      & .icon-lock {
        color: $primary-color;
        font-size: 48px;
      }

      h5 {
        margin-bottom: 0px;
      }

      p {
        color: $gray-v4-color;
        margin-bottom: 0px;
      }

      & .mat-tab-label-active {
        opacity: 1;

        .mat-tab-label-content {
          font-weight: 600;
          color: $black-color;
        }
      }

      & .mat-tab-group {
        height: 100%;
        width: 100%;
        display: inline-block;
      }

      & .mat-form-field {
        display: block;
        width: 100%;
      }

      & .mat-checkbox {
        text-align: left;
        float: left;
      }

      & .mat-icon {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.54);
        width: 22px !important;
      }
    }

    &-footer {
      margin-top: 40px;
      margin-bottom: 30px;

      a {
        color: $white-color;
        line-height: 0px;
        padding: 0 5px;
      }

      & .devider {
        color: $white-color;
      }
    }
  }

  & .dailog-box {
    background-color: $white-color;
    height: auto;
    overflow: hidden;
    width: 364px;
    margin-top: 30px;
    padding: 5px 0 32px 0;
    @include border-radius(7px);

    .row {
      margin: 0px;
    }

    &-content {
      & .r-one {
        margin-top: 14px;
      }

      & .r-two {
        margin-top: 24px;
      }

      & .r-three {
        margin-top: 24px;
      }

      & .last-row {
        margin-top: 24px;

        & button {
          text-transform: uppercase;
          width: 100%;
        }
      }

      & .col-md-12 {
        padding-right: 20px;
        padding-left: 20px;
      }

      & .icon-complete {
        color: $primary-color;
        font-size: 48px;
      }

      h5 {
        margin-bottom: 0px;
      }

      p {
        font-size: 14px;
        font-weight: 500;
        color: $gray-v4-color;
        margin-bottom: 0px;
      }

      & .mat-tab-label-active {
        opacity: 1;

        .mat-tab-label-content {
          font-weight: 600;
          color: $black-color;
        }
      }

      & .mat-tab-group {
        height: 100%;
        width: 100%;
        display: inline-block;
      }

      & .mat-form-field {
        display: block;
        width: 100%;
      }

      & .mat-checkbox {
        text-align: left;
        float: left;
      }

      & .mat-icon {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.54);
        width: 22px !important;
      }
    }

    &-footer {
      position: absolute;
      bottom: 30px;
      left: 0;

      @media (max-width:1366px) {
        position: static;
        margin-top: 40px;
        margin-bottom: 30px;
      }

      a {
        color: $white-color;
        line-height: 0px;
        padding: 0 5px;
      }

      & .devider {
        color: $white-color;
      }
    }
  }
}

.mat-form-field-label-wrapper {
  left: 10px;
}
