<div class="container-fluid welcome-screen login-container">
  <div class="row">
    <div class="col-md-12 ">
      <div class="elem-p welcome-screen-branding-container">
        <div class="float-left backto-home">
          <a class="" href="javascript:void(0)" routerLink="" routerLinkActive="active">
            <span><i class="material-icons">keyboard_arrow_left</i></span>
            <span>Back to home</span>
          </a>
        </div>

        <div class="elem-c">
          <div class="branding "><span class="icon-adinovis"></span></div>
          <p>Adapt. Improve. Grow</p>
        </div>
      </div>
    </div>
  </div>
  <!-- <ngx-spinner bdColor="rgba(51,51,51,0.8)"
              size="medium" color="#fec54f"  type="ball-spin-clockwise"></ngx-spinner> -->
  <div class="elem-p">
    <div class="elem-c">
      <!-- Forgot Password -->
      <div class="forgot" *ngIf="showForgotForm">
        <div class="row forgot-content">
          <div class="col-md-12 r-one ico-header">
            <div class="elem-p">
              <div class="elem-c">
                <div class="ico-bg-circle-48">
                  <span class="icon-forgot-password"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 r-two">
            <h5>Forgot Your Password?</h5>
          </div>
          <div class="col-md-12 r-three">
            <p>Enter the email address you registered with Adinovis, we will send a link to reset it</p>
          </div>
          <div class="col-md-12 r-two">
            <mat-form-field>
              <mat-icon matPrefix class="icon-email"></mat-icon>
              <input matInput type="email" placeholder="Email Address" [(ngModel)]="emailAddress" required>
            </mat-form-field>
          </div>
          <div class="col-md-12 last-row">
            <button mat-raised-button class="secondary-btn" color="primary" (click)="forgotPassword()">Send Reset Link</button>
          </div>
        </div>
      </div>

      <!-- Reset Email Sent  -->
      <div class="dailog-box" *ngIf="!showForgotForm">
        <div class="row dailog-box-content">
          <div class="col-md-12 r-one ico-header">
            <div class="elem-p">
              <div class="elem-c">
                <div class="ico-bg-circle-48">
                  <span class="icon-tick"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 r-two">
            <h5>Reset Email Sent</h5>
          </div>
          <div class="col-md-12 r-three">
            <p>An email with reset instructions has been sent to your email address at <b>{{emailAddress}}</b>.</p>
          </div>
          <div class="col-md-12 r-two">
            <p>Follow the directions in the email to reset your password</p>
          </div>
          <div class="col-md-12 last-row">
            <button mat-raised-button class="secondary-btn" color="primary" routerLink="/login">Done</button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 dark forgot-footer">
          <a class="" href="javascript:void(0)">EULA</a>
          <span class="devider">I</span>
          <a href="javascript:void(0)">Privacy Policy</a>
        </div>
      </div>
    </div>
  </div>
</div>
