<div class="container-fluid welcome-screen">
  <div class="row">
    <div class="col-md-12 ">
      <div class="elem-p welcome-screen-branding-container">
        <div class="float-left backto-home">
          <a class="" href="javascript:void(0)" routerLink="" routerLinkActive="active">
            <span><i class="material-icons">keyboard_arrow_left</i></span>
            <span>Back to home</span>
          </a>
        </div>

        <div class="elem-c">
          <div class="branding "><span class="icon-adinovis"></span></div>
          <p>Adapt. Improve. Grow</p>
        </div>
      </div>
    </div>
  </div>
  <div class="elem-p">
    <div class="elem-c">
      <ng-container *ngIf="!signUpState">
        <div class="signup">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <h5>Signup for Adinovis</h5>
                <p>Please fill in your information</p>
              </div>
            </div>
            <form [formGroup]="signupform" (ngSubmit)="onFormSubmit()" autoComplete="off">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field>
                    <mat-icon matPrefix class="icon-name_ic"></mat-icon>
                    <input matInput (input)="onlyChars($event,'fn')" placeholder="First Name" formControlName="firstName" required>
                    <mat-error *ngIf="firstName.touched && firstName.invalid">
                      <!-- <div *ngIf="firstName.errors.required">First Name is required.</div> -->
                      <div *ngIf="firstName.errors.pattern">Allow only Spaces and Letters</div>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field>
                    <mat-icon matPrefix class="icon-name_ic"></mat-icon>
                    <input matInput (input)="onlyChars($event,'ln')" placeholder="Last Name" formControlName="lastName" required>
                    <mat-error *ngIf="lastName.touched && lastName.invalid">
                      <!-- <div *ngIf="lastName.errors.required">Last Name is required.</div> -->
                      <div *ngIf="lastName.errors.pattern">Allow only Spaces and Letters</div>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-icon matPrefix class="icon-cell_phone_ic"></mat-icon>
                    <input (input)="handlePhone($event,'cell')" maxlength="14" matInput placeholder="Cell Phone" formControlName="cellPhone" required>
                    <mat-error *ngIf="cellPhone.touched && cellPhone.invalid">
                      <!-- <div *ngIf="cellPhone.errors.required">Cell Phone is required.</div> -->
                      <div *ngIf="cellPhone.errors.pattern">Allow only Numbers</div>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-icon matPrefix class="icon-cell_phone_ic"></mat-icon>
                    <input (input)="handlePhone($event,'business')" maxlength="14" matInput placeholder="Business Phone" formControlName="businessPhone" required>
                    <mat-error *ngIf="businessPhone.touched && businessPhone.invalid">

                      <!-- <div *ngIf="businessPhone.errors.required">Business Phone is required.</div> -->
                      <div *ngIf="businessPhone.errors.pattern">Allow only Numbers</div>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-icon matPrefix class="icon-licence_ic"></mat-icon>
                    <input matInput (input)="aplphaNumericInput($event)" placeholder="Member License No" formControlName="memberLicenseNo" required>
                    <!-- <mat-error *ngIf="memberLicenseNo.touched && memberLicenseNo.invalid">
                  Member License No is required.
                </mat-error> -->
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field>
                    <mat-icon matPrefix class="icon-business_ic"></mat-icon>
                    <input matInput (input)="onlyChars($event,'bn')" placeholder="Business Name" formControlName="businessName" required>
                    <!-- <mat-error *ngIf="businessName.touched && businessName.invalid">
                  Business Name is required.
                </mat-error> -->
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field>
                    <mat-icon matPrefix class="icon-email"></mat-icon>
                    <input matInput type="email" placeholder="Business Email Address" formControlName="businessEmail" required>
                    <mat-error *ngIf="businessEmail.touched && businessEmail.invalid">
                      <!-- <div *ngIf="businessEmail.errors.required">Business Email Address is required.</div> -->
                      <div *ngIf="businessEmail.errors?.pattern">The email id doesn't seem right</div>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <!-- <ngx-spinner bdColor="rgba(51,51,51,0.8)"
              size="medium" color="#fec54f"  type="ball-spin-clockwise"></ngx-spinner> -->
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field>
                    <mat-icon matPrefix class="icon-business_address_ic"></mat-icon>
                    <input matInput placeholder="Business Address" formControlName="businessAddress" required>
                    <!-- <mat-error *ngIf="businessAddress.touched && businessAddress.invalid">
                  Business Address is required.
                </mat-error> -->
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field>
                    <mat-icon matPrefix class="icon-password_ic"></mat-icon>
                    <input matInput type="password" placeholder="Password" formControlName="password" required>
                    <mat-error *ngIf="password.touched && password.invalid">
                      <div *ngIf="password.errors">
                        <!-- <div *ngIf="f.password.errors.required">Password is required</div> -->
                        <div *ngIf="password.errors.minlength">Password must be at least 8 characters</div>
                      </div>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field>
                    <mat-icon matPrefix class="icon-password_ic"></mat-icon>
                    <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword" required>
                    <mat-error *ngIf="confirmPassword.touched && confirmPassword.invalid">
                      <div *ngIf="confirmPassword.errors">
                        <!-- <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div> -->
                        <div *ngIf="confirmPassword.errors.mustMatch">Passwords must match</div>
                      </div>

                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-checkbox formControlName="terms" [ngModel]="term" required>
                    By signing up, you confirm that you have read and accepted our Privacy Policy and Terms of use
                    <mat-error *ngIf="(terms.invalid && terms.touched)">
                      Please accept the Terms and conditions.
                    </mat-error>
                  </mat-checkbox>
                </div>
              </div>
              <div class="row signup-lastrow">
                <div class="col-md-6">
                  <div class="recaptcha">
                    <re-captcha formControlName="recaptchaValue" siteKey="6LfqI6IUAAAAAMTgx-MCff3h5vzWvbIXkxHw5BfP"
                                style="transform:scale(0.77);
                              -webkit-transform:scale(0.77);
                              transform-origin:0 0;
                              -webkit-transform-origin:0 0;">
                    </re-captcha>
                  </div>
                </div>
                <div class="col-md-6">
                  <button mat-raised-button [disabled]="signupform.invalid" class="secondary-btn" color="primary">Sign Up</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </ng-container>

      <div class="dailog-box" *ngIf="signUpState">
        <div class="row dailog-box-content">
          <div class="col-md-12 r-one ico-header">
            <!--<span class="icon-complete"></span>-->
            <div class="elem-p">
              <div class="elem-c">
                <div class="ico-bg-circle-48">
                  <span class="icon-tick"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 r-two">
            <h5>Thanks! Your account has been successfully created</h5>
          </div>
          <div class="col-md-12 r-three">
            <p>An email with activation link has been sent to <b>{{userEmailId}}</b></p>
          </div>
          <div class="col-md-12 r-two">
            <p>Follow the directions in the email to activate your account.</p>
          </div>
          <div class="col-md-12 last-row">
            <button mat-raised-button class="secondary-btn" routerLink="/login" color="primary">Login</button>
          </div>
        </div>
      </div>

      <ng-container *ngIf="!signUpState">
      <div class="row">
        <div class="col-md-12 dark signup-sub-footer">
          <h5>
            Already have an account?<a href="javascript:void(0)" routerLink="/login"
                                       routerLinkActive="active">Login</a>
          </h5>
        </div>
      </div>
      </ng-container>
      <div class="row">
        <div class="col-md-12 signup-footer">
          <a class="" href="javascript:void(0)">EULA</a>
          <span class="devider">I</span>
          <a href="javascript:void(0)">Privacy Policy</a>
        </div>
      </div>

    </div>
  </div>
</div>
