<!DOCTYPE html>
<html>
<head>
	<style>
		html,
		body {
			text-align: left;
			padding: 20px;
		}

		* {
			white-space: normal;
			font-weight: normal;
		}

		.page_header {
			margin-top: 20px;
			position: running(header);
		}

		.footer {
			position: running(footer);
		}

		.content {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		.w-40 {
			width: 40%;
		}
		h4 {
			color: #b0b0b0;
		}
		p {
			color: #4a4a4a;
		}
		.bold {
			font-weight: bold;
		}
		.m-0 {
			margin: 0;
		}
		@page {
			size: A4 portrait;
			margin: 160px 30px 130px 30px;
			@top-center {
				content: element(header);
			}
			@bottom-center {
				content: element(footer);
			}
			@bottom-right {
				color: #444444;
				font-size: 9px;
				white-space: nowrap;
			}
		}
	</style>
</head>
<body>
<div class='page_header'>
	<table width="100%">
		<tr>
			<td><img th:attr="src=${HEADER_IMG}" style="width: 100%; height: 90px;"/></td>
		</tr>
	</table>
</div>
<div class='footer'>
	<table width="100%">
		<tr>
			<td><img th:attr="src=${FOOTER_IMG}" style="width: 100%; height: 90px;"/></td>
		</tr>
	</table>
</div>
<div id="">

	<div class="content">
		<table width="100%">
			<tr>
				<td>
					<h4 style="margin-bottom: 0px; margin-top: 0px;">Person to Contact Name</h4>
					<p style="margin-top: 0px;"><span th:text="${CONTACT_PERSON}"/></p>
				</td>
				<td class="w-40">
					<h4 style="margin-bottom: 0px; margin-top: 0px;">Date</h4>
					<p style="margin-top: 0px;"><span th:text="${CONTACT_PERSON_DATE}"/></p>
				</td>
			</tr>
			<tr style="margin-top: 5px;">
				<td>
					<h4 style="margin-bottom: 0px; margin-top: 0px;">Address</h4>
					<p style="margin-top: 0px;"><span th:text="${CONTACT_PERSON_ADDRESS}"/></p>
				</td>
				<td  class="w-40">

				</td>
			</tr>
		</table>
	</div>

	<div class="content">
		<div class="description">
			<p style="text-align: justify;" class="m-0">Our auditors, <span th:text="${AUDITOR_NAME}"/>, are conducting an audit of our financial statements. Please confirm to them our receivable from you of <span th:text="${CONFIRMATION_AMOUNT}"/> as of <span th:text="${CONFIRMATION_DATE}"/></p>
			<p style="text-align: justify;">Your prompt attention to this request will be appreciated. Please reply back to our auditors directly at either via email or mailing address listed below:</p>
		</div>
	</div>
	<div class="content">
		<table width="100%">
			<tr>
				<td>
					<h4 style="margin-bottom: 0px; margin-top: 0px;">Auditor Name</h4>
					<p style="margin-top: 0px;"><span th:text="${AUDITOR_NAME}"/></p>
				</td>
				<td  class="w-40">
					<h4 style="margin-bottom: 0px; margin-top: 0px;">Email</h4>
					<p style="margin-top: 0px;"><span th:text="${AUDITOR_EMAIL}"/></p>
				</td>
			</tr>
			<tr style="margin-top: 5px;">
				<td>
					<h4 style="margin-bottom: 0px; margin-top: 0px;">Address</h4>
					<p style="margin-top: 0px;"><span th:text="${AUDITOR_ADDRESS}"/></p>
				</td>
				<td  class="w-40">

				</td>
			</tr>
		</table>
	</div>
	<div class="content">
		<table width="100%">
			<tr>
				<td>
					<h4 style="margin-bottom: 0px; margin-top: 0px;">Very truly yours,</h4>
					<br/>
					<p><img th:attr="src=${CLIENT_SIGNATURE_IMG}" style="width: 100px"/></p>
					<h4 style="margin-bottom: 0px; margin-top: 0px;"><span th:text="${CLIENT_COMPANY_NAME}"/></h4>
				</td>

				<td  class="w-40">

				</td>
			</tr>

		</table>
	</div>
	<div class="content">
		<div class="companyInfo">
			<h4 class="bold m-0" style="padding-top:10px">Confirmation</h4>
			<p class="m-0">The balance receivable from us of <span th:text="${CONFIRMATION_AMOUNT}"/> as of <span th:text="${CONFIRMATION_DATE}"/> is correct except as noted below.</p>
		</div>
	</div>
	<div class="content">
		<table width="100%">
			<tbody style="vertical-align: bottom;">
			<tr>
				<td>
					<p>
						<img th:attr="src=${CUSTOMER_SIGNATURE_IMG}" style="width: 100px"/>
					</p>
					<p style="margin-top: 0px;"><span th:text="${DEBTOR_NAME}"/></p>
				</td>
				<td  class="w-40">
					<h4 style="margin-bottom: 0px; margin-top: 0px;">Date</h4>
					<p style="margin-top: 0px;"><span th:text="${CONFIRMATION_RECEIVED_DATE}"/></p>
				</td>
			</tr>
			<tr style="margin-top: 5px;">
				<td>
				</td>
				<td  class="w-40">

				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>
