<div class="client-list">
  <div class="client-list-header">
    <div class="items"><p>Clients</p><h1>{{clientAcountDetails?.totalclient}}</h1></div>
    <div class="items"><p>Active clients</p><h1>{{clientAcountDetails?.activeclient}}</h1></div>
    <div class="items"><p>Invite pending with client</p><h1>{{clientAcountDetails?.invitependingwithclient}}</h1></div>
    <div class="items"><p>Engagements</p><h1>{{clientAcountDetails?.totalengagement}}</h1></div>
  </div>
  <div class="client-list-body">
    <client-list-grid></client-list-grid>
  </div>
</div>
