<div class="container-fluid welcome-screen">

  <div class="row">
    <div class="col-md-12 col-12 welcome-screen-header">
      <div class="wlc-btn">
        <button routerLink="/login" (click)="login()" routerLinkActive="active"
                class="btn-trans-bord-radius" mat-raised-button>
          Login
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 ">
      <div class="elem-p welcome-screen-branding-container">
        <div class="elem-c">
          <div class="branding "><span class="icon-adinovis"></span></div>
          <p>Adapt. Improve. Grow</p>
        </div>
      </div>
      <div class="elem-p welcome-screen-msg">
        <div class="elem-c ">
          <h4>Welcome to Adinovis</h4>
          <p>Please sign up by clicking on the icon below</p>
        </div>
      </div>

      <div class="elem-p welcome-screen-buttons">
        <a href="javascript:void(0)" (click)="auditorSignup()" routerLink="/signup" routerLinkActive="active"
           class="elem-c buttons auditor-btn">
          <div class="ico-holder">
            <p class="ico"><span class="icon-auditor"></span></p>
          </div>
          <p>Auditor</p>
        </a>
        <a href="javascript:void(0)" class="elem-c buttons client-btn nocursor" [matTooltipPosition]="position.value"
           mat-raised-button matTooltip="In Development">
          <div class="ico-holder">
            <p class="ico"><span class="icon-client1"></span></p>
          </div>
          <p>Client</p>
        </a>
      </div>

    </div>
  </div>

  <div class="elem-p">
    <div class="elem-c">
      <div class="row">
        <div class="col-md-12 signup-footer">
          <a class="" href="javascript:void(0)">EULA</a>
          <span class="devider">I</span>
          <a href="javascript:void(0)">Privacy Policy</a>
        </div>
      </div>
    </div>
  </div>

</div>
