@import "../../../variables.scss";
p {
  color: $white-color;
}

.welcome-screen {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  max-height: 100vh;
  padding: 0px !important;
  margin: 0px !important;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  background: url(../../../assets/images/login_bg.png) no-repeat;
  background-size: cover;
  box-sizing: border-box;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  &-header {
    margin-top: 0px;

    & .wlc-btn {
      // position: absolute;
      // top:24px;
      // right:54px;
      float: right;
      margin-top: 24px;
      margin-right: 62px;
      display: block;

      button {
        padding: 8px 24px;
        font-size: 1.1rem;
        text-transform: uppercase;
        line-height: normal;
      }
    }
  }

  &-branding-container {

    & .branding {
      font-size: 110px;
      line-height: 0px;
      color: $white-color;
      margin-top: 50px;
    }

    p {
      color: $white-color;
      margin: 10px 0 0px 0;
      font-weight: 400;
    }
  }

  &-msg {
    margin-top: 16px;

    h4 {
      color: $primary-v1-color;
      margin: 20px 0;
      font-size: 24px;
    }

    p {
      color: $white-color;
    }
  }

  &-buttons {
    margin-top: 24px;

    & a {
      &.buttons {
        width: 171px;
        border: 1px solid $white-color;
        height: 175px;
        margin: 0 10px;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
        border-radius: 8px;
        background-color: rgba(0,0,0,0.16);

        & .ico-holder {
          margin: 24px 0;
          display: inline-block;
          width: 81px;
          height: 81px;
          border: 1px solid $white-color;
          border-radius: 50%;

          & .ico {
            font-size: 36px;
            line-height: 0px;
            margin-top: 24px;
          }
        }

        &:hover {
          & .ico-holder {
            background-color: $primary-v1-color;

            & .ico {
              color: $black-color;
            }
          }
        }

        p {
          margin: 0;
          line-height: 0px;
        }
      }

      &:hover {
        text-decoration: none;
      }

      &.nocursor {
        cursor: default !important;
      }
    }
  }

  & .signup-footer {
    position: absolute;
    bottom: 30px;
    left: 0;

    @media (max-width:1366px) {
      position: static;
      margin-top: 40px;
    }

    a {
      color: $white-color;
      line-height: 0px;
      padding: 0 5px;
    }

    & .devider {
      color: $white-color;
    }
  }
}
