@import "../../../variables.scss";
header {
  display: block;
  width: 100%;
  background-color: $white-color;
  height: 52px;
  padding: 0 24px 0 24px;
  box-sizing: border-box;
  border-bottom: 1px solid $gray-v2-color;
  /*-webkit-box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.16);
  box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.16);*/
  & .left-content {
    float: left;
    display: inline-block;

    .user-label {
      margin: 15px 0 0 0;
      font-size: 14px;
      color: $black-v1-color;
    }
  }

  /*& img.headerImage {
    height: 100%;
    width:auto;
  }*/

  & .right-content {
    float: right;
    display: inline-block;

    & .profile-pic{
       cursor:pointer;
    }

    & .short-user-label, & .profile-pic {
      text-transform: uppercase;
      font-size: 10px;      
      margin: 14px 16px 0 0;
      background-color: $primary-color;
      width: 26px;
      height: 26px;
      overflow: hidden;
      border: 1px solid $gray-v2-color;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      &.picUpdated {
        padding: 0px;

        & > img{
          width:auto !important;
          height:100% !important;
        }

      }
    }
  }

  .notifications {
    background-color: transparent;
    border: none;
    color: $gray-v7-color;
    font-size: 20px;
    margin: 10px 0 0 0;
  }

  &.sub-header {
    height: 64px;
    background-color: $white-v3-color;
    border-bottom: 1px solid $gray-v2-color;

    & .page-title {
      color: $black-v1-color;
      font-size: 22px;
      margin: 18px 0 0 0;
    }

    & .search-btn {
      color: $gray-color;
      font-size: 16px;
      margin: 18px 0 0 0;
      text-align: center;
      vertical-align: middle;
    }

    & .search-field {
      width: 260px;
      margin: 18px 24px 0 0;
      position: relative;

      input {
        width: 100%;
        height: 32px;
        padding-right: 38px;
        padding-left: 10px;
        border: none;
        border-bottom: 1px solid $gray-v2-color;
        background-color: transparent;
      }

      & .search-btn {
        position: absolute;
        right: 0;
        margin: 0px;
      }
    }

    & .sub-header-btn {
      background-color: transparent;
      border: 1px solid $gray-v8-color;
      padding: 6px 16px;
      height: 32px;
      border-radius: 16px;
      color: $black-v1-color;
      display: inline-block;
      outline: none;
      margin-top: 18px;

      & .ico {
        display: inline-block;
        margin-right: 5px;
        vertical-align: top;
        line-height: 18px;

        &.material-icons {
          font-size: 20px;
          font-weight: 100;
        }
      }

      & .label {
        font-weight: 500;
        display: inline-block;
        vertical-align: top;
        line-height: 18px;
      }
    }
  }
}

.user-dropdown {
  width: 162px;

  & button.mat-menu-item {
    line-height: 28px;
    font-size: 12px;
    color: $secondary-color;
    height: auto;
  }
}
.dasboard-content-body {
  height: calc(100vh - 116px);
}
.clear-bodySpace-top {
  margin-top: -24px;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.clear-bodySpace-top .mat-tab-group {
  height: calc(100vh - 128px);
}
.clear-bodySpace-top .mat-tab-group .mat-tab-body-wrapper {
  height: 100%;
  overflow:hidden;

  /*& .mat-tab-body-content{
    overflow:hidden;
  }*/
}
