<header>
  <div class="left-content">
    <p class="user-label">Welcome, {{userData ? userData.fullName : ''}}!</p>
    <!--<div class=""></div>-->
  </div>
  <div class="right-content">
    <div class="float-left user-profile">
      <button *ngIf="!profilePic" class="short-user-label" [matMenuTriggerFor]="menu" [ngClass]="{'picUpdated':profilePic}">
        <span *ngIf="!profilePic">{{nameAcronym}}</span>        
      </button>
      <div *ngIf="profilePic" class="profile-pic" [matMenuTriggerFor]="menu" [ngClass]="{'picUpdated':profilePic}">
        <img [src]="profilePic" alt="profile pic" *ngIf="profilePic" class="headerImage" />
      </div>

      <mat-menu class="user-dropdown" #menu="matMenu">
        <button mat-menu-item routerLink="/dashboard/myaccount">My Account</button>
        <button mat-menu-item (click)="logout()">Signout</button>
      </mat-menu>
    </div>

    <button class="notifications">
      <span class="icon-notification_inactive_ic"></span>
    </button>
  </div>
</header>

<header class="sub-header">
  <div class="left-content">
    <ng-container *ngIf="router.url === '/dashboard/client'">
      <h5 class="page-title">Clients</h5>
    </ng-container>
    <ng-container *ngIf="router.url === '/dashboard/addclient'">
      <h5 class="page-title">Add Client</h5>
    </ng-container>
    <ng-container *ngIf="router.url === '/dashboard/editclient'">
      <h5 class="page-title">Edit Client</h5>
    </ng-container>
    <ng-container *ngIf="router.url === '/dashboard/engagement'">
      <h5 class="page-title">Engagements</h5>
    </ng-container>
    <ng-container *ngIf="router.url === '/dashboard/createengagement'">
      <h5 class="page-title">Create New Engagement</h5>
    </ng-container>
    <ng-container *ngIf="router.url === '/dashboard/editengagement'">
      <h5 class="page-title">Edit Engagement</h5>
    </ng-container>
    <ng-container *ngIf="router.url === '/dashboard/myaccount'">
      <h5 class="page-title">My Account</h5>
    </ng-container>
    <ng-container *ngIf="router.url.search('ntrdashboard')>=0">
        <h5 class="page-title">{{router.url.search('ntrdashboard')>=0?selectedEngagementName:''}}</h5>
    </ng-container>
    <!-- <ng-container >
      
        <h5 class="page-title">{{router.url.search('ntrdashboard')}}</h5>
    </ng-container> -->
  </div>

  <div class="right-content" *ngIf="router.url === '/dashboard/client'">
    <div class="float-left search-field">
      <form>
        <input matInput placeholder="Search" (keyup)="clientListSearch($event.target.value)">
        <button class="float-left transparent-btn search-btn">
          <span class="material-icons">search</span>
        </button>
      </form>
    </div>
    <div class="float-left">
      <button mat-button class="sub-header-btn" routerLink="/dashboard/addclient">
        <span class="ico material-icons">add</span>
        <span class="label">Add Client</span>
      </button>
    </div>
  </div>

  <div class="right-content" *ngIf="router.url === '/dashboard/engagement'">
    <div class="float-left search-field">
      <form>
        <input matInput placeholder="Search" (keyup)="engagementListSearch($event.target.value)">
        <button class="float-left transparent-btn search-btn">
          <span class="material-icons">search</span>
        </button>
      </form>
    </div>
    <div class="float-left">
      <button class="sub-header-btn" (click)="createNewEngagement()">
        <span class="ico material-icons">add</span>
        <span class="label">Create Engagement</span>
      </button>
    </div>
  </div>

  <div class="right-content" *ngIf="router.url.search('ntrdashboard')>=0">
      <h5 class="page-title">{{engagementYearEnd | date:'d MMMM, y'}}</h5>
  </div>
</header>

