<div class="Table-of-Contents" id="after2">
  <h5 class="ntr-title" *ngIf="router.url !== '/dashboard/financialstatementexport'">Table of Contents Preview</h5>
  <button *ngIf="router.url !== '/dashboard/financialstatementexport'" class="secondary-btn float-right mat-raised-button mat-secondary" color="secondary" ng-reflect-color="secondary">
    <span class="mat-button-wrapper"><i class="material-icons">arrow_upward</i>Settings</span>
  </button>
  <div class="report-sheet-wrapper-container">
    <div class="report-sheet" [ngStyle]="{'border':router.url === '/dashboard/financialstatementexport' ? 'none' : 'default' }">
      <div class="report-sheet-header text-center">
        Table of Contents
      </div>
      <div class="report-sheet-body">
        <div class="report-sheet-body-content">
          <div class="text-right">Page</div>
          
          <ul>
            <li>
              
              <div class="index-list">
                <span class="float-left">Compilation Report</span>
                <span class="float-right">1</span>
              </div>
              <div class="dotted-line"></div>
            </li>
            <li>
              <div class="index-list">
                <span class="float-left">Balance Sheet</span>
                <span class="float-right">2</span>
              </div>
              <div class="dotted-line"></div>
            </li>
            <li>
              <div class="index-list">
                <span class="float-left">Income Statement</span>
                <span class="float-right">3</span>
              </div>
              <div class="dotted-line"></div>
            </li>
            <li>
              <div class="index-list">
                <span class="float-left">Statement of Cash Flows</span>
                <span class="float-right">4</span>
              </div>
              <div class="dotted-line"></div>
            </li>
            <li>
              <div class="index-list">
                <span class="float-left">Notes to Financial Statements</span>
                <span class="float-right">5</span>
              </div>
              <div class="dotted-line"></div>
            </li>

          </ul>
          
          
        </div>
          
        </div>
      </div>

    </div>

</div>
