@import "../../../../variables.scss";
.Table-of-Contents {
  h6 {
    font-size: 19px;
  }

  button.secondary-btn {
    margin: 0px 23px 32px 23px;

    .mat-button-wrapper {
      /*padding: 0 16px;*/

      .material-icons {
        vertical-align: middle;
      }
    }
  }

  .report {
    &-sheet {
      max-width: 926px;
      min-height: 768px;
      border-radius: 5px;
      border: 1px solid $gray-v2-color;
      margin: 24px auto;
      background: $white-color;
      padding: 40px;
      position: relative;

      &-header {
        font-size: 23px;
        font-weight: 500;
      }

      &-body {
        &-content {
          width: 100%;
          margin: 0 auto;
          padding: 60px;

          & .index-header {
            text-align: right;
            padding: 0;
          }

          & ul {
            padding: 0;

            & li {
              list-style: none;
              margin: 20px 0;
              font-size: 14px;
              color: $secondary-v2-color;
              position: relative;
              height: 20px;

              & .index-list {
                position: relative;
                z-index: 2;

                & .float-left {
                  padding-right: 10px;
                  background-color: $white-color;
                }

                & .float-right {
                  padding-left: 10px;
                  background-color: $white-color;
                }
              }

              & .dotted-line {
                position: absolute;
                height: 1px;
                background-color: transparent;
                border-bottom: 1px dotted $secondary-color;
                left: 0;
                right: 0;
                top: 10px;
                z-index: 1;
              }
            }
          }
        }
      }
    }
  }

  .dotted-border {
    border: 1px dashed $secondary-color;
  }
}
