<div class="add-client-container">
  <!-- Page Header -->
  <div class="page-header">
    <div class="sequence-navigation">
      <ul>
        <li class="active first" [ngClass]="{'active': clientDetails|| !clientDetails && assignAuditors || !clientDetails && !assignAuditors && priviewEngagementDetails}">
          <span class="float-left pointer">
            <ng-container *ngIf="clientDetails">1</ng-container>
            <ng-container *ngIf="!clientDetails">
                <i class="material-icons">check</i>
            </ng-container>

          </span>
          <p class="float-left">Client Details</p>

        </li>
        <li class="middle" [ngClass]="{'active': assignAuditors|| !clientDetails && assignAuditors || !clientDetails && !assignAuditors && priviewEngagementDetails}">
          <span class="pointer">
            <ng-container *ngIf="assignAuditors">2</ng-container>
                <ng-container *ngIf="!assignAuditors && !priviewEngagementDetails">2</ng-container>
                <ng-container *ngIf="!clientDetails && !assignAuditors && priviewEngagementDetails">
                    <i class="material-icons">check</i>
                </ng-container>
          </span>
          <p>Assign Auditors</p>
        </li>
        <li class="last" [ngClass]="{'active': priviewEngagementDetails}">
          <span class="float-right pointer">3</span>
          <p class="float-right">Review & Create</p>
        </li>
      </ul>
    </div>
  </div>

  <!-- Content -->
  <div class="page-body">
    <!-- 1st Step -->
    <ng-container *ngIf="clientDetails">
      <form [formGroup]="clientDetailsForm" autoComplete="off" (ngSubmit)="validateClientDetails()">
        <h6>Client Details</h6>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field>
              <input matInput placeholder="Engagement Name" formControlName="Pengagementname" required>
            </mat-form-field>

          </div>

        </div>
        <div class="row">
          <div class="col-md-6">
            <ng-select [items]="BusinessDetails"
                       bindLabel="businessname"
                       bindValue="clientfirmid"
                       formControlName="Pclientname"
                       placeholder="Client Business Name *"
                       (change)="incoporationDate($event)" [ngClass]="{'clientNameError': isClientError}">
            </ng-select>

          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input matInput placeholder="Sub Entities (Optional)" formControlName="Psubenties">
            </mat-form-field>
          </div>

        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <mat-label>Engagement Type</mat-label>
              <mat-select disableOptionCentering panelClass="my-select-panel-class" formControlName="pengagementtypeid" [(ngModel)]="pengagementtypeid" required>
                <mat-option *ngFor="let engagement of engagementDetails" [value]="engagement.engagementtypeid">
                  {{engagement.engagementtype}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input matInput [matDatepicker]="SelectYearEndPicker" [min]="PincorporationDate" formControlName="Pyearend" placeholder="Select Year End" required>
              <mat-datepicker-toggle matSuffix [for]="SelectYearEndPicker"></mat-datepicker-toggle>
              <mat-datepicker #SelectYearEndPicker></mat-datepicker>
            </mat-form-field>
          </div>

        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <mat-label>Select Compilation</mat-label>
              <mat-select disableOptionCentering panelClass="my-select-panel-class" formControlName="Pcompliation" required>
                <mat-option value="Advanced">Advanced</mat-option>
                <mat-option value="Standard">Standard</mat-option>
              </mat-select>
            </mat-form-field>


          </div>
          <div class="col-md-6">
            <!-- <mat-form-field>
        <input matInput [matDatepicker]="incorporationDate" formControlname="Pincorporationdate" placeholder="Incorporation Date" required>
        <mat-datepicker-toggle matSuffix [for]="incorporationDate"></mat-datepicker-toggle>
        <mat-datepicker #incorporationDate></mat-datepicker>
      </mat-form-field> -->

            <mat-form-field>
              <input matInput [matDatepicker]="incorpDate" formControlName="PincorporationDate" [(ngModel)]="PincorporationDate" placeholder="Incorporation Date" [readonly]="true" required>
              <mat-datepicker-toggle matSuffix [for]="incorpDate" [disabled]="true"></mat-datepicker-toggle>
              <mat-datepicker #incorpDate></mat-datepicker>
            </mat-form-field>

          </div>

        </div>
        <button type="button" *ngIf="!isSaveBtnText" routerLink="/dashboard/engagement" mat-raised-button class="secondary-btn float-left" color="secondary">Cancel</button>
        <button type="submit" mat-raised-button class="secondary-btn float-right" color="primary">Next</button>
      </form>
      
    </ng-container>
    <!-- 2nd Step -->
    <ng-container *ngIf="assignAuditors">
      <form [formGroup]="assignAuditorForm" autoComplete="off">
        <h6>Assign Auditors</h6>
        <div class="row" *ngFor="let row of rowData; let i = index">
          <div class="col-md-6">
            <ng-select [items]="auditorDetails"
            bindLabel="fullname"
            bindValue="useraccountid"
            [(ngModel)]="row.useraccountid"
            [ngModelOptions]="{standalone: true}"
            placeholder="Auditor Name"
            (change)="validateAuditorName(row.useraccountid,$event);row.fullname=$event.fullname">
            </ng-select>
          </div>
          <div class="col-md-6" [ngClass]="{'delete-field-on':i>2}">
            <mat-form-field [ngClass]="{'readOnly': i<=2? true:false}">
              <mat-label>Role</mat-label>
              <mat-select disableOptionCentering panelClass="my-select-panel-class" [(ngModel)]="row.auditroleid" [ngModelOptions]="{standalone: true}" [disabled]="i<=2? true:false" (selectionChange)="checkRole(row.auditroleid,$event)">
                <mat-option *ngFor="let auditorRoledata of auditorRoleDetails" [value]="auditorRoledata.auditroleid" required>
                  {{auditorRoledata.rowindex +' '+ auditorRoledata.rolename}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="delete-field" *ngIf="i>2">
            <button mat-raised-button class="secondary-btn small-btn delete-btn float-left" color="secondary" (click)="removeRole(i)">
              <i class="material-icons">delete_outline</i>
            </button>
          </div>
        </div>
        <span *ngIf="isDuplicate" style="color:red">{{msg}}</span>
        <div class="row">
          <div class="col-md-12">
            <button mat-raised-button class="secondary-btn small-btn float-left" color="secondary" (click)="addRole()" [disabled]="isDuplicate">
              <span class="material-icons">add</span>
              <span>Add</span>
            </button>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 additional-Info">
            <p class="label-b">Additional Information</p>
            <mat-form-field>
              <input matInput placeholder="Enter any additional information here..." formControlName="additionalInformation" [(ngModel)]="additionalInformation" maxlength="500">
            </mat-form-field>
          </div>

        </div>

        <div class="row">
          <div class="col-md-12">
            <button type="button" mat-raised-button class="secondary-btn float-left" color="secondary" (click)="assignAuditors = false; clientDetails = true">Back</button>
            <button type="button" mat-raised-button class="secondary-btn float-right" color="primary" (click)="validateAssignAuditor()" [disabled]="isDuplicate||isEnableNext">Next</button>
          </div>
        </div>

      </form>
    </ng-container>

    <!-- 3rd and Last Spetp -->
    <ng-container *ngIf="priviewEngagementDetails">
      <div class="preview-client-details">
        <h6>Make sure the details you have entered are correct before initiating the engagement</h6>

        <div class="row">
          <div class="col-md-12">
            <div class="preview-sheet">
              <div class="item left">
                <div class="preview-header">
                  <div class="float-left">
                    <h6>Client Details</h6>
                  </div>
                  <div class="float-right">
                    <button mat-raised-button class="secondary-btn" color="secondary" (click)="editClientDetails()">Edit</button>
                  </div>
                </div>
                <div class="preview-body">
                  <div class="preview-field">
                    <p>Engagement Name</p>
                    <h6>{{clientDetailsObj.Pengagementname}}</h6>
                  </div>
                  <div class="preview-field">
                    <p>Client Business Name</p>
                    <h6>{{BusinessName}}</h6>
                  </div>
                  <div class="preview-field">
                    <p>Sub Entities (Optional)</p>
                    <h6>{{clientDetailsObj.Psubenties}}</h6>
                  </div>
                  <div class="preview-field">
                    <p>Engagement Type</p>
                    <h6>{{engagementNameTitle}}</h6>
                  </div>
                  <div class="preview-field">
                    <p>Year End</p>
                    <h6>{{clientDetailsObj.Pyearend|date:'MM/dd/yyyy'}}</h6>
                  </div>
                  <div class="preview-field">
                    <p>Incorporation Date</p>
                    <h6>{{clientDetailsObj.PincorporationDate|date:'MM/dd/yyyy'}}</h6>
                  </div>
                  <div class="preview-field">
                    <p>Compilation</p>
                    <h6>{{clientDetailsObj.Pcompliation}}</h6>
                  </div>
                </div>
              </div>

              <div class="item right">
                <div class="preview-header">
                  <div class="float-left">
                    <h6>Assigned Auditors</h6>
                  </div>
                  <div class="float-right">
                    <button mat-raised-button class="secondary-btn" color="secondary" (click)="editAssignAuditor()">Edit</button>
                  </div>
                </div>
                <div class="preview-body">
                  <div class="preview-field">
                    <p>Preparer</p>
                    <h6>{{Preparer}}</h6>
                  </div>
                  <div class="preview-field">
                    <p>First Review</p>
                    <h6>{{firstReviewer}}</h6>
                  </div>
                  <div class="preview-field">
                    <p>Second Review</p>
                    <h6>{{secondReviewer}}</h6>
                  </div>
                  <div class="preview-field">
                    <p>Admin</p>
                    <h6>{{AdminName}}</h6>
                  </div>

                  <div class="preview-field">
                    <p class="tb-24">Additional Information</p>
                    
                 <h6>{{assignAuditorObj.additionalInformation}}</h6>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <button type="button" mat-raised-button class="secondary-btn float-left" color="secondary" (click)="gotoAccountBooks()">Back</button>            
            <button *ngIf="isSaveBtnText" mat-raised-button class="secondary-btn float-right" color="primary" (click)="addEngagement()">Create</button>
            <button *ngIf="!isSaveBtnText" mat-raised-button class="secondary-btn float-right" color="primary" type="button" (click)="UpdateEngagement()">Update</button>
          </div>
        </div>
        <!-- <ngx-spinner bdColor="rgba(51,51,51,0.8)"
              size="medium" color="#fec54f"  type="ball-spin-clockwise"></ngx-spinner> -->
      </div>
    </ng-container>
    <!-- <button mat-button class="secondary-btn" color="secondary" (click)="addClientDialogbox()">Open Add Client Popup</button>
    <button mat-button class="secondary-btn" color="secondary" (click)="inviteClientDialogbox()">Open Invite Client Popup</button>
    <button mat-button class="secondary-btn" color="secondary" (click)="WatchoutforResponseDialogbox()">Open Watchout for Response Popup</button> -->
  </div>
</div>

<!-- Dailog Box-->
<!-- New client has been added successfully! -->
<ng-template #addEngagementDialog>
  <div mat-dialog-content class="dialogBox">
    <!-- <button class="transparent-btn float-right close-btn" [mat-dialog-close] routerLink="/dashboard">
      <i class="material-icons">close</i>
    </button> -->
    <div class="elem-p">
      <div class="elem-c">
        <span class="icon-lock ioc"></span>
        <h5>New Engagement <b>{{engagementTitle}}</b> has been added successfully!</h5>
        <!-- <p>New Engagement Osinski Group has been created successfully.</p> -->
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="dialogBoxActions">
    <button mat-raised-button class="secondary-btn float-right" [mat-dialog-close] routerLink="/dashboard/engagement" color="primary">Go to Engagement</button>
    <!-- <button mat-raised-button class="secondary-btn float-right" disabled color="primary">Invite the Client</button> -->
  </div>

</ng-template>
<!--  client has been updated successfully! -->
<ng-template #updateEngagementDialog>
  <div mat-dialog-content class="dialogBox">
    <button class="transparent-btn float-right close-btn" [mat-dialog-close] routerLink="/dashboard">
      <i class="material-icons">close</i>
    </button>
    <div class="elem-p">
      <div class="elem-c">
        <span class="icon-lock ioc"></span>
        <h5>Engagement <b>{{engagementTitle}}</b> has been updated successfully!</h5>
        <!-- <p>New Engagement Osinski Group has been created successfully.</p> -->
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="dialogBoxActions">
    <button mat-raised-button class="secondary-btn float-right" [mat-dialog-close] routerLink="/dashboard/engagement" color="primary">Go to Engagement</button>
    <!-- <button mat-raised-button class="secondary-btn float-right" disabled color="primary">Invite the Client</button> -->
  </div>

</ng-template>

<!-- Invite Client -->
<ng-template #inviteClientDialog>
  <div mat-dialog-content class="dialogBox">
    <button class="transparent-btn float-right close-btn"><i class="material-icons">close</i></button>
    <div class="elem-p">
      <div class="elem-c">
        <h5>Invite Client</h5>
      </div>
    </div>
    <mat-form-field>
      <input matInput placeholder="Client Name" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Contact Person" required>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Message" required>Hi Tonia, your auditor Atin Gupta is inviting you to join Adinovis. Follow the insturctions provided in this email</textarea>
    </mat-form-field>

  </div>
  <div mat-dialog-actions class="dialogBoxActions">
    <button type="button" mat-raised-button class="secondary-btn float-left" color="secondary">Cancel</button>
    <button mat-raised-button class="secondary-btn float-right" color="primary">Send Invite</button>
  </div>

</ng-template>

<!-- Watch out for Response -->
<ng-template #WatchoutforResponseDialog>
  <div mat-dialog-content class="dialogBox">
    <button class="transparent-btn float-right close-btn"><i class="material-icons">close</i></button>
    <div class="elem-p">
      <div class="elem-c">
        <span class="icon-lock ioc"></span>
        <div class="col-md-12">
          <p><strong>Osinski Group</strong> has been Invited to join the platform as your client. Watch out for their response :)</p>
        </div>

      </div>
    </div>
  </div>
  <div mat-dialog-actions class="dialogBoxActions">
    <div class="elem-p">
      <div class="elem-c">
        <button mat-raised-button class="secondary-btn" color="primary">Close</button>
      </div>
    </div>
  </div>
</ng-template>
