@import "../../../../variables.scss";
// Mixins
@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

table {
  width: 100%;
}

tr.mat-footer-row, tr.mat-row {
  height: 52px !important;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

/*td, th {
  width: calc(100% / 8);
}*/

.mat-sort-header-arrow {
  /*opacity: 1 !important;*/
  transform: translateY(12.5%);
}

.mat-table {
  background: none;
}

.mat-table tbody tr {
  border-bottom: 1px solid $gray-v3-color;

  &:last-child {
    border-bottom: none;
  }
}

.mat-table thead tr th {
  border-bottom-width: 0;
  color: $secondary-color;
  background-color: $gray-v10-color;
}

.mat-table tbody tr td {
  background: $white-color;
}

.mat-sort-header-button {
  font-size: 12px;
  color: $secondary-color;
}

p {
  margin: 0px;
}

.filterContent {
  height: auto;
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width:100%;

  .mat-menu-content {
    padding: 0 16px;

    .mat-checkbox {
      display: inline-block;
      width: 100%;
    }
  }

  &.action-content {
    .mat-menu-content {
      padding: 4px;
    }

    button.mat-menu-item {
      font-size: 14px;
      line-height: normal;
      padding: 8px 12px;
      height: auto;
      color: $secondary-color;
    }
  }

  &.status-lab {
    width: 140px;
  }
}

.status-block {
  display: inline-block;
  padding: 2px 6px;
  border-radius: 3px;

  &.active {
    background-color: $teal-v1-color;
  }

  &.invited {
    background-color: $beige-color;
  }

  &.new {
    background-color: $sky-blue-v1-color;
  }
}

.contact-preson {
  color: $hyper-link-color; 
}

.mat-raised-button {

  &.mat-secondary {
    @include border-radius(38px !important);
    box-shadow: none;
    border: 1px solid $gray-v8-color;
    color: $secondary-color;
    font-size: 14px;
    line-height: 29px;
  }
}
.tbl-grid-container {
  height: calc(100vh - 332px);
  max-height: calc(100vh - 332px);
  overflow-x: auto;
  width: 100%;

  .mat-table thead tr th {
    & button.mat-icon-button {
      width: 20px;
      height: 20px;
      line-height: 24px;
      margin-left: 6px;
      color: $gray-color !important;
    }
  }
}

.mat-sort-header-arrow {
  color: $gray-color !important;
}

.mat-column-assignedTo, .engagment-coltd {
  a {
    color: $hyper-link-color;
  }
}

.AssignedToFilterContent {
  min-width: 10px;
  width: auto;
  display: inline-block;

  ul {
    margin: 0;
    padding: 0px;
    list-style: none;
    display: flex;
    flex-flow: column nowrap;

    li {
      display: inline-block;
      width: 100%;
      text-align: left;
      margin-bottom:5px;
      &:last-child{
        margin-bottom:0px;
      }

      p {
        color: $secondary-color;
        white-space: nowrap;

        .left {
          width: 90px;
        }

        .middle {
          padding: 0 10px;
        }

        .right {
          min-width: 10px;
        }
      }
    }
  }
}

.tbl-grid-container {
  .mat-table {

    thead tr th {
      white-space: nowrap;
      padding-left: 8px;
      padding-right: 16px;
    }

    tbody tr {
      td {
        padding-left: 8px;
        padding-right: 16px;

        &.engagment-coltd {
          width: auto;
          max-width: 250px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &.clientname-coltd, &.col-assignedTotd, &.col-typetd {
          width: auto;
          max-width: 200px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  @media (max-width:1365.99px) {

    .col-type {
      width: 140px !important;
    }

    .col-dateCreated {
      width: 130px !important;
    }

    .col-yearEnd {
      width: 100px !important;
    }

    .col-assignedTo {
      width: 105px !important;
    }

    .col-status {
      width: 110px !important;
    }

    .col-actions {
      width: 150px !important;
    }
  }

  td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type,
  td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
    padding-left: 16px !important;
  }

  .mat-header-row th {
    padding-right: 16px !important;
    text-align: left;

    .mat-sort-header-button {
      text-align: left;
    }

    &:last-child {
      padding-right: 0px;
    }
  }
}
.engagementListFilter {
  width: 180px;
}
