<div class="col-md-12">
  <div class="row full-row">
    <div class="eBalance-left">
      <div class="engagementListFilter">
        <mat-form-field>
          <mat-label>Filter</mat-label>
          <mat-select [(ngModel)]="enagementFilter" (selectionChange)="engagementFilter($event)">
            <mat-option *ngFor="let filter of engagementListFilter" [value]="filter.value">
              {{filter.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>

<div class="tbl-grid-container">
  <!-- <ngx-spinner bdColor="rgba(51,51,51,0.8)"
  size="medium" color="#fec54f"  type="ball-spin-clockwise"></ngx-spinner> -->



  <table class="customized-sort"  mat-table [dataSource]="gridDataEngage" matSort matSortActive="name" matSortDirection="asc" matSortDisableClear>

    <!-- Engagement Name Column -->
    <ng-container matColumnDef="engagementName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="engagment-col">
        <span>Engagement Name</span>
      </th>
      <!-- <td mat-cell *matCellDef="let element"> {{element.engagementName}} </td> -->
      <td mat-cell *matCellDef="let element" class="engagment-coltd" title="{{element.engagementName}}" ><a href="javascript:void(0)" (click)="redirectToTrialBal(element)">{{element.engagementName}}</a>  </td>
    </ng-container>

    <!-- Client Name Column -->
    <ng-container matColumnDef="clientName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="clientname-col">
        <span>Client Name</span>
      </th>
      <td mat-cell *matCellDef="let element" class="clientname-coltd" title="{{element.clientName}}"> {{element.clientName}} </td>
    </ng-container>

    <!-- type Column -->
    <ng-container matColumnDef="engagementtype">
      <th mat-header-cell *matHeaderCellDef class="col-type">
        <span>Type</span>
      </th>
      <td mat-cell *matCellDef="let element" class="col-typetd" title="{{element.engagementtype}}"> {{element.engagementtype}} </td>
    </ng-container>

    <!-- Year End Column -->
    <ng-container matColumnDef="yearEnd">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="col-yearEnd"> <span>Year End</span> </th>
      <td mat-cell *matCellDef="let element"> {{element.yearEnd | date:'MM/dd/yyyy'}} </td>
    </ng-container>

    <!-- assignedTo Column -->
    <ng-container matColumnDef="assignedTo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="col-assignedTo">
        <span>Assigned to</span>
      </th>
      <td mat-cell *matCellDef="let element" class="col-assignedTotd" title="{{element.assignedTo}}">
        <a href="javascript:void(0)" (click)="assignee(element)" [matMenuTriggerFor]="AssignedToFilter">{{element.assignedTo}}</a>
        <mat-menu #AssignedToFilter="matMenu" class="filterContent"
                  #beforeMenu="matMenu" xPosition="before">
          <div class="AssignedToFilterContent" (click)="$event.stopPropagation()">
            <ul>
              <li>
                <p>
                  <span class="float-left left">Preparer</span>
                  <span class="float-left middle">:</span>
                  <span class="float-left right">{{element.preparer}}</span>
                </p>
              </li>
              <li>
                <p>
                  <span class="float-left left">1st Reviewer</span>
                  <span class="float-left middle">:</span>
                  <span class="float-left right">{{element.firstReviewerName}}</span>
                </p>
              </li>
              <li>
                <p>
                  <span class="float-left left">2nd Reviewer</span>
                  <span class="float-left middle">:</span>
                  <span class="float-left right">{{element.secondReviewerName}}</span>
                </p>
              </li>
              <li>
                <p>
                  <span class="float-left left">Admin</span>
                  <span class="float-left middle">:</span>
                  <span class="float-left right">{{element.Admin}}</span>
                </p>
              </li>

            </ul>
          </div>

        </mat-menu>
      </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef class="col-status">
        <span>Status</span>
        <span>
          <button mat-icon-button [matMenuTriggerFor]="statusFilter">
            <mat-icon>filter_list</mat-icon>
          </button>
          <mat-menu #statusFilter="matMenu" class="filterContent status-lab"
                    #beforeMenu="matMenu" xPosition="before">
            <div (click)="$event.stopPropagation()">
              <!--<mat-checkbox>In Progress</mat-checkbox>
              <mat-checkbox>Completed</mat-checkbox>
              <mat-checkbox>New</mat-checkbox>-->
              <ng-container *ngFor="let status of engagementsStatusLabels">
                <mat-checkbox ([ngModel])="status.statusname" (change)="engagementsStatusFilter($event.checked, status.statusname)">{{status.statusname}}</mat-checkbox> <!--[(ngModel)]=""-->
              </ng-container>
            </div>

          </mat-menu>
        </span>
      </th>
      <td mat-cell *matCellDef="let element">
        <p class="status-block" [ngClass]="{'active': element.status==='Completed', 'invited': element.status==='In Progress', 'new': element.status==='New'}">
          {{element.status}}
        </p>
      </td>
    </ng-container>

    <!-- Date Created Column -->
    <ng-container matColumnDef="dateCreated">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="col-dateCreated">
        <span>Date Created</span>
      </th>
      <td mat-cell *matCellDef="let element">
        <span>{{element.dateCreated | date:'MM/dd/yyyy'}}</span>
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="col-actions">
        <span>Actions</span>
      </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="secondary" [matMenuTriggerFor]="actionMenu"><span>Actions</span> <span class="material-icons">arrow_drop_down</span></button>
        <mat-menu #actionMenu="matMenu" class="filterContent action-content"
                  #beforeMenu="matMenu" xPosition="before">
          <!--<div (click)="$event.stopPropagation()">-->
          <button mat-menu-item (click)="editEngagement(element)">Edit</button>
          <button mat-menu-item (click)="deleteEngagement(element.engagementsid,element.engagementName)">Delete</button>
          <!--</div>-->
        </mat-menu>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
<ng-template #deleteEngagementDialog>
  <div mat-dialog-content class="dialogBox">
    <button class="transparent-btn float-right close-btn" [mat-dialog-close]><i class="material-icons">close</i></button>
    <div class="elem-p">
      <div class="elem-c">
        <h5>Delete Engagement</h5>
        <p class="mar-t-20">Are you sure you want to delete <b>{{clientNameForDelete}}</b>  engagement</p>
      </div>
    </div>


  </div>
  <div mat-dialog-actions class="dialogBoxActions">
    <button mat-raised-button class="secondary-btn l30 float-left" color="secondary" [mat-dialog-close]>Cancel</button>
    <button mat-raised-button class="secondary-btn l30 float-right" color="primary" (click)="confirmDeleteEngagement()">Ok</button>
  </div>
</ng-template>
