<div class="report-sheet-wrapper">
  <div class="report-sheet-wrapper-container">
    <div class="report-sheet-actions">
      <div class="float-right" *ngIf="router.url !== '/dashboard/financialstatementexport'">
        <div class="action-items">
          <button mat-raised-button class="secondary-btn" color="secondary" (click)="refresh()"><i class="material-icons">cached</i></button>
        </div>
        <!-- <div class="action-items">
          <button mat-raised-button class="secondary-btn" color="secondary"
                  [useExistingCss]="true" printSectionId="balance-sheet-preview"
                  ngxPrint><i class="material-icons">print</i></button>
        </div> -->
        <!--<div class="action-items">
          <button mat-raised-button class="secondary-btn" color="secondary" (click)="exportToPdfBalanceSheet()">Export Excel</button>
        </div>-->
        <!-- <div class="action-items">
          <button mat-raised-button type="button" class="secondary-btn float-left" (click)="balSheetExport()" color="secondary" [disabled]="true">
            <i class="material-icons">arrow_upward</i>Export
            <i class="material-icons">arrow_drop_down</i>
          </button>
          <ng-container *ngIf="balSheetExportItemMenu">
            <ul class="actions-dropdown">
              <li><a href="javascript:void(0)">Export PDF</a></li>
              <li><a href="javascript:void(0)" (click)="exportToPdfBalanceSheet()">Export Excel</a></li>
            </ul>
            <div class="dailog-background" (click)="closeDaolog()"></div>
          </ng-container>

        </div> -->
      </div>
    </div>
  </div>
  <div class="report-sheet-wrapper-container" id="balance-sheet-preview">
    <div class="report-sheet" [ngStyle]="{'border':router.url === '/dashboard/financialstatementexport' ? 'none' : 'default' }">
      <div class="report-sheet-header">
        <div class="report-sheet-header-title">
          <h4>{{engagementName}}</h4>
        </div>
        <div class="report-sheet-header-subtitle">
          <h6>Balance Sheet</h6>
          <p class="statement-year">As of {{yearEnd| date:'MMMM d ,'}} {{year}}</p>
          <p>(Unaudited - Notice To Reader) </p>
        </div>
      </div>
      <div class="report-sheet-body">
        <div class="statement-content">
          <div class="statement-content-header">
            <div class="right-section">
              <div class="year-cols corrent-year">
                <h6>{{yearEnd| date:'MMMM d '}}</h6>
                <h6>{{year}}</h6>
              </div>
              <div class="year-cols prev-year" *ngIf="isprevYear">
                <h6>{{yearEnd| date:'MMMM d '}}</h6>
                <h6>{{isprevYear?year-1:''}}</h6>
              </div>
            </div>
          </div>

          <div class="statement-content-body">
            <ul class="main-ul" *ngFor="let balData of balanceStatementDetails"
                [ngClass]="{'unmapped-items' : balData.id== 5, 'liability-ul' : balData.id== 2, 'equity-ul' : balData.id== 2}">
              <li *ngIf="balData.id != null">
                <!--asset (parent)-->
                <h5 class="heading" *ngIf="balData.id != 4">{{balData.name}}</h5> <!--asset (parent)-->
                <ul *ngFor="let objchild1 of balData.children" [ngClass]="{'null-ul': objchild1.children == null && balData.id!= 5}">
                  <li class="has-child" [ngClass]="{'has-child': balData.children, 'no-child': !balData.children, 'null-child': objchild1.children == null && balData.id!= 5}">
                    <h6 class="subheading">{{ balData.id== 5 ?'':objchild1.name}}</h6><!--Current asset (child)-->
                    <!--sub-group total asset-->
                    <div class="right-section"
                         *ngIf="balData.id != 5 && (objchild1.Currbal == balData.Currgrouptotal) && objchild1.children == null">
                      <div class="year-cols corrent-year" *ngIf="objchild1.Currbal || balData.Currgrouptotal!=objchild1.Currbal">
                        <h6>{{objchild1.Currbal}}</h6>
                      </div>
                      <div class="year-cols prev-year" *ngIf="isprevYear">
                        <h6>{{objchild1.Prevbal}}</h6>
                      </div>
                    </div>

                    <ul *ngIf="balData.id!= 5">
                      <li *ngFor="let objchild2 of objchild1.children">
                        <div class="left-section">
                          <p class="child-label" *ngIf="!objchild2.isEditable" (click)="objchild2.isEditable=!objchild2.isEditable; objchild2.oldvalue = objchild2.name; ">{{objchild2.name}}</p>

                          <input type="text" class="form-control" [(ngModel)]="objchild2.name" *ngIf="objchild2.isEditable" required>
                          <i class="material-icons col-md-1" *ngIf="objchild2.isEditable"
                             (click)="objchild2.isEditable=!objchild2.isEditable;UpdateBalanceSheet(objchild2)">
                            done
                          </i>

                        </div>
                        <div class="right-section">
                          <div class="year-cols corrent-year" *ngIf="objchild2.Currbal">
                            <h6>{{objchild2.Currbal}}</h6>
                          </div>
                          <div class="year-cols prev-year" *ngIf="isprevYear">
                            <h6>{{objchild2.Prevbal}}</h6>
                          </div>
                        </div>
                      </li>
                      <li *ngFor="let objchild3 of objchild2">
                        <div class="left-section">
                          <p class="child-label">{{objchild3.name}}</p>
                        </div>
                        <div class="right-section">
                          <div class="year-cols corrent-year" *ngIf="objchild3.Currbal">
                            <h6>{{objchild3.Currbal}}</h6>
                          </div>
                          <div class="year-cols prev-year" *ngIf="isprevYear && objchild3.Prevbal">
                            <h6>{{objchild3.Prevbal}}</h6>
                          </div>
                        </div>
                      </li>
                    </ul>
                    <ul *ngIf="balData.id== 5" [ngClass]="{'unmapped-items' : balData.id== 5}">
                      <li>
                        <div class="left-section">
                          <p class="child-label">{{objchild1.name}}</p>
                        </div>
                        <div class="right-section">
                          <div class="year-cols corrent-year" *ngIf="objchild1.Currbal">
                            <h6>{{objchild1.Currbal}}</h6>
                          </div>
                          <div class="year-cols prev-year" *ngIf="isprevYear">
                            <h6>{{objchild1.Prevbal}}</h6>
                          </div>
                        </div>
                      </li>
                    </ul>
                    <!-- (objchild1.Currbal != balData.Currgrouptotal) && objchild2.Currbal > 0 -->
                    <div class="full-section"
                         *ngIf="balData.id!= 5 && (objchild1.Currbal != balData.Currgrouptotal)">

                      <!--sub-group total asset-->
                      <div class="right-section">
                        <div class="year-cols corrent-year" *ngIf="objchild1.Currbal || balData.Currgrouptotal!=objchild1.Currbal">
                          <h6>{{objchild1.Currbal}}</h6>
                        </div>
                        <div class="year-cols prev-year" *ngIf="isprevYear">
                          <h6>{{objchild1.Prevbal}}</h6>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
                <!-- Assets total --> <!-- group total asset-->
                <div class="full-section section-total" [ngClass]="{'liability-wrapper' : balData.id == 2, 'equity-wrapper' : balData.id==3}"
                     *ngIf="balData.id != 4">
                  <div class="right-section">
                    <div class="year-cols corrent-year" *ngIf="balData.Currgrouptotal">
                      <h6>{{balData.Currgrouptotal}}</h6> <!-- group total expect unmapped and  Eq+lib total-->
                    </div>
                    <div *ngIf="balData.id ==5 && balData.Currbal" class="year-cols corrent-year">
                      <h6>{{balData.Currbal}}</h6>
                    </div>
                    <div *ngIf="balData.id ==5 && isprevYear" class="year-cols prev-year">
                      <h6>{{balData.Prevbal}}</h6>
                    </div>

                    <div *ngIf="balData.id == 4 && balData.Currbal" class="year-cols corrent-year">
                      <h6>{{balData.Currbal}}</h6>
                    </div>
                    <div *ngIf="balData.id == 4 && (isprevYear && balData.PrevmainTotal)" class="year-cols prev-year">
                      <h6>{{balData.Prevbal}}</h6>
                    </div>
                    <div class="year-cols prev-year" *ngIf="isprevYear" [ngClass]="{'empty-cell': !balData.Prevgrouptotal}">
                      <h6>{{balData.Prevgrouptotal}}</h6>
                    </div>
                  </div>
                </div>

                <div class="full-section section-total float-right" [ngClass]="{'liability-equity-wrapper' : balData.id == 4}"
                     *ngIf="balData.id == 4">
                  <h6 class="subheading float-left" *ngIf="balData.id == 4">{{balData.name}}</h6>
                  <div class="right-section">
                    <div class="year-cols corrent-year" *ngIf="balData.Currgrouptotal">
                      <h6>{{balData.Currgrouptotal}}</h6>
                    </div>
                    <div *ngIf="balData.id ==5 && balData.Currbal" class="year-cols corrent-year">
                      <h6>{{balData.Currbal}}</h6>
                    </div>
                    <div *ngIf="balData.id == 4 && balData.Currbal" class="year-cols corrent-year">
                      <h6>{{balData.Currbal}}</h6>
                    </div>
                    <div *ngIf="balData.id == 4 && isprevYear" class="year-cols prev-year">
                      <h6>{{balData.Prevbal}}</h6>
                    </div>
                    <div class="year-cols prev-year" *ngIf="isprevYear && balData.Prevgrouptotal">
                      <h6>{{balData.Prevgrouptotal}}</h6>
                    </div>
                  </div>
                </div>

              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>

  <table id="balance-sheet-table" style="display:none;">
    <thead>
      <tr>
        <th style="font-weight:bold; font-size:16px">{{engagementName}}</th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <th style="font-weight:bold; font-size:14px">Balance Sheet</th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <th style="font-weight:bold; font-size:14px">As of {{yearEnd| date:'d MMMM,'}}{{balanceStatementYear}}</th>
        <th></th>
        <th></th>
      </tr>

      <tr>
        <th></th>
        <th style="font-weight:bold; font-size:16px">{{year}}</th>
        <th style="font-weight:bold; font-size:16px" *ngIf="isprevYear">{{isprevYear?year-1:''}}</th>
      </tr>
    </thead>
    <tbody>
      <li *ngFor="let balData of balanceStatementDetails">
      <tr>
        <td style="font-weight:bold; font-size:16px"><h4>{{balData.name}}</h4></td>
        <td></td>
        <td></td>
      </tr>
      <li *ngFor="let objchild1 of balData.children">
      <tr>
        <td style="font-weight:bold; font-size:14px"><h5>{{objchild1.name}}</h5></td>
        <ng-container *ngIf="objchild1.children != null">
          <td *ngIf="objchild1.Currbal"><h4>{{objchild1.Currbal}}</h4></td>
          <td *ngIf="objchild1.Prevbal"><h4>{{objchild1.Prevbal}}</h4></td>
        </ng-container>
        <ng-container *ngIf="objchild1.children == null">
          <td *ngIf="objchild1.Currbal"><h4>{{objchild1.Currbal}}</h4></td>
          <td *ngIf="objchild1.Prevbal"><h4>{{objchild1.Prevbal}}</h4></td>
          <td *ngIf="objchild1.Currbal"><h5>{{objchild1.Currbal}}</h5></td>
          <td *ngIf="objchild1.Prevbal"><h5>{{objchild1.Prevbal}}</h5></td>
        </ng-container>
      </tr>
      <li *ngFor="let objchild2 of objchild1.children">
      <tr>
        <td>{{objchild2.name}}</td>
        <td>{{objchild2.Currbal}}</td>
        <td>{{objchild2.Prevbal}}</td>
      </tr>
      </li>
      <tr>
        <td></td>
        <ng-container *ngIf="objchild1.children != null">
          <td style="font-weight:bold; font-size:14px" *ngIf="objchild1.Currbal"><h5>{{objchild1.Currbal}}</h5></td>
          <td style="font-weight:bold; font-size:14px" *ngIf="objchild1.Prevbal"><h5>{{objchild1.Prevbal}}</h5></td>
        </ng-container>
      </tr>
      </li>
      <tr>
        <td></td>
        <td style="font-weight:bold; font-size:16px"><h4>{{balData.Currgrouptotal}}</h4></td>
        <td style="font-weight:bold; font-size:16px"><h4>{{balData.Prevgrouptotal}}</h4></td>
      </tr>
      <tr>
        <td></td>
        <ng-container *ngIf="balData.children != null">
          <td style="font-weight:bold; font-size:16px"><h4>{{balData.Currbal}}</h4></td>
          <td style="font-weight:bold; font-size:16px"><h4>{{balData.Prevbal}}</h4></td>
        </ng-container>
      </tr>
      </li>

    </tbody>

  </table>
</div>
