.example-tree-invisible {
  display: none !important;
}
.unmapped-items{
  & li{
    padding: 0px !important;
  }
}
.unmapped-items h5.heading {
  margin-bottom: 16px !important;
}

.unmapped-items h6.subheading {
  margin: 0px !important;
  height: 0;
}
.unmapped-items .full-section.section-total .empty-cell {
  display: none;
}

//
#balance-sheet-table table, #balance-sheet-table tbody {
  clear: both;
  display: block;
  float: left;
  width: 100%;
  height: auto;
  overflow: hidden;
}
#balance-sheet-table table tr{
  width:100%;
  display: block;
}
#balance-sheet-table td.td-row {
  display: block;
}
#balance-sheet-table td.td-col-corr {
  display: block;
  float:right;
}
#balance-sheet-table td.td-col-prev {
  display: block;
  float:right;
}
