<!DOCTYPE html>
<html lang="en" style="box-sizing: border-box;">
<head style="box-sizing: border-box;">
    <meta charset="UTF-8" style="box-sizing: border-box;">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" style="box-sizing: border-box;">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" style="box-sizing: border-box;">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" style="box-sizing: border-box;">
    <title style="box-sizing: border-box;">Notification Email</title>
</head>

<body style="box-sizing: border-box;background-color: #f5f5f5;font-family: Poppins;color: #4a4a4a;">
<div class="flex-grid text-class" style="box-sizing: border-box;width: 800px;border-radius: 8px;background-color: transparent !important;box-shadow: none !important;margin: auto;border: none !important;">
    <div class="col" style="box-sizing: border-box;text-align: center;flex: 1;width: 100%;margin: 0 0 10px 0;">
        <p class="cinch-link" style="box-sizing: border-box;text-align: right;font-size: 12px;">
            visit:
            <a th:href="${HOST_URL}" target="_blank" class="alternative-link" style="box-sizing: border-box;color: #fccf5d;text-decoration: none;"><b style="box-sizing: border-box;">www.cinchdocs.com</b>
            </a></p>
    </div>
</div>
<div class="flex-grid" style="box-sizing: border-box;width: 800px;border-radius: 8px;background-color: #fff;box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.09);margin: auto;">
    <div class="col" style="box-sizing: border-box;text-align: center;flex: 1;width: 100%;margin: 0 0 10px 0;"><img src="http://public-cinchdocs.s3-accelerate.amazonaws.com/images/Logo.PNG" alt="logo" style="box-sizing: border-box;max-width: 100%;"></div>
    <div class="col" style="box-sizing: border-box;text-align: center;flex: 1;width: 100%;margin: 0 0 10px 0;">
        <p style="box-sizing: border-box;">
            Hello <span th:text="${firstName}"/>,<br/>
            <span th:text="${notification}"/>
        </p>
    </div>

    <div class="col" style="box-sizing: border-box;text-align: center;flex: 1;width: 100%;margin: 0 0 10px 0;">
        <a th:href="${HOST_LOGIN_URL}" target="_blank" style="box-sizing: border-box;">
            <button class="join-btn" style="box-sizing: border-box;max-width: 100%;height: 40px;width: 276px;border-radius: 20px;background-color: #fccf5d;box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.15);font-family: Poppins;font-size: 14px;font-weight: 600;line-height: 24px;text-align: center;border: none;outline: none;cursor: pointer !important;"><span th:text="${button}"/></button>
        </a>
    </div>

    <div class="col" style="box-sizing: border-box;text-align: center;flex: 1;width: 100%;margin: 0 0 10px 0;">
        <img src="https://s3.amazonaws.com/public-cinchdocs/images/cinch.PNG" class="art-work" alt="adinovis" style="box-sizing: border-box;max-width: 100%;padding-top: 23px;">
    </div>
</div>
<div class="flex-grid signature-text" style="box-sizing: border-box;width: 800px;border-radius: 8px;background-color: transparent;box-shadow: none;margin: auto;text-align: center;color: #b2b2b2;font-size: 11px;">
    <p style="box-sizing: border-box;">
        POWERED BY CinchDocs <br style="box-sizing: border-box;">
        Adapt. Improve. Grow
    </p>
</div>
<div class="flex-grid signature-text" style="box-sizing: border-box;width: 800px;border-radius: 8px;background-color: transparent;box-shadow: none;margin: auto;text-align: center;color: #b2b2b2;font-size: 11px;">
    <p style="box-sizing: border-box;">© 2018 CinchDocs. All rights reserved.</p>
</div>
</body>
</html>
