@import "../../../../variables.scss";
.cp {
  &-container {
    display: flex;
    width: 100%;
    height: calc(100vh - 255px);
    border-top: 1px solid $gray-v2-color;
  }

  &-left {
    width: 300px;
    min-width: 300px;
    border-right: 1px solid $gray-v2-color;

    & .mat-accordion {
      & .mat-expansion-panel {
        box-shadow: none !important;
        border-bottom: 1px solid $gray-v2-color;

        &:first-of-type {
          border-radius: 0px;
        }

        &:last-of-type {
          border-radius: 0px;
        }

        &-spacing {
          margin: 0px;
        }

        &-header {
          height: 48px;
          max-height: 48px;
          padding-left: 16px;
          padding-right: 16px;

          &.mat-expanded {
            background-color: $gray-v3-color;
            position: relative;

            &:before {
              content: "";
              position: absolute;
              left: 0;
              top: 0;
              width: 2px;
              height: 48px;
              background-color: $primary-color;
            }
          }
        }

        &-body {
          padding: 0px;
          border-top: 1px solid $gray-v2-color;

          & ul {
            margin: 0;
            padding: 0px;
            list-style: none;

            & li {
              display: block;
              list-style: none;

              & a {
                display: block;
                font-size: 14px;
                color: $secondary-v2-color;
                padding: 14px 16px;
                text-decoration: none;

                &:hover, &:focus, &.active {
                  background-color: rgba(242, 242, 242, .5);
                }

                & .leadsheet-badge {
                  border: 1px solid $gray-v2-color;
                  width: 24px;
                  height: 24px;
                  box-sizing: border-box;
                  border-radius: 24px;
                  line-height: 22px;
                  display: inline-block;
                  text-align: center;
                  margin-right: 6px;
                  text-transform: uppercase;
                }

                & .leadsheet-label {
                }
              }
            }
          }
        }
      }
    }
  }

  &-right {
    width: 100%;
    padding: 24px;
    overflow-x: auto;
    overflow-y: hidden;

    h6 {
      font-size: 16px;

      & .leadsheet-badge {
        border: 1px solid $gray-v2-color;
        width: 24px;
        height: 24px;
        box-sizing: border-box;
        border-radius: 24px;
        line-height: 22px;
        display: inline-block;
        text-align: center;
        margin-right: 6px;
        text-transform: uppercase;
      }

    }
  }
}
