<h5 class="ntr-title">Compilation Procedures</h5>
<div class="cp-container">
  <div class="cp-left">
    <mat-accordion>
      <!--  -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Assets</mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
          <li><a href="javascript:void(0)"><span class="leadsheet-badge">A</span><span class="leadsheet-label">Cash</span></a></li>
          <li><a href="javascript:void(0)"><span class="leadsheet-badge">C</span><span class="leadsheet-label">Accounts Receivable</span></a></li>
          <li><a href="javascript:void(0)"><span class="leadsheet-badge">X</span><span class="leadsheet-label">Investments</span></a></li>
          <li><a href="javascript:void(0)"><span class="leadsheet-badge">G</span><span class="leadsheet-label">Investment in Subsidiary</span></a></li>
        </ul>
      </mat-expansion-panel>
      <!--  -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Liabilities</mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
          <li><a href="javascript:void(0)"><span class="leadsheet-badge">A</span><span class="leadsheet-label">Cash</span></a></li>
          <li><a href="javascript:void(0)"><span class="leadsheet-badge">C</span><span class="leadsheet-label">Accounts Receivable</span></a></li>
          <li><a href="javascript:void(0)"><span class="leadsheet-badge">X</span><span class="leadsheet-label">Investments</span></a></li>
          <li><a href="javascript:void(0)"><span class="leadsheet-badge">G</span><span class="leadsheet-label">Investment in Subsidiary</span></a></li>
        </ul>
      </mat-expansion-panel>
       <!--  -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Equity</mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
          <li><a href="javascript:void(0)"><span class="leadsheet-badge">A</span><span class="leadsheet-label">Cash</span></a></li>
          <li><a href="javascript:void(0)"><span class="leadsheet-badge">C</span><span class="leadsheet-label">Accounts Receivable</span></a></li>
          <li><a href="javascript:void(0)"><span class="leadsheet-badge">X</span><span class="leadsheet-label">Investments</span></a></li>
          <li><a href="javascript:void(0)"><span class="leadsheet-badge">G</span><span class="leadsheet-label">Investment in Subsidiary</span></a></li>
        </ul>
      </mat-expansion-panel>
       <!--  -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Income Statement</mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
          <li><a href="javascript:void(0)"><span class="leadsheet-badge">A</span><span class="leadsheet-label">Cash</span></a></li>
          <li><a href="javascript:void(0)"><span class="leadsheet-badge">C</span><span class="leadsheet-label">Accounts Receivable</span></a></li>
          <li><a href="javascript:void(0)"><span class="leadsheet-badge">X</span><span class="leadsheet-label">Investments</span></a></li>
          <li><a href="javascript:void(0)"><span class="leadsheet-badge">G</span><span class="leadsheet-label">Investment in Subsidiary</span></a></li>
        </ul>
      </mat-expansion-panel>
      <!--  -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Unmapped</mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
          <li><a href="javascript:void(0)"><span class="leadsheet-badge">A</span><span class="leadsheet-label">Cash</span></a></li>
          <li><a href="javascript:void(0)"><span class="leadsheet-badge">C</span><span class="leadsheet-label">Accounts Receivable</span></a></li>
          <li><a href="javascript:void(0)"><span class="leadsheet-badge">X</span><span class="leadsheet-label">Investments</span></a></li>
          <li><a href="javascript:void(0)"><span class="leadsheet-badge">G</span><span class="leadsheet-label">Investment in Subsidiary</span></a></li>
        </ul>
      </mat-expansion-panel>
      
      <!--  -->
    </mat-accordion>
  </div>
  <div class="cp-right">
    <h6><span class="leadsheet-badge">A</span><span class="leadsheet-label">Cash</span></h6>
    <div class="container-fluid no-pad">
      <ng-container>
        <assets></assets>
      </ng-container>
    </div>
  </div>
</div>
