<div class="engagements-list">
  <div class="engagements-list-header">
    <div class="items"><p>Engagements</p><h1>{{totalengagement}}</h1></div>
    <div class="items"><p>Current</p><h1>{{current}}</h1></div>
    <div class="items"><p>Completed</p><h1>{{completed}}</h1></div>
  </div>
  <div class="engagements-list-body">
    <engagements-list-grid></engagements-list-grid>
  </div>
</div>
