@import "../../../../variables.scss";
.engagements-list {
  width: 100%;
  display: inline-block;
  padding: 0 0px 24px 0px;

  &-header {
    width: 100%;
    display: flex;
    padding: 0 0 16px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid $gray-v2-color;

    & .items {
      margin-right: 62px;

      &:last-child {
        margin-right: 0px;
      }

      p {
        font-size: 16px;
        margin: 0px;
      }

      h1 {
        font-size: 32px;
        color: $secondary-color;
        margin: 0px;
        font-family: 500;
      }
    }
  }
}
