@import "../../../../variables.scss";
// Mixins
@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

.welcome-screen {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  max-height: 100vh;
  padding: 0px !important;
  margin: 0px !important;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  background: url(../../../../assets/images/login_bg.png) no-repeat;
  background-size: cover;
  box-sizing: border-box;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  &-branding-container {

    & .branding {
      font-size: 110px;
      line-height: 0px;
      color: $white-color;
      margin-top: 50px;
    }

    p {
      color: $white-color;
      margin: 10px 0 0px 0;
      font-weight: 400;
    }
  }

  & .box {
    background-color: $white-color;
    height: auto;
    overflow: hidden;
    width: 688px;
    margin-top: 60px;
    padding: 32px;
    @include border-radius(7px);

    .row {
      margin: 0px;
    }

    &-content {

      .header-title {
        font-size: 18px;
        width: 100%;
        text-align: center;
        display: inline-block;
        margin-bottom: 0;
      }
      .books {
        width: 304px;
        display: inline-block;
        float: left;

        &.b-left {
          padding-right: 40px;
          border-right: 1px solid $gray-v2-color;

          & .book-btn {
            margin-top: 42px;
          }
        }

        &.b-right {
          padding-left: 40px;

          & .book-btn {
            margin-top: 35px;
          }
        }

        & .book-btn button {
          width: 100%;
          height: 40px;
          font-size: 14px;
          color: $secondary-color;
          font-weight: 600;
        }
      }

      & .col-md-12 {
        padding-right: 20px;
        padding-left: 20px;
      }
    }

    &-footer {
      margin-top: 40px;
      position: absolute;
      bottom: 30px;
      margin-bottom: 0;
      left: 0;

      a {
        color: $white-color;
        line-height: 0px;
        padding: 0 5px;
      }

      & .devider {
        color: $white-color;
      }
    }
  }

  & .dailog-box {
    background-color: $white-color;
    height: auto;
    overflow: hidden;
    width: 364px;
    margin-top: 30px;
    padding: 5px 0 32px 0;
    @include border-radius(7px);

    .row {
      margin: 0px;
    }

    &-content {

      & .col-md-12 {
        padding-right: 20px;
        padding-left: 20px;
      }
    }

    &-footer {
      position: absolute;
      bottom: 30px;
      left: 0;

      @media (max-width:1366px) {
        position: static;
        margin-top: 40px;
        margin-bottom: 30px;
      }

      a {
        color: $white-color;
        line-height: 0px;
        padding: 0 5px;
      }

      & .devider {
        color: $white-color;
      }
    }
  }
}
