@import "../../../../variables.scss";
//
%full-width {
  display: inline-block;
  width: 100%;
  margin-top: -24px;
  margin-left: -24px;
}
%common-ico-setting {
  top:12px;
  display: inline-block;
  margin-right: 8px;
}

%common-ico {
  width: 24px;
  height: 24px;
  position: relative;
}

%common-ico-before {
  display: inline-block;
  content: '';
  margin-right: 8px;
  width: 24px;
  height: 24px;
  background-size: 100% 100%;
}
//
.ntr-panel {
  @extend %full-width;
  width: calc(100% + 47px);
  display: flex;

  &-left {
    width: 300px;
    min-width: 300px;
    border-right: 1px solid $gray-v2-color;
    /*box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.20);*/
    height: calc(100vh - 116px);
    max-height: calc(100vh - 116px);
    overflow-y: auto;
    transition: margin 0.5s ease-in-out;

    &.hide-side-menu {
      margin-left: -300px;
    }

    & .mat-accordion {
      & .mat-expansion-panel {
        box-shadow: none !important;

        &:first-of-type {
          border-radius: 0px;
        }

        &:last-of-type {
          border-radius: 0px;
        }

        &-spacing {
          margin: 0px;
        }

        &-header {
          height: 48px;
          max-height: 48px;
          padding-left: 16px;
          padding-right: 16px;

          & .mat-expansion-indicator {
            position: relative;
            top: -1px;
          }

          &-title {
            font-weight: 600;
            line-height: 26px;
          }

          &.mat-expanded {
            position: relative;

            & .mat-expansion-indicator {
              position: relative;
              top: 0px;
            }
          }
        }

        &-body {
          padding: 0px;
          /*border-top: 1px solid $gray-v2-color;*/
          & ul {
            margin: 0;
            padding: 0px;
            list-style: none;

            & li {
              display: block;
              list-style: none;
              padding-left: 30px;

              & a {
                display: block;
                font-size: 14px;
                color: $secondary-v2-color;
                padding: 0px 16px;
                height: 48px;
                text-decoration: none;

                & .co, & .fs {
                  @extend %common-ico-setting;
                }

                &:hover {
                  /*background-color: rgba(242, 242, 242, .5);*/
                  background-color: rgba(0, 0, 0, 0.04);
                }
                // &:focus {
                //   background-color: rgba(0, 0, 0, 0.04);
                // }
                &.active {
                  /*background-color: rgba(242, 242, 242, .5);*/
                  background-color: rgba(252, 207, 92, 0.2);
                }

                &.active {
                  position: relative;

                  &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 3px;
                    height: 48px;
                    background-color: rgba(252, 207, 92, 1);
                  }
                }

                & .leadsheet-label {
                  position: relative;
                  top: 6px;
                }
              }
            }
          }
        }
      }
    }
  }

  &-right {
    width: 100%;
    padding: 0 0 0 24px;
    overflow-x: auto;
    overflow-y: auto;
    max-height: calc(100vh - 116px);

    &.trailanceEnabled {
      padding-left: 0px;

      & .ntr-title, & .tb-header {
        margin-left: 24px;
      }

      & .tb-header {
        max-width: calc(100% - 24px);
      }
    }

    &.trailanceEnabled {
      overflow-y: hidden;
    }

    h6 {
      font-size: 16px;

      & .leadsheet-badge {
        border: 1px solid $gray-v2-color;
        width: 24px;
        height: 24px;
        box-sizing: border-box;
        border-radius: 24px;
        line-height: 22px;
        display: inline-block;
        text-align: center;
        margin-right: 6px;
        text-transform: uppercase;
      }
    }
  }
}

.ntr-menu {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;

  & li {
    display: block;
    list-style: none;

    & a {
      display: block;
      font-size: 14px;
      font-weight: 600;
      color: $secondary-v2-color;
      padding:0px 16px;
      height:48px;
      text-decoration: none;

      & .tb, & .cp, & .tx, & .re, & .cs {
        @extend %common-ico-setting;
      }

      &:hover{
        background-color: rgba(0, 0, 0, 0.04);
        /*background-color: rgba(252, 207, 92, 0.2);*/
      }
    //  &:focus {
    //     background-color: rgba(0, 0, 0, 0.04);
    //   }
      &.active {
        position: relative;
        background-color: rgba(252, 207, 92, 0.2);

        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 3px;
          height:48px;
          background-color: rgba(252, 207, 92, 1);
        }
      }

      & .leadsheet-label {
        position: relative;
        top:6px;
      }
    }
  }
}

.co {
  @extend %common-ico;

  &:before {
    @extend %common-ico-before;
    background-image: url("../../../../assets/images/icon-co.svg");
  }
}
.fs {
  @extend %common-ico;

  &:before {
    @extend %common-ico-before;
    background-image: url("../../../../assets/images/icon-fs.svg");
  }
}
.tb {
  @extend %common-ico;

  &:before {
    @extend %common-ico-before;
    background-image: url("../../../../assets/images/icon-tb.svg");
  }
}
.cp {
  @extend %common-ico;

  &:before {
    @extend %common-ico-before;
    background-image: url("../../../../assets/images/icon-cp.svg");
  }
}
.tx {
  @extend %common-ico;

  &:before {
    @extend %common-ico-before;
    background-image: url("../../../../assets/images/icon-tx.svg");
  }
}
.re {
  @extend %common-ico;

  &:before {
    @extend %common-ico-before;
    background-image: url("../../../../assets/images/icon-re.svg");
  }
}
.cs {
  @extend %common-ico;

  &:before {
    @extend %common-ico-before;
    background-image: url("../../../../assets/images/icon-cs.svg");
  }
}


.ntr-panel {
  position: relative;
  overflow: visible;
  /*background-color: $black-v1-color;*/
  transition: width 0.5s ease-in-out;

  & .side-menu-collaps-btn {
    font-family: 'Poppins', "Helvetica Neue", sans-serif;
    width:20px;
    height:20px;
    outline: none;
    position: absolute;
    top: 0px;
    left: 0px;
    margin-left: 300px;
    background-color: $primary-color;
    color: $black-color;
    border: none;
    /*border: 2px solid $primary-color;*/
    /*border-radius: 100%;*/
    z-index: 9999;
    font-size: 16px;
    /*-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.16);*/
    transition: margin 0.5s ease-in-out;

    &.hide-side-menu {
      margin-left: 0px;
      transition: margin 0.5s ease-in-out;
    }

    & .material-icons {
      line-height:18px;
      position: relative;
      left: -8px;
    }
  }
}


