<div class="ntr-panel">
  <button type="button" class="side-menu-collaps-btn" (click)="sideMenutoggleDrawer()" [ngClass]="isSideMenuExpanded ? '' : 'hide-side-menu'">
    <ng-container *ngIf="!isSideMenuExpanded"><i class="material-icons icon">keyboard_arrow_right</i></ng-container>
    <ng-container *ngIf="isSideMenuExpanded"><i class="material-icons icon">keyboard_arrow_left</i></ng-container>
  </button>
  <!-- Left Panel -->
  <div class="ntr-panel-left" [ngClass]="isSideMenuExpanded ? '' : 'hide-side-menu'">
    <mat-accordion>
      <!--  -->
      <mat-expansion-panel [expanded]="isClientOnboardingExpanded 
      || router.url=='/dashboard/ntrdashboard/ClientAcceptance'
      || router.url=='/dashboard/ntrdashboard/EngagementLetter'
      || router.url=='/dashboard/ntrdashboard/Planning'"> <!-- or condtion for back button selected TAb functionality -->
        <mat-expansion-panel-header>
          <mat-panel-title class="co">Client Onboarding</mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
          <li>
            <a (click)="viewNtrItems('clientAcceptance')" [ngClass]="{'active': selectedMenu == 'clientAcceptance'|| router.url=='/dashboard/ntrdashboard/ClientAcceptance'}"  routerLink="/dashboard/ntrdashboard/ClientAcceptance" >
              <span class="co"></span><span class="leadsheet-label">Client Acceptance</span>
            </a>
          </li>
          <li>
            <a (click)="viewNtrItems('engagementLetter')" [ngClass]="{'active': selectedMenu == 'engagementLetter'||router.url=='/dashboard/ntrdashboard/EngagementLetter'}"  routerLink="/dashboard/ntrdashboard/EngagementLetter" >
              <span class="co"></span><span class="leadsheet-label">Engagement Letter</span>
            </a>
          </li>
          <li>
            <a (click)="viewNtrItems('planning')" [ngClass]="{'active': selectedMenu == 'planning'|| router.url=='/dashboard/ntrdashboard/Planning' }"  routerLink="/dashboard/ntrdashboard/Planning" >
              <span class="co"></span><span class="leadsheet-label">Planning</span>
            </a>
          </li>
        </ul>
      </mat-expansion-panel>
      <!--  -->
      <ul class="ntr-menu">
        <li>
          <a (click)="viewNtrItems('trialbalance')" [ngClass]="{'active':selectedMenu == 'trialbalance' || router.url=='/dashboard/ntrdashboard/TrialBalance'}" routerLink="/dashboard/ntrdashboard/TrialBalance">
            <span class="tb"></span><span class="leadsheet-label">Trial Balance & Adj. Entries</span>
          </a>
        </li>
      </ul>

      <!--  -->
      <ul class="ntr-menu">
        <li>
          <a [ngClass]="{'active':selectedMenu == 'procedures' || router.url=='/dashboard/ntrdashboard/Procedure'}" (click)="viewNtrItems('procedures')"  routerLink="/dashboard/ntrdashboard/Procedure" >
            <span class="cp"></span><span class="leadsheet-label">Procedures</span>
          </a>
        </li>
      </ul>
      <!--  -->
      <mat-expansion-panel [expanded]="
      isFinanacicalStatementExpanded ||
      router.url=='/dashboard/ntrdashboard/CoverPage'
      || router.url=='/dashboard/ntrdashboard/TableOfContents'
      || router.url=='/dashboard/ntrdashboard/CompilationReport' 
      || router.url=='/dashboard/ntrdashboard/BalanceSheet'
      || router.url=='/dashboard/ntrdashboard/IncomeStatement'
      || router.url=='/dashboard/ntrdashboard/StatementCashFlows' 
      || router.url=='/dashboard/ntrdashboard/NotesToFinancialStatement'"> <!-- or condtion for back button selected TAb functionality -->
        <mat-expansion-panel-header>
          <mat-panel-title class="fs">Financial Statements</mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
          <li>
            <a [ngClass]="{'active':selectedMenu == 'coverpage' || router.url=='/dashboard/ntrdashboard/CoverPage'}"  (click)="viewNtrItems('coverpage')"  routerLink="/dashboard/ntrdashboard/CoverPage" >
              <span class="fs"></span><span class="leadsheet-label">Cover Page</span>
            </a>
          </li>
          <li>
            <a (click)="viewNtrItems('tableofcontents')" [ngClass]="{'active':selectedMenu == 'tableofcontents'|| router.url=='/dashboard/ntrdashboard/TableOfContents'}"  routerLink="/dashboard/ntrdashboard/TableOfContents" >
              <span class="fs"></span><span class="leadsheet-label">Table of Contents</span>
            </a>
          </li>
          <li>
            <a (click)="viewNtrItems('compilationreport')" [ngClass]="{'active':selectedMenu == 'compilationreport' || router.url=='/dashboard/ntrdashboard/CompilationReport'}"  routerLink="/dashboard/ntrdashboard/CompilationReport" >
              <span class="fs"></span><span class="leadsheet-label">Compilation Report</span>
            </a>
          </li>
          <li>
            <a (click)="viewNtrItems('balancesheet')" [ngClass]="{'active':selectedMenu == 'balancesheet'|| router.url=='/dashboard/ntrdashboard/BalanceSheet'}" routerLink="/dashboard/ntrdashboard/BalanceSheet">
              <span class="fs"></span><span class="leadsheet-label">Balance Sheet</span>
            </a>
          </li>
          <li>
            <a (click)="viewNtrItems('incomestatement')" [ngClass]="{'active': selectedMenu == 'incomestatement'|| router.url=='/dashboard/ntrdashboard/IncomeStatement'}" routerLink="/dashboard/ntrdashboard/IncomeStatement">
              <span class="fs"></span><span class="leadsheet-label">Income Statement</span>
            </a>
          </li>
          <li *ngIf = "showAdvancedOptions">
            <a (click)="viewNtrItems('statementCashFlows')"  [ngClass]="{'active':selectedMenu == 'statementCashFlows'|| router.url=='/dashboard/ntrdashboard/StatementCashFlows'}"  routerLink="/dashboard/ntrdashboard/StatementCashFlows" >
              <span class="fs"></span><span class="leadsheet-label">Statement Cash Flows</span>
            </a>
          </li>
          <li *ngIf = "showAdvancedOptions">
            <a (click)="viewNtrItems('notesFS')"  [ngClass]="{'active':selectedMenu == 'notesFS'|| router.url=='/dashboard/ntrdashboard/NotesToFinancialStatement'}"  routerLink="/dashboard/ntrdashboard/NotesToFinancialStatement"  >
              <span class="fs"></span><span class="leadsheet-label">Notes to Financial Statement</span>
            </a>
          </li>
        </ul>
      </mat-expansion-panel>
      <!--  -->
      <ul class="ntr-menu">
        <li>
          <a  [ngClass]="{'active':selectedMenu == 'completion-signOff'|| router.url=='/dashboard/ntrdashboard/CompletionSignOff'}" (click)="viewNtrItems('completion-signOff')"  routerLink="/dashboard/ntrdashboard/CompletionSignOff" >
            <span class="cs"></span><span class="leadsheet-label">Completion & Sign off</span>
          </a>
        </li>
      </ul>
      <!--  -->
      <!--  -->
      <ul class="ntr-menu">
        <li>
          <a (click)="viewNtrItems('tax')" [ngClass]="{'active':selectedMenu == 'tax' || router.url=='/dashboard/ntrdashboard/Tax'}"  routerLink="/dashboard/ntrdashboard/Tax" >
            <span class="tx"></span><span class="leadsheet-label">Tax</span>
          </a>
        </li>
      </ul>
      <!--  -->

      <!--  -->
      <ul class="ntr-menu">
        <li>
          <a (click)="viewNtrItems('reports')" [ngClass]="{'active':selectedMenu == 'reports' || router.url=='/dashboard/ntrdashboard/Report'}"  routerLink="/dashboard/ntrdashboard/Report" >
            <span class="re"></span><span class="leadsheet-label">Reports</span>
          </a>
        </li>
      </ul>
      <!--  -->

    </mat-accordion>

  </div>
  <!-- Right Panel -->
  <div class="ntr-panel-right"
  [ngClass]="{'trailanceEnabled':router.url=='/dashboard/ntrdashboard/TrialBalance'}">
      <router-outlet></router-outlet>
  </div>
</div>
