<div class="container-fluid welcome-screen login-container">
  <div class="row">
    <div class="col-md-12 ">
      <div class="elem-p welcome-screen-branding-container">
        <div class="float-left backto-home">
          <a class="" href="javascript:void(0)" routerLink="" routerLinkActive="active">
            <span><i class="material-icons">keyboard_arrow_left</i></span>
            <span>Back to home</span>
          </a>
        </div>

        <div class="elem-c">
          <div class="branding "><span class="icon-adinovis"></span></div>
          <p>Adapt. Improve. Grow</p>
        </div>
      </div>
    </div>
  </div>
  <div class="elem-p">
    <div class="elem-c">
      <div class="login">
        <mat-tab-group>
          <mat-tab label="Auditor">
            <h5 class="title">Login</h5>
            <form [formGroup]="loginForm" (ngSubmit)="login()" autoComplete="off">
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field>
                    <mat-icon matPrefix class="icon-email"></mat-icon>
                    <input matInput formControlName="emailId" placeholder="Email Address" required>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field>
                    <mat-icon matPrefix class="icon-password_ic"></mat-icon>
                    <input type="password" formControlName="password" matInput placeholder="Password" required>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-checkbox>Remember Me</mat-checkbox>
                </div>
                <div class="col-md-6">
                  <a routerLink="/forgotpassword" href="javascript:void(0)">Forgot Password?</a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 last-row">
                  <button mat-raised-button class="secondary-btn" color="primary">Login</button>
                </div>
              </div>
            </form>
          </mat-tab>
          <mat-tab label="Client">
            <h5 class="title">Login</h5>
            <div class="row">
              <div class="col-md-12">
                <mat-form-field>
                  <mat-icon matPrefix class="icon-name_ic"></mat-icon>
                  <input matInput placeholder="Email Address" required>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <mat-form-field>
                  <mat-icon matPrefix class="icon-name_ic"></mat-icon>
                  <input matInput placeholder="Password" required>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-checkbox>Remember Me</mat-checkbox>
              </div>
              <div class="col-md-6">
                <a routerLink="/forgotpassword" href="javascript:void(0)">Forgot Password?</a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 last-row">
                <button mat-raised-button class="secondary-btn" color="primary" disabled>Login</button>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
      <div class="row">
        <div class="col-md-12 dark login-sub-footer">
          <h5>
            Don't have an account?<a href="javascript:void(0)" routerLink="/signup"
                                     routerLinkActive="active">Signup</a>
          </h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 login-footer">
          <a class="" href="javascript:void(0)">EULA</a>
          <span class="devider">I</span>
          <a href="javascript:void(0)">Privacy Policy</a>
        </div>
      </div>
    </div>
  </div>
</div>
