<h5 class="ntr-title">Trialbalance</h5>
<ng-container *ngIf="isTrailBalanceGrid">
  <div class="import-trial-balance">
    <div class="elem-p">
      <div class="elem-c">
        <h4>Quickbooks</h4>
        <div class="status connected">
          <p>Connected</p>
        </div>
        <p class="ntr-msg">Connected to Online Software, You can import the data to generate the Trial Balance Sheet</p>

        <button mat-raised-button class="import-btn rounded-btn" color="primary" (click)="importTrailBalance()">Import Trial Balance</button>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="!isTrailBalanceGrid">
  <!--  -->
  <div class="col-md-12 tb-header">
    <div class="row full-row">
      <div class="tBalance-left">
        <div class="tBalanceitems">
            <div class="tBalance-Year">
              <mat-form-field>
                <mat-label>Year</mat-label>
                <mat-select disableOptionCentering panelClass="my-select-panel-class select-year" [(ngModel)]="tbslectedYear" [formControl]="tbYear" (selectionChange)="trialBalanceYear($event)">
                  <mat-option *ngFor="let year of EngagementYearDetails" [value]="year.acctyear">{{year.acctyear}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
        </div>
        <div class="tBalanceitems">
            <div class="tBalance-rowselection">
              <mat-form-field>
                <!-- (change)="clientStatusFilter($event.selected, row.mappingStatusName)" -->
                <mat-label>All rows</mat-label>            
                <mat-select disableOptionCentering panelClass="my-select-panel-class select-status" [formControl]="tbRows" multiple (selectionChange)="trialBalanceFilter($event, tbRows.value)">
                  <!-- <mat-option #allSelected (click)="toggleAllSelection()" [value]="0">Select All</mat-option> -->
                  <ng-container *ngFor="let row of mappingStatusDetails">
                    <mat-option [value]="row.mappingStatusId" (click)="tosslePerOne(allSelected.viewValue)" *ngIf="row.mappingStatusId !=6">
                      <span class="float-left">{{row.mappingStatusName}}</span>
                      <span class="float-right sqr-box"
                            [ngClass]="{'unmapped':row.mappingStatusId == 1, 'auto-mapped':row.mappingStatusId == 2, 'added-row':row.mappingStatusId == 4, 'new-row':row.mappingStatusId == 3, 'change-row':row.mappingStatusId == 5, 'all-row':row.mappingStatusId == 6}">
                      </span>
                    </mat-option>
                  </ng-container>
                  <a href="javascript:void(0)" style="padding: 0 8px 8px 8px; margin-left: 7px;" class="transparent-btn float-left" (click)="clearAllstatus()">Clear All</a>
                </mat-select>

              </mat-form-field>
            </div>
        </div>
      </div>
      <div class="tBalance-right">
        <ng-container *ngIf="!showSaveCancel">
          <div class="tBalanceitems">
              <button mat-raised-button class="secondary-btn float-left" color="secondary" (click)="refreshTrialBalanceData()">
                <i class="material-icons">cached</i>
              </button>
            </div>
            <div class="tBalanceitems"><button mat-raised-button class="secondary-btn float-left" (click)="Adjustment()" color="secondary">Adjusting Entries</button></div>
            <div class="tBalanceitems"><button mat-raised-button class="secondary-btn float-left" color="secondary">FX Setting</button></div>
            <div class="tBalanceitems">
              <button (click)="trailBalancePreview()"
                      mat-raised-button class="secondary-btn float-left"
                      color="secondary" [disabled]="isEnableBlanceStatement">
                <i class="material-icons">call_made</i>Preview FS
              </button>
            </div>
            <div class="tBalanceitems">
              <button mat-raised-button type="button" class="secondary-btn float-left" [matMenuTriggerFor]="exportItemMenu" color="secondary">
                <i class="material-icons">arrow_upward</i>Export
                <i class="material-icons">arrow_drop_down</i>
              </button>
              <mat-menu #exportItemMenu="matMenu">
                <button type="button" (click)="exportToPdf()" mat-menu-item>Export PDF</button>
                <button type="button" (click)="exportToExcel()" mat-menu-item>Export Excel</button>
              </mat-menu>
            </div>
        </ng-container>
        
        <ng-container *ngIf="showSaveCancel">
          <div class="tBalanceitems">
              <button mat-raised-button class="secondary-btn float-left row-savebtn" color="secondary" (click)="saveRow()">Save</button>
          </div>
          <div class="tBalanceitems">
              <button mat-raised-button class="secondary-btn float-left row-cancelbtn" color="secondary" (click)="cancelSaveRow()">Cancel</button>
          </div>
        </ng-container>
        
      </div>
    </div>
  </div>
  <!--  -->
  <div class="tb-tbl-grid">
    <table #content mat-table [dataSource]="tbGridData" class="trialBalTable customized-sort post-adjusting-selectedrow-color" matSort [matSortDisabled]="showSaveCancel" (matSortChange)="sortData($event)" matSortActive="name" matSortDirection="asc" matSortDisableClear>
      
      <!-- ACC.NO -->
      <ng-container matColumnDef="accountactions">
        <th mat-header-cell *matHeaderCellDef class="acc-num-actions"></th>
        <td mat-cell *matCellDef="let element; let i = index" class="acc-num-actionstd">
          <!--<i class="material-icons">more_vert</i>-->
          <button mat-icon-button class="more-btn"
                  [matMenuTriggerFor]="menu" aria-label="" #t="matMenuTrigger" [ngClass]="{'menu-enabled':t.menuOpen}" [hidden]="(element.mappingstatusid ==3 && !element.mapsheetid)  || (element.mappingstatusid == 5 && !element.mapsheetid)">
            <mat-icon class="more-actions">more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" class="trial-filtercontent">
            <button mat-menu-item (click)="addRow(element, i)" *ngIf="element.isclientdatasource" [hidden]="(element.mappingstatusid ==3 && !element.mapsheetid)  || (element.mappingstatusid == 5 && !element.mapsheetid)">
              <mat-icon>library_add</mat-icon>
              <span>Add</span>
            </button>
            <button mat-menu-item (click)="deleteAdjustedTrialBal(element, i)" *ngIf="!element.isclientdatasource" [hidden]="(element.mappingstatusid ==3 && !element.mapsheetid)  || (element.mappingstatusid == 5 && !element.mapsheetid)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
            <!-- <button mat-menu-item (click)="saveRow()"  *ngIf="!element.isclientdatasource">
              <mat-icon>done</mat-icon>
              <span>Accept</span>
            </button>
            <button mat-menu-item (click)="deleteRow(element, i)"  *ngIf="!element.isclientdatasource">
              <mat-icon>clear</mat-icon>
              <span>Reject</span>
            </button> -->
            <button mat-menu-item (click)="createDuplicate(element, i)" *ngIf="element.isclientdatasource" [hidden]="(element.mappingstatusid ==3 && !element.mapsheetid)  || (element.mappingstatusid == 5 && !element.mapsheetid)">
              <mat-icon>file_copy</mat-icon>
              <span>Duplicate</span>
            </button>
          </mat-menu>

        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- ACC.NO -->
      <ng-container matColumnDef="accountcode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="accountcode" class="acc-num-col">Acc.No </th>
        <td mat-cell *matCellDef="let element; let i = index" class="acc-num-coltd"><input id="{{'elem'+i}}" [(ngModel)]="element.accountcode" *ngIf="element.isEditable" type="number" min="0" class="trail-textfield" placeholder="Acc.No"> <ng-container *ngIf="!element.isEditable">{{element.accountcode}}</ng-container>  </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- DESCRIPTION Column-->
      <ng-container matColumnDef="accountname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="accountname" class="desc-col">Description </th>
        <td mat-cell title="{{element.accountname}}" class="desc-coltd" *matCellDef="let element"><input *ngIf="element.isEditable" class="trail-textfield desc-field" type="text" [(ngModel)]="element.accountname" placeholder="Description"> <ng-container *ngIf="!element.isEditable">{{element.accountname}}</ng-container></td>
        <td mat-footer-cell *matFooterCellDef>Total</td>
      </ng-container>

      <!-- ORIGINAL Column -->
      <ng-container matColumnDef="originalbalance">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="originalbalance" class="orginal-col">Original </th>
        <!--<td mat-cell *matCellDef="let element"> {{element.originalbalance}} </td>-->
        <td mat-cell class="orginal-coltd" *matCellDef="let element"><input *ngIf="element.isEditable" class="trail-textfield" type="number" [(ngModel)]="element.originalbalance" placeholder="Original"> <ng-container *ngIf="!element.isEditable">{{element.originalbalance}}</ng-container></td>
        <td mat-footer-cell *matFooterCellDef class="orginal-col-foot" [ngClass]="{'negativeValue' :originalred == 'true'}"> {{originalBalTotal}} </td>
      </ng-container>

      <!-- ADJUSTING Column -->
      <ng-container matColumnDef="adjustmentamount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="adjustmentamount" class="adjusting-col"> Adjusting </th>
        <td mat-cell *matCellDef="let element">
          <div class="float-right">
            <button class="transparent-btn" (click)="postAdjustmentEntry(element)">
              <span class="float-left">{{element.adjustmentamount=='0.00'?'-  ':element.adjustmentamount}}</span>
              <!--<span class="material-icons float-right">arrow_drop_down</span>-->
            </button>
          </div>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- FINAL Column -->
      <ng-container matColumnDef="finalamount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="finalamount" class="final-col"> Final </th>
        <td mat-cell *matCellDef="let element"> {{element.finalamount}} </td>
        <td mat-footer-cell *matFooterCellDef class="final-col-foot" [ngClass]="{'negativeValue' :finalred == 'true'}"> {{finalTotal}} </td>
      </ng-container>
      <!-- PY1 Column -->
      <ng-container matColumnDef="py1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="py1" class="py1-col"> PY1 </th>
        <td mat-cell *matCellDef="let element"> <input *ngIf="element.isEditable" class="trail-textfield" type="number" [(ngModel)]="element.py1" placeholder="PY1"><ng-container *ngIf="!element.isEditable">{{element.py1}}</ng-container></td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- CHANGE ($) Column -->
      <ng-container matColumnDef="changes">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="changes" class="change-col"> CHANGE ($) </th>
        <td mat-cell *matCellDef="let element"> {{element.changes}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- PY1 Column -->
      <ng-container matColumnDef="py2">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="py2" class="py2-col"> PY2 </th>
        <td mat-cell *matCellDef="let element"> <input *ngIf="element.isEditable" class="trail-textfield" type="number" [(ngModel)]="element.py2" placeholder="PY2"><ng-container *ngIf="!element.isEditable">{{element.py2}}</ng-container></td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- MAP NO. Column -->
      <ng-container matColumnDef="mapno">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="mapno" class="map-num-col"> MAP NO. </th>
        <td mat-cell *matCellDef="let element"> {{element.mapno}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- LEADSHEET Column -->
      <ng-container matColumnDef="leadsheetcode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="leadsheetcode" class="leedSheet-col"> LEADSHEET </th>
        <td mat-cell *matCellDef="let element" class="leedSheet-coltd"> {{element.leadsheetcode}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- GROUPING Column -->
      <ng-container matColumnDef="fingroupname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="fingroupname" class="grouping-col"> GROUPING </th>
        <td mat-cell title="{{element.fingroupname}}" class="grouping-coltd" *matCellDef="let element"> {{element.fingroupname}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- SUB GROUPING Column -->
      <ng-container matColumnDef="finsubgroupname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="finsubgroupname" class="subGrouping-col"> SUB GROUPING </th>
        <td mat-cell title="{{element.finsubgroupname}}" class="subGrouping-coltd" *matCellDef="let element"> {{element.finsubgroupname}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- GIFI CODE Column -->
      <ng-container matColumnDef="gificode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="gificode" class="gifiCode-col"> GIFI CODE </th>
        <td mat-cell *matCellDef="let element" class="gifiCode-coltd"> {{element.gificode}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- FX TRANSLATION Column -->
      <ng-container matColumnDef="fxtranslation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="fxtranslation" class="fxTransaction-col"> FX TRANSLATION </th>
        <td mat-cell *matCellDef="let element"> {{element.fxtranslation}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- Actions Column -->
      <!-- <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="col-actions">
          <span>Options</span>
        </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="secondary" [matMenuTriggerFor]="actionMenu">
            <span>Options</span>
            <span class="material-icons">arrow_drop_down</span>
          </button>
          <mat-menu #actionMenu="matMenu" class="filterContent action-content"
                    #beforeMenu="matMenu" xPosition="before">

            <button mat-menu-item>Duplicate</button>
            <button *ngIf="!element.isclientdatasource" mat-menu-item (click)="deleteAdjustedTrialBal(element.trailbalanceid)">Delete</button>
          </mat-menu>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container> -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="tblheader"></tr>

      <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="status-row"
          [ngClass]="{'changed':element.mappingstatusid===5, 'changedGroup': element.duplicate === true, 'unmap': element.mappingstatusid === 1, 'new': element.mappingstatusid ===3, 'added': element.mappingstatusid === 4,'rowSelectColor': element.isSelected, 'highlighted-row': element.isOriginal  }" (click)="clickRow(element)"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true" class="tblfooter"></tr>

    </table>
  </div>
</ng-container>
<!-- Adjustment List Flyout -->
<ng-container *ngIf="adjustingFlyOut">
  <div class="flyOut">
    <div class="flyOut-header">
      <div class="float-left">
        <h5>Adjusting Entry</h5>
      </div>
      <div class="float-right">
        <button class="transparent-btn" (click)="closeAdjustment()"><i class="material-icons">close</i></button>
      </div>
    </div>
    <div class="flyOut-body">
      <table mat-table [dataSource]="allAdjustmentEntries">

        <!-- ACC.NO -->
        <ng-container matColumnDef="inaccountcode">
          <th mat-header-cell *matHeaderCellDef class="acc-num-col">ACC.NO </th>
          <td mat-cell *matCellDef="let element"> {{element.inaccountcode}} </td>
        </ng-container>

        <!-- DESCRIPTION Column-->
        <ng-container matColumnDef="inaccountname">
          <th mat-header-cell *matHeaderCellDef class="desc-col">Decription </th>
          <td mat-cell *matCellDef="let element"> {{element.inaccountname}} </td>
        </ng-container>

        <!-- ORIGINAL Column -->
        <ng-container matColumnDef="inacctdebit">
          <th mat-header-cell *matHeaderCellDef class="debit-col">Debit</th>
          <td mat-cell *matCellDef="let element"> {{element.inacctdebit}} </td>
        </ng-container>

        <!-- ADJUSTING Column -->
        <ng-container matColumnDef="inacctcredit">
          <th mat-header-cell *matHeaderCellDef class="credit-col"> Adjusting </th>
          <td mat-cell *matCellDef="let element">
            {{element.inacctcredit}}
          </td>
        </ng-container>

        <!-- FINAL Column -->
        <ng-container matColumnDef="inadjustmenttypeid">
          <th mat-header-cell *matHeaderCellDef class="type-col"> Type </th>
          <td mat-cell *matCellDef="let element">
            <!-- <button class="transparent-btn">
              <span class="float-left">{{element.inadjustmenttypeid}}</span>
              <span class="material-icons float-right">arrow_drop_down</span>
            </button> -->

            <mat-form-field class="field-with-textwidth content">
              <mat-select [(ngModel)]="element.inadjustmenttypeid" (selectionChange)="adjustmentType($event)" [disabled]='true'>
                <mat-option *ngFor="let type of ajustmentTypeDetails" [value]="element.inadjustmenttypeid">{{type.adjustmenttypename}}</mat-option>
              </mat-select>
            </mat-form-field>

          </td>
        </ng-container>
        <!-- PY1 Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="actions-col"> actions </th>
          <td mat-cell *matCellDef="let element">
            <button class="transparent-btn"><i class="material-icons">delete</i></button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="allAdjustmentEntiresColumns"></tr>
        <tr mat-row *matRowDef="let row; columns:allAdjustmentEntiresColumns;"></tr>
      </table>
    </div>
  </div>
</ng-container>
<!-- Post Adjustment Entry Flyout -->
<ng-container *ngIf="postAdjustingEntryFlyOut">
  <div class="flyOut">
    <div class="flyOut-header">
      <div class="float-left">
        <h5>Post Adjusting Entry</h5>
      </div>
      <div class="float-right">
        <button class="transparent-btn" (click)="closeAdjustment()"><i class="material-icons">close</i></button>
      </div>
    </div>
    <div class="flyOut-body">
      <table mat-table [dataSource]="AdjustmentDataGridData">

        <!-- ACC.NO -->
        <ng-container matColumnDef="accNum">
          <th mat-header-cell *matHeaderCellDef class="acc-num-col">ACC.NO </th>
          <td mat-cell *matCellDef="let element"> {{element.accNum}} </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- DESCRIPTION Column-->
        <ng-container matColumnDef="decription">
          <th mat-header-cell *matHeaderCellDef class="desc-col">DESCRIPTION </th>
          <td mat-cell *matCellDef="let element"> {{element.decription}} </td>
          <td mat-footer-cell *matFooterCellDef>Total </td>
        </ng-container>

        <!-- FINAL Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef class="type-col"> TYPE </th>
          <td mat-cell *matCellDef="let element" class="field-with-noborder">
            <button class="transparent-btn">
              <mat-form-field class="field-with-textwidth">
                <!--<mat-label>Type</mat-label>-->
                <!-- <mat-select [(value)]="selected">
                  <mat-option value="option1">Normal</mat-option>
                  <mat-option value="option2">Recurring</mat-option>
                  <mat-option value="option3">Eliminating</mat-option>
                </mat-select> -->
                <mat-select [(ngModel)]="adjustmenttypeid" (selectionChange)="adjustmentType($event)">
                  <mat-option *ngFor="let type of ajustmentTypeDetails" [value]="type.adjustmenttypeid">{{type.adjustmenttypename}}</mat-option>
                </mat-select>
              </mat-form-field>
            </button>
          </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <!-- ORIGINAL Column -->
        <ng-container matColumnDef="debit">
          <th mat-header-cell *matHeaderCellDef class="debit-col">DEBIT</th>
          <td mat-cell *matCellDef="let element"> <input type="number" [(ngModel)]="debit" value="debit" placeholder="00.00"></td>
          <td mat-footer-cell *matFooterCellDef>{{debit}} </td>
        </ng-container>

        <!-- ADJUSTING Column -->
        <ng-container matColumnDef="credit">
          <th mat-header-cell *matHeaderCellDef class="credit-col"> CREDIT </th>
          <td mat-cell *matCellDef="let element">
            <input type="number" [(ngModel)]="credit" [value]="credit" placeholder="00.00">
          </td>
          <td mat-footer-cell *matFooterCellDef>{{credit}} </td>
        </ng-container>


        <!-- PY1 Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="actions-col"> </th>
          <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="!isSaved">
              <div class="savebtn-postentry">
                <button class="transparent-btn" (click)="savePostAdjustingEntry(element)">Save</button>
              </div>
            </ng-container>
            <ng-container *ngIf="isSaved">
              <div class="postbtnicons">
                <button mat-icon-button class="transparent-btn"><i class="material-icons">message</i></button>
                <button mat-icon-button class="transparent-btn"><i class="material-icons">outlined_flag</i></button>
                <button mat-icon-button class="transparent-btn"><i class="material-icons">border_color</i></button>
                <button mat-icon-button class="transparent-btn"><i class="roundedtext">ab</i></button>
                <!--<button class="transparent-btn"><i class="material-icons">arrow_drop_down</i></button>-->
                <button mat-icon-button [matMenuTriggerFor]="menu"><i class="material-icons">more_vert</i></button>
                <mat-menu #menu="matMenu" class="postentry-list">
                  <button mat-menu-item>Add New Below </button>
                  <button mat-menu-item>Edit Entry</button>
                  <button mat-menu-item>Add Note</button>
                  <button mat-menu-item>Raise Issue</button>
                  <button mat-menu-item>Sign off</button>
                  <button mat-menu-item>Delete Entry</button>
                </mat-menu>
              </div>
            </ng-container>
          </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="AdjustmentColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: AdjustmentColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="AdjustmentColumns"></tr>
      </table>
      <div class="col-md-12">
        <div class="row full-row Post-Adjustment">
          <div class="tBalance-left Post-Adjustment-leftentry">
            <div class="tBalanceitems">
              <button mat-raised-button class="primary-btn secondary-btn" color="secondary">Prev Entry</button>
            </div>
            <div class="tBalanceitems post-nextentry">
              <button mat-raised-button class="primary-btn secondary-btn" color="secondary">Next Entry(4)</button>
            </div>
            <div class="tBalanceitems">
              <button mat-raised-button class="primary-btn secondary-btn" color="secondary">View All</button>
            </div>

          </div>
          <div class="tBalance-right Post-Adjustment-rightentry">
            <div class="tBalanceitems">
              <button mat-raised-button class="primary-btn secondary-btn" color="primary">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<!-- Deleting trailbalance entry popup -->
<ng-template #deleteAdjustedTrialBalDialog>
  <div mat-dialog-content class="dialogBox">
    <button class="transparent-btn float-right close-btn" [mat-dialog-close]><i class="material-icons">close</i></button>
    <div class="elem-p">
      <div class="elem-c">
        <h5>Delete Trial Balance</h5>
      </div>
    </div>

    <p class="mar-t-20">Are you sure you want to delete trial balance</p>

  </div>
  <div mat-dialog-actions class="dialogBoxActions">
    <button mat-raised-button class="secondary-btn l30 float-left" color="secondary" [mat-dialog-close]>Cancel</button>
    <button mat-raised-button class="secondary-btn l30 float-right" color="primary" (click)="confirmDeleteAdjustedTrialBal()">Ok</button>
  </div>
</ng-template>
