@import "../../../../variables.scss";

%stattus-props {
  padding: 2px 7px;
  font-size: 7px;
  font-weight: bold;
  text-transform: uppercase;
  color: $white-color;
  width: auto;
  display: inline-block;
  position: absolute;
  left: 10px;
  margin-top: 18px;
  border-radius: 3px;
  letter-spacing: 1px;
  line-height: 1.2;
  left: -4px;
  transform: rotate(-90deg);
  border-radius:0;
}

.import-trial-balance {
  margin-top: 72px;

  h4 {
    font-size: 24px;
    margin-bottom: 16px;
  }

  .status {
    padding: 5px 10px;
    display: inline-block;

    &.connected {
      background-color: $teal-v1-color;
    }

    p {
      font-size: 14px;
      margin: 0px;
    }
  }

  .ntr-msg {
    margin-top: 42px;
    color: $gray-v4-color;
    max-width: 408px;
    line-height: 22px;
  }
}

.import-btn {
  margin: 32px 0 !important;
}

//
// Mixins
@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

table {
  &.trailBalanceGrid {
    box-sizing: border-box;
    width: calc(100% - 4px);
    min-width: 1260px;
  }
}


tr.mat-footer-row, tr.mat-row {
  height: 48px !important;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-sort-header-arrow {
  transform: translateY(0) !important;
}

.mat-table {
  background: none;
}

.mat-table thead tr {

  th {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.trialBalTable {
  &.mat-table {

    thead tr th {
      text-align: right;
      white-space: nowrap;
      background-color: white !important;
      border-bottom: 1px solid $gray-v11-color;

      &.acc-num-actions {
        width: 43px;
        min-width: 43px;
      }

      &.acc-num-col, &.desc-col, &.subGrouping-col {
        text-align: left;
      }

      &.grouping-col, &.leedSheet-col, &.gifiCode-col {
        .mat-sort-header-container {
          justify-content: center;
        }
      }

      &.orginal-col, &.adjusting-col, &.final-col, &.py1-col, &.change-col, &.py2-col, &.map-num-col, &.fxTransaction-col {
        .mat-sort-header-container {
          justify-content: flex-end;
        }
      }
    }

    tbody tr {
      border-bottom: 1px solid $gray-v3-color;

      &.highlighted-row {
        border: 2px solid $primary-v6-color;
      }

      td {
        border-bottom: 1px solid $gray-v11-color;
      }

      &:hover {
        td {
          background-color: rgba(0, 0, 0, 0.04);
          cursor: pointer;

          &.acc-num-actionstd {
            .material-icons {
              display: block;
            }
          }

          .trail-textfield {
            background-color: transparent;
            border-bottom: 1px solid #BCBCBC;


            &:focus {
              outline: none;
            }
          }
        }
      }

      &:last-child {
        border-bottom: none;
      }

      & td {
        /*border-right: 1px solid $gray-v3-color;*/
        padding-left: 8px;
        padding-right: 8px;
        text-align: right;

        &.orginal-coltd {
          .trail-textfield {
            text-align: right;
          }
        }

        &.acc-num-actionstd {
          .material-icons {
            color: $black-v3-color;
            display: none;
          }

          .mat-menu-item {
            font-size: 12px;
            height: 26px;
          }
        }

        .trail-textfield {
          border: 1px solid transparent;
          width: 100%;
          /*text-align: right;*/
        }

        &.acc-num-coltd, &.desc-coltd, &.subGrouping-coltd {
          text-align: left;
        }

        &.grouping-coltd, &.leedSheet-coltd, &.gifiCode-coltd {
          text-align: center;
        }

        &.desc-coltd {
          width: auto;
          min-width: 400px;
          max-width: 400px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          & .desc-field {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        &.grouping-coltd, &.subGrouping-coltd {
          width: auto;
          max-width: 200px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &:last-child {
          border-right: none;
        }

        & button {
          display: inline-block;
          width: 100%;
        }
      }
    }

    tfoot tr td {
      &.orginal-col-foot, &.final-col-foot {
        text-align: right;
      }
    }
  }
}

.trial-filtercontent {
  button {
    font-size: 12px;
    height: 40px;

    .mat-icon {
      color: $black-color;
    }
  }
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
  padding-left: 8px !important;
}

td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
  padding-right: 8px !important;
}

.mat-table thead tr th {
  border-bottom-width: 0;
  color: $secondary-color;
  background-color: $gray-v10-color;
  text-transform: uppercase;
}

.mat-table tbody tr td {
  background: $white-color;
}

.mat-sort-header-button {
  font-size: 12px;
  color: $secondary-color;
}

.filterContent {
  height: auto;
  overflow: hidden;
  padding-top: 10px;

  .mat-menu-content {
    padding: 0 16px;

    .mat-checkbox {
      display: inline-block;
      width: 100%;
    }
  }

  &.action-content {
    .mat-menu-content {
      padding: 4px;
    }

    button.mat-menu-item {
      font-size: 12px;
      line-height: normal;
      padding: 8px 12px;
      height: auto;
      color: $secondary-color;
    }
  }

  &.status-lbl {
    width: auto;
    max-width: 140px;
  }
}

.mat-raised-button {

  &.mat-secondary {
    @include border-radius(38px !important);
    box-shadow: none;
    border: 1px solid $gray-v8-color;
    color: $secondary-color;
    font-size: 14px;
    line-height: 29px;
  }
}
//dialogBox
.dialogBox {

  table {
    min-width: 0;
  }

  .acc-num-col {
    max-width: 80px;
    width: 80px;
  }

  .desc-col {
    width: 200px;
  }

  .debit-col {
    width: 150px;
    max-width: 150px;
  }

  .dialogBox .credit-col {
    width: 150px;
    max-width: 150px;
  }

  .dialogBox .type-col {
    width: 150px;
    max-width: 150px;
  }

  .mat-table thead tr th {
    background-color: $white-color;
  }
}

.full-row {
  display: inline-block;
  width: 100%;
}

.my-select-panel-class {
  /*left: 40px;*/
  position: relative;
}
/*.cdk-overlay-pane {
  transform: translateX(0px) translateY(23px) !important;
}*/
.tBalanceitems {
  display: inline-block;
  float: left;
  margin-right: 20px;

  &:last-child {
    margin-right: 0px;
  }

  button.secondary-btn {
    margin-top: 7px;
  }
}

.tBalance {
  &-left {
    float: left;
  }

  &-right {
    float: right;

    @media (max-width:1199px) {
      float: left;
      margin-bottom: 10px;
    }
  }
}

.secondary-btn {
  & .material-icons {
    font-size: 20px;
  }
}

table.trialBalTable {
  &.mat-table tbody tr {
    position: relative;

    & td:first-child {
      /*border-left: 5px solid $white-color;*/
      border-left: 1px solid $gray-v11-color;
    }

    &.changed {
      border-bottom: 2px dashed $green-color;
      position: relative;

      &:after {
        content: "CHNG";
        background-color: $green-color;
        @extend %stattus-props;
      }

      & td:last-child {
        border-right: 2px dashed $green-color;
      }

      /*& td:first-child {
        padding-top: 18px;
        border-left: 5px solid $green-color;
      }*/
    }

    &.changedGroup {
      border-top: 2px dashed $green-color;

      & td:last-child {
        border-right: 2px dashed $green-color;
      }

      /*& td:first-child {
        border-left: 3px dashed $green-color;
      }*/

      &.changed {
        border-top: none;
        /*border-left: 5px solid $green-color;*/
        & td:last-child {
          border-right: 2px dashed $green-color;
        }

        /*& td:first-child {
          padding-top: 18px;
          border-left: 5px solid $green-color;
        }*/
      }
    }

    &.unmap {
      &:after {
        content: "UNMAP";
        background-color: $light-pink-color;
        @extend %stattus-props;
      }

      /*& td:first-child {
        border-left: 5px solid $light-pink-color;
        padding-top: 18px;
      }*/
    }

    &.new {
      &:after {
        content: "NEW";
        background-color: $sky-blue-color;
        @extend %stattus-props;
      }

      /*& td:first-child {
        border-left: 5px solid $sky-blue-color;
        padding-top: 18px;
      }*/
    }

    &.added {


      &:after {
        content: "ADDED";
        background-color: $violet-color;
        @extend %stattus-props;
      }

      /*& td:first-child {
        border-left: 5px solid $violet-color;
        padding-top: 18px;
      }*/
    }
  }
}

.adjustingdialogBox {
  & .mat-table tbody tr td button.transparent-btn {
    width: 100px;
  }
}

.tb-tbl-grid {
  /*min-height: calc(100vh - 340px);
  max-height: calc(100vh - 340px);*/
  min-height: calc(100vh - 262px);
  max-height: calc(100vh - 262px);
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  position: relative;

  @media (max-width: 1366px) {
    min-height: calc(100vh - 285px);
    max-height: calc(100vh - 285px);
  }

  @media (min-width:1921px) {
    min-height: calc(100vh - 275px);
    max-height: calc(100vh - 275px);
  }

  & table.trialBalTable{
    margin-left:24px;
  }
}

tfoot.mat-table-sticky {
  background-color: $gray-v10-color;

  & td.mat-footer-cell {
    border-bottom: none;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: 500;
  }
}
//col settings
.col-actions {
  width: 130px;
  max-width: 130px;
}

.desc-col {
  max-width: 150px;
  width: 150px;
}

.orginal-col,
.adjusting-col,
.final-col {
  min-width: 150px;
  width: 150px;
  text-align: right;
}

.negativeValue {
  color: red;
  font-weight: 500;
}
/*Post Adjustment Entry Flyout*/
.flyOut {
  padding: 17px;

  &-header {
    width: 100%;

    .float-left {
      h5 {
        font-size: 19px;
      }
    }

    .float-right {
      i {
        font-size: 19px;
      }
    }
  }

  &-body {
    .mat-table {
      thead tr th {
        background-color: $white-v4-color;

        :first-child {
          text-align: center;
        }
      }

      tbody tr td {
        border-right: 1px dotted $gray-v2-color;
        padding-left: 8px;
        padding-right: 8px;

        &:first-child {
          text-align: center;
        }

        .savebtn-postentry {
          text-align: center;

          button {
            border: 1px solid $gray-v8-color;
            font-size: 14px;
            border-radius: 13px;
            padding: 2px 18px;
          }
        }

        input {
          width: 100px;
          border: none;

          &:focus {
            border-bottom: 1px solid $gray-v8-color;
            outline: none;
          }
        }

        .postbtnicons {
          .mat-button {
            min-width: 50px;
          }


          button {
            vertical-align: bottom;

            i {
              font-size: 20px;
            }

            .roundedtext {
              border: 1px solid black;
              border-radius: 50%;
              font-size: 9px;
              width: 24px;
              height: 24px;
              background-color: $teal-color;
              color: $secondary-color;
              border-color: $teal-color;
              text-align: center;
              padding: 2px;
            }
          }
        }
      }

      tfoot tr td {
        padding-left: 8px;
        padding-right: 8px;
        color: $secondary-v2-color;
        font-weight: 600;
        border-bottom: 3px solid $gray-color;
      }
    }
  }

  .Post-Adjustment {
    margin-top: 20px;

    .tBalanceitems {
      padding: 5px 0;

      button {
        line-height: 38px;
        padding: 0 30px;
      }
    }

    .Post-Adjustment-leftentry {
      .post-nextentry {
        border-right: 1px solid $gray-v8-color;
        padding: 5px 27px 5px 0;
      }
    }

    .Post-Adjustment-rightentry {
      float: right;
    }
  }
}

.my-select-panel-class {
  position: relative;

  &.select-year {
    left: 15px;
    max-width: 180px !important;
    min-width: 0px !important;
  }

  &.select-status {
    left: 40px;
  }
}

.content {
  font-weight: 600;
}

.sqr-box {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-color: $white-v4-color;
  margin-top: 13px;

  &.unmapped {
    background-color: $light-pink-v1-color;
  }

  &.auto-mapped {
    background-color: transparent;
  }

  &.all-row {
    background-color: transparent;
  }

  &.added-row {
    background-color: $violet-v1-color;
  }

  &.change-row {
    background-color: $teal-v2-color;
  }

  &.new-row {
    background-color: $sky-blue-v2-color;
  }
}

.menu-enabled {

  & .more-actions {
    border-radius: 50%;
    background-color: $gray-v12-color;
    width: 30px;
    height: 30px;
  }
}

.more-btn {
  width: 30px !important;

  & .mat-button-wrapper {
    width: 100%;
  }
}

.more-actions {
  width: 30px !important;
  height: 30px !important;
  line-height: 30px !important;
  padding: 0px !important;
}

.rowSelectColor {
  & td {
    background-color: $secondary-v2-color !important;
    color: $primary-v6-color;

    & .more-actions {
      display: block !important;
      color: $white-color !important;
    }

    .trail-textfield {
      border: none;
      background-color: $secondary-v2-color !important;
      color: $primary-v6-color;
      border-bottom: 1px solid $primary-v6-color !important;

      &:focus {
        outline: none !important;
      }
    }
  }
}

.tBalanceitems {
  .row-savebtn {
    padding: 2px 30px;
    font-size: 14px;
    color: $black-v3-color;
    background-color: $primary-v6-color;
    border: transparent;
  }

  .row-cancelbtn {
    padding: 1px 18px;
    font-size: 14px;
    color: $black-v3-color;
    border:1px solid $gray-v13-color;
  }
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.tBalance-Year, .tBalance-rowselection {
  width: 180px;
}