<div class="financialstatement">
  <div class="col-md-12 ng-star-inserted">
    <div class="row full-row">
      <div class="fBalance-left">
        <h5 class="ntr-title">Financial Statements</h5>
      </div>
      <div class="fBalance-right">
        <div class="fBalanceitems">
          <button class="secondary-btn float-left mat-raised-button mat-secondary" color="secondary" type="button" ng-reflect-color="secondary">
            <span class="mat-button-wrapper"><i class="material-icons">arrow_upward</i>Export </span>
          </button>
        </div>
        <div class="fBalanceitems">
          <button class="secondary-btn float-left mat-raised-button mat-secondary" color="secondary" type="button" ng-reflect-color="secondary">
            <span class="mat-button-wrapper"><i class="material-icons">print</i>Print </span>
          </button>
        </div>
      </div>
    </div>
    </div>
    
    <div class="cp-container">
      <div class="cp-view">
        <mat-tab-group (selectedTabChange)="switchTabs($event)">
          <mat-tab label="Cover Page">
            <ng-container *ngIf="selectedTab==1">
              <app-cover-page></app-cover-page>
            </ng-container>
          </mat-tab>
          <mat-tab label="Table of Contents">
            <ng-container *ngIf="selectedTab==2">
              <app-table-of-contents></app-table-of-contents>
            </ng-container>
          </mat-tab>
          <mat-tab label="Compilation Report">
            <ng-container *ngIf="selectedTab==3">
              <app-compilation-report></app-compilation-report>
            </ng-container>
          </mat-tab>
          <mat-tab label="Balance sheet">
            <balance-sheet-preview></balance-sheet-preview>
          </mat-tab>
          <mat-tab label="Income Statement">
            <income-sheet-preview></income-sheet-preview>
          </mat-tab>
          <mat-tab label="Statement of Cash Flows">
            Statement of Cash Flows
          </mat-tab>
          <mat-tab label="Notes to Financial Statements">
            Notes to Financial Statements
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>



