@import "../../../../variables.scss";
.financialstatement {
  .fBalance {
    &-left {
      float: left;
    }

    &-right {
      float: right;

      .fBalanceitems {
        margin-right: 10px;
        display: inline-block;
        float: left;

        button.secondary-btn {
          margin-top: 15px;
        }
      }
    }
  }

  .cp {
    &-container {
      border-top: none !important;

      & .cp-view {
        width: 100%;
        display: inline-block;

        & .mat-tab-group {
          display: flex;
          flex-direction: row;
          width: 100%;
          height: calc(100vh - 255px);
          border-top: 1px solid $gray-v2-color;

          & .mat-tab-header {
            border-bottom: none;
            width: 300px;
            min-width: 300px;
            border-right: 1px solid $gray-v2-color;

            & .mat-ink-bar {
              display: none !important;
            }

            & .mat-tab-header-pagination {
              display: none !important;
            }

            & .mat-tab-labels {
              display: inline-block;
              width: 100%;
              background-color: $white-color;

              & .mat-tab-label {
                width: 100%;
                padding: 0 14px;
                text-align: left;
                background-color: $white-color;
                border-bottom: 1px solid $gray-v2-color;
                position: relative;
                opacity: 1;
                justify-content: flex-start;
                font-weight: normal;

                &:hover {
                  background-color: rgba(0,0,0,.04);
                }

                &.mat-tab-label-active {
                  position: relative;

                  &:before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    content: '';
                    width: 4px;
                    background-color: $primary-color;
                  }
                }
              }
            }
          }

          & .mat-tab-body-wrapper {
            width: 100%;
            padding: 24px 0px 0 24px;
            max-height: 100%;
            overflow-y: auto;
          }
        }
      }
    }
  }
}
