<div class="container-fluid welcome-screen">
  <div class="row">
    <div class="col-md-12 ">
      <div class="elem-p welcome-screen-branding-container">
        <div class="elem-c">
          <div class="branding " title="adinovis"><span class="icon-adinovis"></span></div>
          <p>Adapt. Improve. Grow</p>
        </div>
      </div>
    </div>
  </div>
  <div class="elem-p">
    <div class="elem-c">
      <div class="box">
        <div class="row box-content">
          <h4 class="header-title">Hi {{clientDetailsObj ? clientDetailsObj.clientname : ''}}!</h4>
          <div class="col-md-12 r-one">
            <!--<p class="m-top10 ">{{clientDetailsObj ? clientDetailsObj.businessname : ''}} has added you as their client do you want to accept this?</p>
            <div class="dialogBoxActions">
              <button mat-raised-button class="secondary-btn medium-btn float-left" color="secondary" (click)="rejectInvite()">No, I Reject</button>
              <button mat-raised-button class="secondary-btn medium-btn float-right" color="primary" (click)="acceptInvite()">Yes, I Accept</button>
            </div>-->
            <h4>Please confirm if you wish to be added as a client of ours</h4>
            <div class="elem-p">
              <div class="elem-c">
                <div class="client-invitation-form">
                  <form>
                    <mat-form-field>
                      <mat-label>Choose your response</mat-label>
                      <mat-select disableOptionCentering required [(ngModel)]="clientResponse" [ngModelOptions]="{standalone: true}" (selectionChange)="onResponseChange()">
                        <mat-option value="yes">Yes, I agree to be added as your client</mat-option>
                        <mat-option value="no">No, Do not add me as your client</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngIf="clientResponse == 'yes'">
                      <mat-label>Select source</mat-label>
                      <mat-select disableOptionCentering required [(ngModel)]="accountBookSelected" [ngModelOptions]="{standalone: true}">
                        <mat-option value="quickbooks">Quickbooks</mat-option>
                        <mat-option value="xero">Xero</mat-option>
                        <mat-option value="noaccount">Do not have online accounting software</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <button mat-raised-button class="primary-btn secondary-btn large-btn" color="primary" *ngIf="(clientResponse && clientResponse!='no') && (accountBookSelected && accountBookSelected != 'noaccount')" (click)="connect()">Connect</button>
                    <button mat-raised-button class="primary-btn secondary-btn large-btn" color="primary" *ngIf="(clientResponse && clientResponse=='no') || (accountBookSelected && accountBookSelected == 'noaccount')" (click)="sendResponse()">Send Response</button>
                  </form>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 dark box-footer">
          <a class="" href="javascript:void(0)">EULA</a>
          <span class="devider">I</span>
          <a href="javascript:void(0)">Privacy Policy</a>
        </div>
      </div>
    </div>
  </div>
</div>

