
<div class="statementPreview">
  <button (click)="exportToPdfFinancialStatement()">Save</button>
  <div  id="financialstatement-container">
    <ng-container>
      <app-cover-page></app-cover-page>
    </ng-container>
    <ng-container>
      <app-table-of-contents></app-table-of-contents>
    </ng-container>
    <ng-container>
      <app-compilation-report></app-compilation-report>
    </ng-container>
    <ng-container>
      <balance-sheet-preview></balance-sheet-preview>
    </ng-container>
    <ng-container>
      <income-sheet-preview></income-sheet-preview>
    </ng-container>
  </div>
</div>

